@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
body
{
font-family: Oswald;
    }
.popup-box {

    bottom: 0;
    display: none;
    height: 415px;
    position: fixed;
    right: 10px;
    width: 300px;
    height: 490px;
}
/* .round.hollow {
    margin: 40px 0 0;
} */
.round.hollow a {
    line-height: 12px;
      margin-bottom: 4%;
     margin-right: 2%;
     position:absolute;
      bottom:0;
     right:0;
    border: 2px solid #d9edf7;
    border-radius: 20px;
    color: red;
    color: #d9edf7;
    font-size: 16px;
    padding: 10px 21px;
    text-decoration: none;
font-family: Oswald;
}



.round.hollow a:hover {
   line-height: 12px;
      margin-bottom: 4.1%;
     margin-right: 2.1%;
     position:absolute;
      bottom:0;
     right:0;
    border: 3px solid #0a425f;
    border-radius: 35px;

    font-size: 16px;
    padding: 10px 21px;
    text-decoration: none;
font-family: Oswald;
    color: red;
    color: #0a425f;
   
}
.round.hollowex a {
    line-height: 12px;
      margin-top: 1%;
     margin-right: 2%;
     position:absolute;
      top:0;
     right:0;
    border: 2px solid #d9edf7;
    border-radius: 20px;
    color: red;
    color: #d9edf7;
    font-size: 16px;
    padding: 10px 21px;
    text-decoration: none;
font-family: Oswald;
}
.round.hollowex a:hover {
   line-height: 12px;
      margin-top: 1.1%;
     margin-right: 2.1%;
     position:absolute;
      top:0;
     right:0;
    border: 3px solid #0a425f;
    border-radius: 20px;

    font-size: 16px;
    padding: 10px 21px;
    text-decoration: none;
font-family: Oswald;
    color: red;
    color: #0a425f;
   
}

.round.hollowvd a {
    line-height: 12px;
      margin-top: 1%;
     margin-left: 1%;
     position:absolute;
      top:0;
     left:0;
    border: 2px solid #d9edf7;
    border-radius: 20px;
    color: red;
    color: #d9edf7;
    font-size: 23px;
    padding: 10px 21px;
    text-decoration: none;
font-family: Oswald;
}


.round.hollowvd a:hover {
   line-height: 12px;
      margin-top: 1.1%;
     margin-left: 1.1%;
     position:absolute;
      top:0;
     left:0;
    border: 3px solid #0a425f;
    border-radius: 20px;

    font-size: 23px;
    padding: 10px 21px;
    text-decoration: none;
font-family: Oswald;
    color: red;
    color: #0a425f;
   
}

.round.hollowts a {
    line-height: 12px;
      margin-bottom: 4%;
     margin-left: 1%;
     position:absolute;
      bottom:0;
     left:0;
    border: 2px solid #d9edf7;
    border-radius: 20px;
    color: red;
    color: #d9edf7;
    font-size: 16px;
    padding: 10px 21px;
    text-decoration: none;
font-family: Oswald;
}


.round.hollowts a:hover {
   line-height: 12px;
      margin-bottom: 4.1%;
     margin-left: 1.1%;
     position:absolute;
      bottom:0;
     left:0;
    border: 3px solid #0a425f;
    border-radius: 20px;

    font-size: 16px;
    padding: 10px 21px;
    text-decoration: none;
font-family: Oswald;
    color: red;
    color: #0a425f;
   
}
.round.hollowsc a {
    line-height: 12px;
      margin-bottom: 10%;
     margin-left: 1%;
     position:absolute;
      bottom:0;
     left:0;
    border: 2px solid #d9edf7;
    border-radius: 20px;
    color: red;
    color: #d9edf7;
    font-size: 16px;
    padding: 10px 21px;
    text-decoration: none;
font-family: Oswald;
}
.round.hollowsc a:hover {
   line-height: 12px;
      margin-top: 10.1%;
     margin-left: 1.1%;
     position:absolute;
      bottom:0;
     left:0;
    border: 3px solid #0a425f;
    border-radius: 20px;

    font-size: 16px;
    padding: 10px 21px;
    text-decoration: none;
font-family: Oswald;
    color: red;
    background: #3b4950;
   
}

.popup-box-on {
    display: block !important;
}
.popup-box .popup-head {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    background-color: rgba(52, 59, 64, 0.9);
    clear: both;
    color: #d9edf7;
    display: inline-table;
    font-size: 21px;
    padding: 7px 10px;
    width: 100%;
     font-family: Oswald;
}
.bg_none i {
    border: 1px solid #ff6701;
    border-radius: 25px;
    color: #ff6701;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none:hover i {
    border: 1px solid #000;
    border-radius: 25px;
    color: #000;
    font-size: 17px;
    height: 33px;
    line-height: 30px;
    width: 33px;
}
.bg_none {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    float: left;
}
.popup-box .popup-head .popup-head-right {
    margin: 11px 7px 0;
}
.popup-box .popup-messages {
}
.popup-head-left img {

    width: 44px;
}
.popup-messages-footer > textarea {

    height: 42px !important;
    margin: 7px;
    padding: 5px !important;
    width: 95% !important;
    font-size: 13px;
}
.popup-messages-footer {
  background-color:rgba(52, 59, 64, 0.9);
    bottom: 0;
    position: absolute;
    width: 100%;
}
.popup-messages-footer .btn-footer {
    overflow: hidden;
    padding: 2px 5px 10px 6px;
    width: 100%;
}
.simple_round {
    background: #d1d1d1 none repeat scroll 0 0;
    border-radius: 50%;
    color: #4b4b4b !important;
    height: 21px;
    padding: 0 0 0 1px;
    width: 21px;
}





.popup-box .popup-messages {
    background: #dbe2dfa6  none repeat scroll 0 0;
    height: 330px;
    overflow: auto;
}
.direct-chat-messages {
    overflow: auto;
    padding: 10px;
    transform: translate(0px, 0px);
    
}
.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #a4c6b5;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
}
.popup-messages abbr.timestamp {
    background: #3f9684 none repeat scroll 0 0;
    color: #fff;
    padding: 0 11px;
}

.popup-head-right .btn-group {
    display: inline-flex;
	margin: 0 8px 0 0;
	vertical-align: top !important;
}
.chat-header-button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #636364;
    border-radius: 50%;
    font-size: 14px;
    height: 30px;
    width: 30px;
}
.popup-head-right .btn-group .dropdown-menu {
    border: medium none;
    min-width: 122px;
	padding: 0;
}
.popup-head-right .btn-group .dropdown-menu li a {
    font-size: 12px;
    padding: 3px 10px;
	color: #303030;
}

.popup-messages abbr.timestamp {
    background: #3f9684  none repeat scroll 0 0;
    color: #fff;
    padding: 0 11px;
}
.popup-messages .chat-box-single-line {
    border-bottom: 1px solid #a4c6b5;
    height: 12px;
    margin: 7px 0 20px;
    position: relative;
    text-align: center;
}
.popup-messages .direct-chat-messages {
    height: auto;
}
.popup-messages .direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #1f2121;
}

.popup-messages .direct-chat-timestamp {
    color: rgb(5, 53, 56);
    opacity: 0.6;
}

.popup-messages .direct-chat-name {
	font-size: 15px;
	margin: 0 0 0 49px !important;
	color: rgb(10,10,10);
	opacity: 0.9;
}
.popup-messages .direct-chat-info {
    display: block;
    font-size: 12px;
    margin-bottom: 0;
}
.popup-messages  .big-round {
    margin: -9px 0 0 !important;
}
.popup-messages  .direct-chat-img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid #fff;
	background: #3f9684  none repeat scroll 0 0;
    border-radius: 50%;
    float: left;
    height: 40px;
    margin: -21px 0 0;
    width: 40px;
}
.direct-chat-reply-name {
    color: #fff;
    font-size: 15px;
    margin: 0 0 0 10px;
    opacity: 0.9;
}

.direct-chat-img-reply-small
{
    border: 1px solid #fff;
    border-radius: 50%;
    float: left;
    height: 20px;
    margin: 0 8px;
    width: 20px;
	background:#3f9684;
}

.popup-messages .direct-chat-msg {
    margin-bottom: 10px;
    position: relative;
}

.popup-messages .doted-border::after {
	background: transparent none repeat scroll 0 0 !important;
    border-right: 2px dotted #fff !important;
	bottom: 0;
    content: "";
    left: 17px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 2px;
	 display: inline;
	  z-index: -2;
}

.popup-messages .direct-chat-msg::after {
    background: #fff none repeat scroll 0 0;
    border-right: medium none;
    bottom: 0;
    content: "";
    left: 17px;
    margin: 0;
    position: absolute;
    top: 0;
    width: 2px;
	 display: inline;
	  z-index: -2;
}
.direct-chat-text::after, .direct-chat-text::before {
   
    border-color: transparent #dfece7 transparent transparent;
    
}
.direct-chat-text::after, .direct-chat-text::before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent #d2d6de transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: medium;
    content: " ";
    height: 0;
    pointer-events: none;
    position: absolute;
    right: 100%;
    top: 15px;
    width: 0;
  
}
.direct-chat-text::after {
    border-width: 5px;
    margin-top: -5px;
}
.popup-messages .direct-chat-text {
    background: #dfece7 none repeat scroll 0 0;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border: 1px solid #dfece7;
    border-radius: 2px;
    color: #1f2121;
    font-size: 13px;
}
.direct-chat-text {
    background: #d2d6de none repeat scroll 0 0;
    border: 1px solid #d2d6de;
    border-radius: 5px;
    color: #444;
    margin: 5px 0 0 50px;
    padding: 5px 10px;
    position: relative;
}



/* ##### Start Video Related Css  ##### */


#chat {
    width: 100%;
    height: 80%;
    top: 0px;
    left: 0px;
    overflow: auto;
    background-color: #f1f1f1;


}

.chat {
    width: 100%;
    height: 80%;
    top: 0px;
    left: 0px;
    overflow: auto;
    background-color: #f1f1f1;
}

.chatbox {
    background-color: #f1f1f1;
    height: 95%;

    padding-left: 0px;
    padding-right: 0px;
    border-radius: 5px;
    float: right;

}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {
        height: auto;
    }
}

html,
body {
    height: 100%;
}

.image-upload>input {
    display: none;
}

.image-upload img {
    width: 80px;
    cursor: pointer;
}
/* ##### End Video Related Css  ##### */


  /* ##### video block css  ##### */

  .col-centered{
    float: none;
    margin: 0 auto;
}

  /* ##### video block css  ##### */