<div ng-controller="careator_dashboardCtrl">
    <!-- container section start -->
    

    <section id="container" class="">
        <header class="header dark-bg">
            <div class="toggle-nav">

                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">

                    <!-- <i style="color:#428bca; border: 1px solid #a8cf44;   padding: 5px; border-radius: 5px;" class="fa fa-bars" ng-click="iconMenuClick()"></i> -->
                    <!-- <i class="fa fa-times" style="color:#a8cf44; border: 1px solid #428bca;  padding: 5px;  border-radius: 5px;" id="fog" ng-click="iconMenuClick()"></i> -->

                </div>
            </div>
            <div class="top-nav notification-row">
                <ul class="nav pull-right top-menu">

                    <li class="dropdown">
                        <span ng-if="hour <'12' && min<='59' && sec<='59' && hour >='0'" class="username" style="color: white;"> &nbspGood Morning&nbsp{{name}}</span>
                        <span ng-if="hour >='12' && hour < '17'" class="username" style="color: white;"> Good Afternoon&nbsp{{name}}</span>
                        <span ng-if="hour >='17' && min<='59' && sec<='59' && hour <='23'" class="username" style="color: white;">Good Evening&nbsp{{name}}</span>
                        <br>
                        <span class="username" style="color: white;">{{clock | date:' d MMM yyyy h:mm a'}}</span>
                    </li>
                </ul>
            </div>
            <span ng-click="homeClick()">
                <img style="float:left;width: 63px;margin-top: 5px" src="/careatorApp/css/fav.png" />
                <a class="logo" style="font-weight: 500; letter-spacing: -2.3px;font-family: 'Allerta Stencil';">VC4ALL</a>
            </span>
        </header>

        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" ng-hide="sideBarMenu">

                    <li ng-if="userData.email=='vc4all@careator.com'">
                        <a href="#!/dashboard/userCreate">
                            <i class="fa fa-user-circle">
                                <span>&nbspCreate User</span>
                            </i>
                        </a>
                    </li>
                    <li ng-if="userData.email=='vc4all@careator.com'">
                        <a href="#!/dashboard/userRestrict">
                            <i class="fa fa-universal-access">
                                <span>&nbspRestrict Connectivity</span>
                            </i>
                        </a>
                    </li>
                    <li ng-if="userData.email=='vc4all@careator.com'">
                        <a href="#!/dashboard/createGroup">
                            <i class="fa fa-users">
                                <span>&nbspCreate Group</span>
                            </i>
                        </a>
                    </li>
                    <li ng-if="userData.email=='vc4all@careator.com'">
                        <a href="#!/dashboard/usersList">
                            <i class="fa fa-list-alt">
                                <span>&nbspAll Users</span>
                            </i>
                        </a>
                    </li>
                    <li ng-if="userData.email=='vc4all@careator.com'">
                        <a href="#!/dashboard/groupList">
                            <i class="fa fa-list">
                                <span>&nbspAll Groups</span>
                            </i>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#!/dashboard/ipost">
                            <i class="fa fa-user-circle-o">
                                <span>&nbspPost</span>
                            </i>
                        </a>
                    </li> -->
                    <li>
                        <a href="#!/dashboard/profile">
                            <i class="fa fa-user-circle-o">
                                <span>&nbspProfile</span>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#!/dashboard/chat">
                            <i class="fa fa-comment">
                                <span>&nbspChat</span>
                            </i>
                        </a>
                    </li>
                    <li ng-if="videoRights=='yes'">
                        <a href="#" ng-click="navigateintoBoth_CVoption()">
                            <i class="fa fa-video-camera">
                                <span>&nbsp Instant</span>
                            </i>
                        </a>
                    </li>
                    <li ng-if="videoRights=='yes'">
                        <a href="#!/dashboard/vc4allSchedule">
                            <i class="fa fa-video-camera">
                                <span>&nbspSchedule</span>
                            </i>
                        </a>
                    </li>
                    <li >
                        <a href="#!/dashboard/upcomingEvent">
                            <i class="fa fa-video-camera">
                                <span>&nbsp;Upcoming Event</span>
                            </i>
                        </a>
                    </li>
                    <li >
                        <a href="#!/dashboard/historyEvent">
                            <i class="fa fa-video-camera">
                                <span>&nbsp;History Event</span>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a ng-click="logout()">
                            <i class="fa fa-sign-out">
                                <span>&nbspLogout</span>
                            </i>
                        </a>
                    </li>



                </ul>
            </div>
        </aside>
        <!-- <textarea id="ta" class="ta"></textarea>
        <div id="render" style="display:none"></div> -->
        <!--sidebar end-->
        <div ui-view class="user-body">
        </div>

        <button data-toggle="modal" data-target="#notify_msg_confirm" id="notify_msg_confirm_button" data-backdrop="static" data-keyboard="false"
            style="display:none">Enter Password</button>

        <div class="modal fade" id="notify_msg_confirm" role="dialog">
            <div class="modal-dialog">
                <center>
                    <form>
                        <div class="modal-content" style="color:#777;max-width:350px;">
                            <div class="modal-header" style="background-image: linear-gradient(to bottom, #383c3f 0%, #202224 100%);">
                                <img style="width: 45px;margin-top: -15px; margin-left: -150px;" src="/home/img/fav.png" />
                                <span class="modal-title"></span>Message
                            </div>
                            <div class="modal-body">
                                <label id="notify_msg_confirm_content" style="color:red"></label>
                            </div>
                            <div class="modal-footer" style="border-top:0px;background-color: #f5f5f5;" ng-if="resetLoginFlag_clicked=='true'">
                                <button type="button" style="background-color: #29b6bd;color:#f1f1f1" class="btn" data-dismiss="modal">Cancel</button>
                                <button type="button" style="background-color: #29b6bd;color:#f1f1f1" class="btn" ng-click="ok_forLogin()">Ok</button>
                            </div>
                        </div>
                    </form>
                </center>
            </div>
        </div>

    </section>
    <!-- <script src="../dashboard_Lib/js/jquery.js"></script> -->
    <script src="../dashboard_Lib/js/bootstrap.min.js"></script>
    <script src="../dashboard_Lib/js/jquery.nicescroll.js"></script>
    <script src="../dashboard_Lib/js/jquery.scrollTo.min.js"></script>
    <script src="../dashboard_Lib/js/scripts.js"></script>
</div>