<div ng-controller="careator_dashboardCtrl">
    <!-- container section start -->
    <!-- <script src="../dashboard_Lib/js/jquery.js"></script>
    <script src="../dashboard_Lib/js/bootstrap.min.js"></script> -->
    <!-- <script src="../dashboard_Lib/js/jquery.nicescroll.js"></script>
    <script src="../dashboard_Lib/js/jquery.scrollTo.min.js"></script> -->
    <!-- <script src="../dashboard_Lib/js/scripts.js"></script> -->

    <style>
        .mb-3 {
            padding: 5px;

        }

        .ictextparnt {
            line-height: 15px;
            height: 70px;
            padding: 12px;
            box-shadow: 1px 2px 5px #000;
            color: white;
            border-radius: 5px;
            background-image: linear-gradient(to bottom, #383c3f 0%, #202224 100%);
        }

        .ictextparnt:hover {
            background-image: linear-gradient(to bottom, #383c3f 0%, #124169 100%);
            /* background: #124169; */
            padding: 14px;

            box-shadow: 1px 2px 5px #000;

        }

        .ictext {
            color: gainsboro;
            font-size: 11px;
        }

        .ictexticon {
            font-size: 20px;
            color: lightsalmon;
        }
    </style>
    <section id="container" class="">
        <header class="header dark-bg" style="position:fixed;">
            <div class="toggle-nav">

                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">
                    <i style="color:#428bca; border: 1px solid #a8cf44;   padding: 5px; border-radius: 5px;" class="fa fa-bars"></i>
                </div>
            </div>
            <div class="top-nav notification-row">
                <ul class="nav pull-right top-menu">

                    <li class="dropdown">
                        <span ng-if="hour <'12' && min<='59' && sec<='59' && hour >='0'" class="username" style="color: white;"> &nbspGood Morning&nbsp{{userData.firstName}}&nbsp;{{userData.lastName}}</span>
                        <span ng-if="hour >='12' && hour < '17'" class="username" style="color: white;"> Good Afternoon&nbsp;{{userData.firstName}}&nbsp;{{userData.lastName}}</span>
                        <span ng-if="hour >='17' && min<='59' && sec<='59' && hour <='23'" class="username" style="color: white;">Good Evening&nbsp;{{userData.firstName}}&nbsp;{{userData.lastName}}</span>
                        <br>
                        <span class="username" style="color: white;">{{clock | date:' d MMM yyyy h:mm a'}}</span>
                    </li>
                </ul>
            </div>
            <span ng-click="homeClick()">
                <img style="float:left;width: 63px;margin-top: 5px" src="/careatorApp/css/fav.png" />
                <a class="logo" style="font-weight: 500; letter-spacing: -2.3px;font-family: 'Allerta Stencil';">VC4ALL</a>
            </span>
        </header>

        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse">
                <!-- <ul class="sidebar-menu" ng-hide="sideBarMenu">

                    <li ng-if="userData.email=='vc4all@talenkart.com'">
                        <a href="#!/dashboard/userCreate">
                            <i class="fa fa-user-circle">
                                <span>&nbspCreate User</span>
                            </i>
                        </a>
                    </li>
                    <li ng-if="userData.email=='vc4all@talenkart.com'">
                        <a href="#!/dashboard/userRestrict">
                            <i class="fa fa-universal-access">
                                <span>&nbspRestrict Connectivity</span>
                            </i>
                        </a>
                    </li>
                    <li ng-if="userData.email=='vc4all@talenkart.com'">
                        <a href="#!/dashboard/createGroup">
                            <i class="fa fa-users">
                                <span>&nbspCreate Group</span>
                            </i>
                        </a>
                    </li>
                    <li ng-if="userData.email=='vc4all@talenkart.com'">
                        <a href="#!/dashboard/usersList">
                            <i class="fa fa-list-alt">
                                <span>&nbspAll Users</span>
                            </i>
                        </a>
                    </li>
                    <li ng-if="userData.email=='vc4all@talenkart.com'">
                        <a href="#!/dashboard/loginDetails">
                            <i class="fa fa-address-book">
                                <span>&nbspLog Details</span>
                            </i>
                        </a>
                    </li>
                    <li ng-if="userData.email=='vc4all@talenkart.com'">
                        <a href="#!/dashboard/groupList">
                            <i class="fa fa-list">
                                <span>&nbspAll Groups</span>
                            </i>
                        </a>
                    </li>

                    <li>
                        <a href="#!/dashboard/profile">
                            <i class="fa fa-user-circle-o">
                                <span>&nbspProfile</span>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#!/dashboard/chat">
                            <i class="fa fa-comment">
                                <span>&nbspChat</span>
                            </i>
                        </a>
                    </li>
                    <li ng-if="videoRights=='yes'">
                        <a ng-click="navigateintoBoth_CVoption()">
                            <i class="fa fa-video-camera">
                                <span>&nbsp Instant</span>
                            </i>
                        </a>
                    </li>
                    <li ng-if="videoRights=='yes'">
                        <a href="#!/dashboard/vc4allSchedule">
                            <i class="fa fa-pencil-square-o">
                                <span>&nbspSchedule</span>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#!/dashboard/upcomingEvent">
                            <i class="fa fa-calendar">
                                <span>&nbsp;Upcoming Event</span>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#!/dashboard/historyEvent">
                            <i class="fa fa-history">
                                <span>&nbsp;Event History</span>
                            </i>
                        </a>
                    </li>

                    <li>
                        <a ng-click="logout()">
                            <i class="fa fa-sign-out">
                                <span>&nbspLogout</span>
                            </i>
                        </a>
                    </li>
                    ng-click="menuclick()"
                </ul> -->



                <!-- sidebar menu start-->
                <div class="sidebar-menu" id="sidebarmnudesktop" ng-hide="sideBarMenu">
                    <!-- <a href="https://norecruits.com">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="loginType=='superAdmin'">
                             
                            <i class="fa fa-home ictexticon">
                            </i>
                            <br>
                            <span class="ictext">Home</span>
                        </div>
                    </a> -->
                    <a href="#!/dashboard/organizationCreate">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="loginType=='superAdmin'">

                            <i class="fa fa-university ictexticon">
                            </i>
                            <br>
                            <span class="ictext">Create Organization</span>
                        </div>
                    </a>
                    <a href="#!/dashboard/organizationList">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="loginType=='superAdmin'">
                            <i class="fa fa-list-alt ictexticon">
                            </i>
                            <br>
                            <span class="ictext">All Organization</span>

                        </div>
                    </a>
                    <a href="#!/dashboard/userCreate">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="loginType=='admin'">
                            <i class="fa fa-user-circle ictexticon">
                            </i>
                            <br>
                            <span class="ictext">Create User</span>
                        </div>
                    </a>
                    <a href="#!/dashboard/userRestrict">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="loginType=='admin'">
                            <i class="fa fa-universal-access ictexticon">
                            </i>
                            <br>
                            <span class="ictext">Restrict Connectivity</span>
                        </div>
                    </a>
                    <a href="#!/dashboard/createGroup">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="loginType=='admin'">

                            <i class="fa fa-users ictexticon">
                            </i>
                            <br>
                            <span class="ictext">Create Group</span>
                        </div>
                    </a>
                    <a href="#!/dashboard/usersList">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="loginType=='admin'">
                            <i class="fa fa-list-alt ictexticon">
                            </i>
                            <br>
                            <span class="ictext">All Users</span>

                        </div>
                    </a>
                    <a href="#!/dashboard/loginDetails">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="loginType=='admin'">
                            <i class="fa fa-address-book ictexticon">
                            </i>
                            <br>
                            <span class="ictext">Log Details</span>
                        </div>
                    </a>
                    <a href="#!/dashboard/groupList ">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="loginType=='admin'">
                            <i class="fa fa-list ictexticon">
                            </i>
                            <br>
                            <span class="ictext">All Groups</span>
                        </div>
                    </a>

                    <a href="#!/dashboard/profile">
                        <div class="col-sm-6  col-xs-4 ictextparnt">
                            <i class="fa fa-user-circle-o ictexticon">

                            </i>
                            <br>
                            <span class="ictext">Profile</span>
                        </div>
                    </a>
                    <a href="#!/dashboard/chat">
                        <div class="col-sm-6  col-xs-4 ictextparnt">

                            <i class="fa fa-comment ictexticon">

                            </i>
                            <br>
                            <span class="ictext">Chat</span>

                        </div>
                    </a>
                    <a ng-click="navigateintoBoth_CVoption()">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="videoRights=='yes'">

                            <i class="fa fa-video-camera ictexticon">

                            </i>
                            <br>
                            <span class="ictext">Instant</span>

                        </div>
                    </a>
                    <a href="#!/dashboard/vc4allSchedule">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="videoRights=='yes'">

                            <i class="fa fa-pencil-square-o ictexticon">

                            </i>
                            <br>
                            <span class="ictext">Schedule</span>

                        </div>
                    </a>
                    <a href="#!/dashboard/upcomingEvent">
                        <div class="col-sm-6  col-xs-4 ictextparnt">

                            <i class="fa fa-calendar ictexticon">

                            </i>
                            <br>
                            <span class="ictext">Upcoming Event</span>

                        </div>
                    </a>
                    <a href="#!/dashboard/historyEvent">
                        <div class="col-sm-6 col-xs-4 ictextparnt">

                            <i class="fa fa-history ictexticon">

                            </i>
                            <br>
                            <span class="ictext">Event History</span>

                        </div>
                    </a>
                    <a ng-click="logout()">

                        <div class="col-sm-6  col-xs-4 ictextparnt">

                            <i class="fa fa-sign-out ictexticon">

                            </i>
                            <br>
                            <span class="ictext">Logout</span>

                        </div>
                    </a>
                </div>
                <div class="sidebar-menu" id="sidebarmnu" ng-hide="sideBarMenu">
                    <a href="#!/dashboard/organizationCreate" ng-click="menuclick()">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="loginType=='superAdmin'">
                            <i class="fa fa-university ictexticon">
                            </i>
                            <br>
                            <span class="ictext">Create Organization</span>
                        </div>
                    </a>
                    <a href="#!/dashboard/organizationList" ng-click="menuclick()">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="loginType=='superAdmin'">
                            <i class="fa fa-list-alt ictexticon">
                            </i>
                            <br>
                            <span class="ictext">All Organization</span>

                        </div>
                    </a>
                    <a href="#!/dashboard/userCreate" ng-click="menuclick()">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="loginType=='admin'">
                            <i class="fa fa-user-circle ictexticon">
                            </i>
                            <br>
                            <span class="ictext">Create User</span>
                        </div>
                    </a>
                    <a href="#!/dashboard/userRestrict" ng-click="menuclick()">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="loginType=='admin'">
                            <i class="fa fa-universal-access ictexticon">
                            </i>
                            <br>
                            <span class="ictext">Restrict Connectivity</span>
                        </div>
                    </a>
                    <a href="#!/dashboard/createGroup" ng-click="menuclick()">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="loginType=='admin'">

                            <i class="fa fa-users ictexticon">
                            </i>
                            <br>
                            <span class="ictext">Create Group</span>
                        </div>
                    </a>
                    <a href="#!/dashboard/usersList" ng-click="menuclick()">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="loginType=='admin'">
                            <i class="fa fa-list-alt ictexticon">
                            </i>
                            <br>
                            <span class="ictext">All Users</span>

                        </div>
                    </a>
                    <a href="#!/dashboard/loginDetails" ng-click="menuclick()">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="loginType=='admin'">
                            <i class="fa fa-address-book ictexticon">
                            </i>
                            <br>
                            <span class="ictext">Log Details</span>
                        </div>
                    </a>
                    <a href="#!/dashboard/groupList" ng-click="menuclick()">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="loginType=='admin'">
                            <i class="fa fa-list ictexticon">
                            </i>
                            <br>
                            <span class="ictext">All Groups</span>
                        </div>
                    </a>

                    <a href="#!/dashboard/profile" ng-click="menuclick()">
                        <div class="col-sm-6  col-xs-4 ictextparnt">
                            <i class="fa fa-user-circle-o ictexticon">

                            </i>
                            <br>
                            <span class="ictext">Profile</span>
                        </div>
                    </a>
                    <a href="#!/dashboard/chat" ng-click="menuclick()">
                        <div class="col-sm-6  col-xs-4 ictextparnt">

                            <i class="fa fa-comment ictexticon">

                            </i>
                            <br>
                            <span class="ictext">Chat</span>

                        </div>
                    </a>
                    <a ng-click="navigateintoBoth_CVoption()">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="videoRights=='yes'">

                            <i class="fa fa-video-camera ictexticon">

                            </i>
                            <br>
                            <span class="ictext">Instant</span>

                        </div>
                    </a>
                    <a href="#!/dashboard/vc4allSchedule" ng-click="menuclick()">
                        <div class="col-sm-6  col-xs-4 ictextparnt" ng-if="videoRights=='yes'">

                            <i class="fa fa-pencil-square-o ictexticon">

                            </i>
                            <br>
                            <span class="ictext">Schedule</span>

                        </div>
                    </a>
                    <a href="#!/dashboard/upcomingEvent" ng-click="menuclick()">
                        <div class="col-sm-6  col-xs-4 ictextparnt">

                            <i class="fa fa-calendar ictexticon">

                            </i>
                            <br>
                            <span class="ictext">Upcoming Event</span>

                        </div>
                    </a>
                    <a href="#!/dashboard/historyEvent" ng-click="menuclick()">
                        <div class="col-sm-6 col-xs-4 ictextparnt">

                            <i class="fa fa-history ictexticon">

                            </i>
                            <br>
                            <span class="ictext">Event History</span>

                        </div>
                    </a>
                    <a ng-click="logout()">

                        <div class="col-sm-6  col-xs-4 ictextparnt">

                            <i class="fa fa-sign-out ictexticon">

                            </i>
                            <br>
                            <span class="ictext">Logout</span>

                        </div>
                    </a>
                </div>

                <!-- <li>
                        <a href="#!/dashboard/ipost">
                            <i class="fa fa-user-circle-o">
                                <span>&nbspPost</span>
                            </i>
                        </a>
                    </li> -->
            </div>
        </aside>
        <!-- <textarea id="ta" class="ta"></textarea>
        <div id="render" style="display:none"></div> -->
        <!--sidebar end-->
        <div ui-view class="user-body">
        </div>

        <button data-toggle="modal" data-target="#notify_msg_confirm" id="notify_msg_confirm_button" data-backdrop="static" data-keyboard="false"
            style="display:none">Enter Password</button>

        <div class="modal fade" id="notify_msg_confirm" role="dialog">
            <div class="modal-dialog">
                <center>
                    <form>
                        <div class="modal-content" style="color:#777;max-width:350px;">
                            <div class="modal-header" style="background-image: linear-gradient(to bottom, #383c3f 0%, #202224 100%);">
                                <img style="width: 45px;margin-top: -15px; margin-left: -150px;" src="/home/img/fav.png" />
                                <span class="modal-title"></span>Message
                            </div>
                            <div class="modal-body">
                                <label id="notify_msg_confirm_content" style="color:red"></label>
                            </div>
                            <div class="modal-footer" style="border-top:0px;background-color: #f5f5f5;" ng-if="resetLoginFlag_clicked=='true'">
                                <button type="button" style="background-color: #29b6bd;color:#f1f1f1" class="btn" data-dismiss="modal">Cancel</button>
                                <button type="button" style="background-color: #29b6bd;color:#f1f1f1" class="btn" ng-click="ok_forLogin()">Ok</button>
                            </div>
                        </div>
                    </form>
                </center>
            </div>
        </div>

    </section>

</div>