<div ng-controller="chatCtrl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">



                    <div class="container app">
                        <div class="row app-one">
                            <div class="col-sm-4 side">
                                <div class="side-one">
                                    <div class="row heading">
                                        <div class="form-group has-feedback">
                                            <table style="width: 100%;">
                                                <tr>
                                                    <td style="width: 50px;">
                                                        <div class="col-sm-3 col-xs-3 sideBar-avatar">
                                                            <div class="avatar-icon">
                                                                <img alt="User Pic" ng-if="chatStatus=='Available'" style="max-width: 49px; border: 2px solid yellowgreen;" ng-src="{{profilePicPath}}"
                                                                    id="profile-image1" class="img-circle img-responsive">
                                                                <img alt="User Pic" ng-if="chatStatus=='Busy'" style="max-width: 49px; border: 2px solid goldenrod;" ng-src="{{profilePicPath}}"
                                                                    id="profile-image1" class="img-circle img-responsive">
                                                                <img alt="User Pic" ng-if="chatStatus=='Hide'" style="max-width: 49px; border: 2px solid dimgray;" ng-src="{{profilePicPath}}"
                                                                    id="profile-image1" class="img-circle img-responsive">
                                                                <img alt="User Pic" ng-if="chatStatus=='Sleeping'" style="max-width: 49px; border: 2px solid black;" ng-src="{{profilePicPath}}"
                                                                    id="profile-image1" class="img-circle img-responsive">
                                                                <img alt="User Pic" ng-if="chatStatus=='Custom'" style="max-width: 49px; border: 2px solid #FFC107;" ng-src="{{profilePicPath}}"
                                                                    id="profile-image1" class="img-circle img-responsive">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div style="margin-left: 10px;">
                                                            <h5 style="font-size: 15px;
                                                        text-transform: capitalize;
                                                         color: #555;
                                                         font-weight:600;
                                                        font-family: sans-serif;">{{loginUserName}}</h5>
                                                            <div class="tooltip">
                                                                <span ng-if="chatStatus=='Available'" style="color: yellowgreen;">{{chatStatus}}</span>
                                                                <span ng-if="chatStatus=='Busy'" style="color: goldenrod;">{{chatStatus}}</span>
                                                                <span ng-if="chatStatus=='Hide'" style="color: dimgray;">{{chatStatus}}</span>
                                                                <span ng-if="chatStatus=='Sleeping'" style="color: black;">{{chatStatus}}</span>
                                                                <span ng-if="chatStatus=='Custom'" style="color: #FFC107;">{{chatStatus}}</span>
                                                                <div class="tooltiptext">
                                                                    <span style="background:white;
                                                                        padding: 5px;
                                                                        border-radius: 5px;line-height: 2.5; color: yellowgreen;     box-shadow: 1px 1px 2px #000000ab;"
                                                                        ng-click="statusUpdate('Available')">Available</span>

                                                                    <span style="background:white;
                                                                        padding: 5px;
                                                                        border-radius: 5px;line-height: 2.5;color:goldenrod;     box-shadow: 1px 1px 2px #000000ab;"
                                                                        ng-click="statusUpdate('Busy')">Busy</span>

                                                                    <span style="background:white;
                                                                        padding: 5px;
                                                                        border-radius: 5px;line-height: 2.5;color: dimgray;     box-shadow: 1px 1px 2px #000000ab;"
                                                                        ng-click="statusUpdate('Hide')">Hide</span>
                                                                    <span style="background:white;
                                                                        padding: 5px;
                                                                        border-radius: 5px;line-height: 2.5;color: black;     box-shadow: 1px 1px 2px #000000ab;"
                                                                        ng-click="statusUpdate('Sleeping')">Sleeping</span>

                                                                    <span style="background:white;
                                                                        padding: 5px;
                                                                        border-radius: 5px;line-height: 2.5; color: #FFC107;     box-shadow: 1px 1px 2px #000000ab;"
                                                                        ng-click="statusUpdate('Custom')">Custom</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <button class="heading-compose" id="newchatwin" ng-click="getAllChatRightEmp()" style="
                                                        font-family: lato;

    padding: 5px;
    font-size: 12px;
    background: black;
    border-radius: 5px;
    border: none;
    float: right;
    color: gray;">New
                                                            <span style="color:white">Chat</span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </table>




                                        </div>
                                    </div>
                                    <div class="row sideBar">
                                        <div class="row sideBar-body" ng-repeat="record in chatedGroup_records">
                                            <table style="width: 100%">
                                                <tr>
                                                    <td style="width: 50px;">
                                                        <div class="col-sm-3 col-xs-3 sideBar-avatar">
                                                            <div class="avatar-icon" ng-if="record.groupName==undefined && (record.receiverId!=adminId && record.senderId != adminId)">
                                                                <img ng-if="record.profilePicPath==undefined" src="./css/user.png">
                                                                <img ng-if="record.profilePicPath!=undefined" ng-src="{{record.profilePicPath}}">
                                                            </div>
                                                            <div class="avatar-icon" ng-if="record.groupName==undefined && (record.receiverId==adminId || record.senderId == adminId) ">
                                                                <img ng-if="record.profilePicPath==undefined" src="./css/Admin.png">
                                                                <img ng-if="record.profilePicPath!=undefined" ng-src="{{record.profilePicPath}}">
                                                            </div>
                                                            <div class="avatar-icon" ng-if="record.groupName!==undefined">
                                                                <img src="./css/group.png">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="col-sm-9 col-xs-9 sideBar-main" ng-if="record.groupName==undefined">
                                                            <div class="row">
                                                                <div class="col-sm-8 col-xs-8 sideBar-name" ng-click="chatDetails('individual_chats', record._id, $index)">
                                                                    <span ng-if="record.senderId!=userId" class="name-meta">{{record.senderName}}
                                                                    </span>
                                                                    <span ng-if="record.receiverId!=userId" class="name-meta">{{record.receiverName}}
                                                                    </span>
                                                                    <br>
                                                                    <!-- <span class="time-meta">{{record.timeStamp | date:' d MMM h:mm a'}} -->
                                                                    <span class="time-meta">{{record.timeStamp | amCalendar}}
                                                                    </span>

                                                                    <span ng-if="record.unseenCount > 0" class="notify"> {{record.unseenCount}}</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-9 col-xs-9 sideBar-main" ng-if="record.groupName!==undefined">
                                                            <div class="row">
                                                                <div class="col-sm-8 col-xs-8 sideBar-name" ng-click="chatDetails('group', record._id, $index)">
                                                                    <span class="name-meta">{{record.groupName}}
                                                                    </span>
                                                                    <span ng-if="record.unseenCount > 0" class="notify"> {{record.unseenCount}}</span>
                                                                </div>
                                                                <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                                                        <span class="time-meta">{{record.timeStamp |amCalendar}}
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                                <div class="side-two">
                                    <div class="row newMessage-heading">
                                        <div class="row newMessage-main">
                                            <div class="col-sm-2 col-xs-2 newMessage-back" id="backkjkj">
                                                <i style="font-size: 20px;" class="fa fa-arrow-left" aria-hidden="true"></i>
                                            </div>
                                            <div class="col-sm-10 col-xs-10 newMessage-title">
                                                New Chat
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row composeBox">
                                        <div class="col-sm-12 composeBox-inner">
                                            <div class="form-group has-feedback">
                                                <input id="composeText" type="text" class="form-control" ng-model="search"  name="searchText" placeholder="Search People">
                                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ### Start: New Window ### -->
                                    <div class="row compose-sideBar">
                                        <div class="row sideBar-body" ng-repeat="record in allGroupAndIndividual |filter:search">
                                            <div class="col-sm-3 col-xs-3 sideBar-avatar">
                                                <div class="avatar-icon" ng-if="record.groupName!==undefined && record.email!='vc4all@careator.com'">
                                                    <img src="./css/group.png">
                                                </div>
                                                <div class="avatar-icon" ng-if="record.groupName==undefined && record.email!='vc4all@careator.com'">
                                                    <img ng-if="record.profilePicPath==undefined" src="./css/user.png">
                                                    <img ng-if="record.profilePicPath!=undefined" ng-src="{{record.profilePicPath}}">
                                                </div>
                                                <div class="avatar-icon" ng-if="record.groupName==undefined && record.email=='vc4all@careator.com'">
                                                    <img ng-if="record.profilePicPath==undefined" src="./css/Admin.png">
                                                    <img ng-if="record.profilePicPath!=undefined" ng-src="{{record.profilePicPath}}">
                                                </div>
                                            </div>
                                            <div class="col-sm-9 col-xs-9 sideBar-main" ng-if="record.groupName!==undefined">
                                                <div class="row">
                                                    <div class="col-sm-8 col-xs-8 sideBar-name" ng-click="chatDetailsFromNew('group', $index)">
                                                        <span class="name-meta">{{record.groupName}}
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                                        <span class="time-meta pull-right">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-9 col-xs-9 sideBar-main" ng-if="record.groupName==undefined">
                                                <div class="row">
                                                    <div class="col-sm-8 col-xs-8 sideBar-name" ng-click="chatDetailsFromNew('individual_chats', $index)">
                                                        <span class="name-meta">{{record.name}}
                                                        </span>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                                        <span class="time-meta pull-right">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ### End: New Window ### -->
                                </div>
                            </div>
                            <!-- ### Start: Remote Profile Head ### -->
                            <div class="col-sm-8 conversation">
                                <div class="row heading" style="overflow: hidden;">
                                    <!-- <div class="col-sm-2 col-md-1 col-xs-3 heading-avatar">
                                        <div class="avatar-icon" ng-if="selectedType =='group'">
                                            <img src="./css/group.png">
                                        </div>
                                        <div class="avatar-icon" ng-if="selectedType =='individual_chats' && chatListSection == 'chatWindow'">
                                            <img ng-if="receiverProfilePicPath!=undefined" ng-src="{{receiverProfilePicPath}}">
                                            <img ng-if="receiverProfilePicPath==undefined" src="./css/user.png">
                                        </div>
                                        <div class="avatar-icon" ng-if="selectedType =='individual_chats' && chatListSection == 'newChatWindow'">
                                            <img ng-if="receiverProfilePicPath!=undefined" ng-src="{{receiverProfilePicPath}}">
                                            <img ng-if="receiverProfilePicPath==undefined" src="./css/user.png">
                                        </div>

                                    </div> -->
                                    <div class="col-sm-8 col-xs-7 heading-name">
                                        <div ng-if="selectedType=='group'">
                                            <a class="heading-name-meta">{{individualData.groupName}}
                                            </a>&nbsp;&nbsp;&nbsp;
                                            <span>
                                                <i data-toggle="modal" data-target="#myModal" class="fa fa-info-circle" ng-click=getGroupDetails(individualData.group_id)></i>
                                            </span>
                                        </div>
                                        <a ng-if="selectedType=='individual_chats' && (individualData.senderId==undefined && individualData.receiverId==undefined)"
                                            class="heading-name-meta">{{individualData.name}}
                                        </a>
                                        <a ng-if="selectedType=='individual_chats' && individualData.senderId!=userId" class="heading-name-meta">{{individualData.senderName}}
                                        </a>
                                        <a ng-if="selectedType=='individual_chats' && individualData.receiverId!=userId" class="heading-name-meta">{{individualData.receiverName}}
                                        </a>
                                        <a ng-if="selectedType=='individual_chats' &&  receiverChatStatus=='Available'" class="heading-status">
                                            <br>
                                            <i style="color: greenyellow;    font-size: 7px;" class="fa fa-circle"></i>&nbsp;{{receiverChatStatus}}
                                        </a>
                                        <a ng-if="selectedType=='individual_chats' &&  receiverChatStatus=='Busy'" class="heading-status">
                                            <br>
                                            <i style="color: goldenrod;    font-size: 7px;" class="fa fa-circle"></i>&nbsp;{{receiverChatStatus}}
                                        </a>
                                        <a ng-if="selectedType=='individual_chats' &&  receiverChatStatus=='Hide'" class="heading-status">
                                            <br>
                                            <i style="color: dimgray;    font-size: 7px;" class="fa fa-circle"></i>&nbsp;{{receiverChatStatus}}
                                        </a>
                                        <a ng-if="selectedType=='individual_chats' &&  receiverChatStatus=='Sleeping'" class="heading-status">
                                            <br>
                                            <i style="color: black;    font-size: 7px;" class="fa fa-circle"></i>&nbsp;{{receiverChatStatus}}
                                        </a>
                                        <a ng-if="selectedType=='individual_chats' &&  receiverChatStatus=='Custom'" class="heading-status">
                                            <br>
                                            <i style="color: #FFC107;    font-size: 7px;" class="fa fa-circle"></i>&nbsp;{{receiverChatStatus}}
                                        </a>
                                    </div>

                                    <div class="col-sm-1 col-xs-1 pull-right" id="homeicon" ng-click="chatMenu()" style="margin-right: 20px; margin-top:5px;">
                                        <i style="font-size:25px; cursor: pointer;" class="fa fa-home"></i>
                                    </div>
                                </div>
                                <!-- Modal -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">

                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header" style="background: #1a3b56;">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Group Partcipents({{groupData.groupMembers.length}})</h4>
                                            </div>
                                            <div class="modal-body" style="text-transform: capitalize;">
                                                <table class="table table-striped">
                                                    <tr ng-repeat='groupMember in groupData.groupMembers'>
                                                        <td>
                                                            {{$index+1}}.&nbsp;
                                                        </td>
                                                        <td>
                                                            {{groupMember.name}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" style="width: 60px !important;" class="btn btn-default" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- <div class="avatar-icon" ng-if="selectedType =='group'">
                                        <img src="./css/group.png">
                                    </div>
                                    <div class="avatar-icon" ng-if="selectedType =='individual_chats' && chatListSection == 'chatWindow'">
                                        <img ng-if="receiverProfilePicPath!=undefined" ng-src="{{receiverProfilePicPath}}">
                                        <img ng-if="receiverProfilePicPath==undefined" src="./css/user.png">
                                    </div>
                                    <div class="avatar-icon" ng-if="selectedType =='individual_chats' && chatListSection == 'newChatWindow'">
                                        <img ng-if="receiverProfilePicPath!=undefined" ng-src="{{receiverProfilePicPath}}">
                                        <img ng-if="receiverProfilePicPath==undefined" src="./css/user.png">
                                    </div> -->
                                <div class="row message" id="pulldown">
                                    <div class="row message-body" ng-if="!selectedType">
                                        <center>
                                            <h1 style="
                                            text-transform: capitalize;
                                            font-family: sans-serif;
                                            font-size: 35px;
                                            font-weight: 900;
                                            background-color: #565656;
                                            color: transparent;
                                            text-shadow: 2px 2px 3px rgba(188, 187, 187, 0.5);
                                            -webkit-background-clip: text;
                                            -moz-background-clip: text;
                                            background-clip: text;">
                                                Welcome, {{loginUserName}}
                                            </h1>
                                            <img alt="User Pic" ng-if="chatStatus=='Available'" style=" border: 2px solid yellowgreen;     max-width: 200px;" ng-src="{{profilePicPath}}"
                                                id="profile-image1" class="img-circle img-responsive">
                                            <img alt="User Pic" ng-if="chatStatus=='Busy'" style=" border: 2px solid goldenrod;     max-width: 200px;" ng-src="{{profilePicPath}}"
                                                id="profile-image1" class="img-circle img-responsive">
                                            <img alt="User Pic" ng-if="chatStatus=='Hide'" style=" border: 2px solid dimgray;     max-width: 200px;" ng-src="{{profilePicPath}}"
                                                id="profile-image1" class="img-circle img-responsive">
                                            <img alt="User Pic" ng-if="chatStatus=='Sleeping'" style=" border: 2px solid black;     max-width: 200px;" ng-src="{{profilePicPath}}"
                                                id="profile-image1" class="img-circle img-responsive">
                                            <img alt="User Pic" ng-if="chatStatus=='Custom'" style=" border: 2px solid #FFC107;     max-width: 200px;" ng-src="{{profilePicPath}}"
                                                id="profile-image1" class="img-circle img-responsive">
                                            <br>
                                            <button class="" style="padding: 5px;
                                            box-shadow:  1px 2px 5px #0000004f;
                                            background:white; border-radius: 5px; padding-right: 10px;padding-left: 10px; border:none;"
                                                ng-click="startachat()"> Start a chat</button>
                                            <p>Search new Contact or chat with your contact list</p>

                                        </center>
                                    </div>

                                    <div class="row message-body" ng-repeat="chat in allChat.chats">
                                        <div class="col-sm-12 message-main-receiver" ng-if="chat.senderId!=userId">
                                            <div ng-if="selectedType=='group'" style="background:#ddf8c6;
                                                width: max-content;
                                                padding: 5px;
                                                border-radius: 10px;
                                                text-transform: capitalize;
                                                font-size: 10px;
                                                font-style: italic;
                                                font-weight: 700;">
                                                {{chat.senderName}}
                                            </div>
                                            <div class="receiver">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <div class="avatar-icon" ng-if="selectedType =='individual_chats' && chatListSection == 'chatWindow'">
                                                                <img ng-if="receiverProfilePicPath!=undefined" ng-src="{{receiverProfilePicPath}}">
                                                                <img ng-if="receiverProfilePicPath==undefined" src="./css/user.png">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="message-text">
                                                                {{chat.message}}
                                                            </div>
                                                            <span class="message-time pull-right">
                                                                {{chat.sendTime | amCalendar}}
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </table>

                                            </div>
                                        </div>
                                        <div class="col-sm-12 message-main-sender slideLeft" ng-if="chat.senderId==userId">
                                            <div class="sender">

                                                <div class="message-text">
                                                    {{chat.message}}
                                                </div>
                                                <span class="message-time pull-right">
                                                        {{chat.sendTime | amCalendar}}
                                                </span>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <div class="row reply">
                                    <div class="col-sm-9 col-xs-9 reply-main">


                                        <textarea class="form-control" rows="1" id="comment" ng-model="typedMessage"></textarea>
                                    </div>
                                    <div class="col-sm-1 col-xs-1 reply-recording">
                                        <!-- <label for="fileselect">
                                                <i class="fa fa-upload fa-2x"> </i>
                                            </label>
                                            <input id="fileselect" type="file" name="fileselect" style="display: none;"/> -->
                                    </div>
                                    <div class="col-sm-1 col-xs-1 reply-send">
                                        <button id="sndmgs" ng-click="sendText()" style="
                                            font-family: lato;  
                                            color: gray;                   
                                             padding: 5px;
                                             background: black;
                                             border-radius: 5px;
                                             border: none;
                                             padding-left: 10px;
                                             padding-right: 10px;
                                             float: right;">
                                            Send
                                        </button>

                                        <!-- <button class="btn btn-success" aria-hidden="true" id="sndmgs" ng-click="sendText()">Send</button> -->
                                    </div>
                                </div>
                            </div>
                            <!-- ### End: Remote Profile Head ### -->
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <!-- ##### Start audio play  ##### -->
        <audio id="myAudio">
            <source src="./audio/alert.mp3" type="audio/mpeg">
        </audio>
        <!-- ##### End audio play  ##### -->

    </section>
    <button data-toggle="modal" data-target="#alertcreatuser" id="alertButton" data-backdrop="static" data-keyboard="false" style="display:none"></button>


    <div class="modal fade" id="alertcreatuser" role="dialog">
        <div class="modal-dialog">
            <center>
                <form>
                    <div class="modal-content" style="color:#777;max-width:350px; border-radius: 8px;">
                        <div class="modal-header" style="padding-top: 15px;background-image: linear-gradient(to bottom, #383c3f 0%, #202224 100%);">
                            <img style="width: 45px;margin-top: -15px;margin-left: -190px;" src="/home/img/fav.png" />
                            <span class="modal-title" style="font-weight: 200;">Message</span>
                        </div>
                        <div class="modal-body">
                            <label id="notify_msg_confirm_content" style="color:black;font-size: 20px;">{{notifyMsg}}</label>
                        </div>
                        <div class="modal-footer" style="padding-top: 15px;background-image: linear-gradient(to bottom, #202224 0%, #383c3f 100%);">
                            <button type="button" style="background-color: #565656;
                            color: transparent;
                            text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
                            -webkit-background-clip: text;
                               -moz-background-clip: text;
                                    background-clip: text;" class="btn" data-dismiss="modal">Ok</button>
                        </div>
                    </div>
                </form>
            </center>
        </div>
    </div>
</div>