<div ng-controller="createUsersCtrl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-user"></i>
                        <span style="color:white;">&nbspCREATE USER</span>
                    </div>

                    <div class="panel-body bio-graph-info" style="padding: 15px;">
                        <form class="form-horizontal" role="form" enctype="multipart/form-data">
                            <div class="form-group ">
                                <label class="col-lg-3">User Insert Type*</label>
                                <div class="col-lg-9">
                                    <span>
                                        EnterUser&nbsp;
                                        <input type="radio" name="cat" value="enterValue" ng-model="userInsertType" ng-change="rightEmployeeList('chat')"> &nbsp;&nbsp; Upload User&nbsp;
                                        <input type="radio" name="cat" value="csv" ng-model="userInsertType" ng-change="rightEmployeeList('video')">
                                    </span>
                                </div>
                            </div>
                            <div ng-switch="userInsertType">
                                <div ng-switch-when="enterValue">
                                    <div class="form-group ">
                                        <label class="col-lg-3">User Name*</label>
                                        <div class="col-lg-9">
                                            <span>
                                                <input type="text" ng-model="userName" class="bcontrol-label m-bot15">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="col-lg-3">Employee Id*</label>
                                        <div class="col-lg-9">
                                            <span>
                                                <input type="text" ng-model="empId" class="bcontrol-label m-bot15">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3">Email Id*</label>
                                        <div class="col-lg-9">
                                            <span>
                                                <input type="email" ng-model="empEmail" class="bcontrol-label m-bot15">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label class="col-lg-3">Can Access*</label>
                                        <div class="col-lg-9">
                                            <span>
                                                Chat&nbsp;
                                                <input type="radio" name="cat" value="chat" ng-model="rightSelect" ng-change="rightEmployeeList('chat')"> &nbsp;&nbsp; Video&nbsp;
                                                <input type="radio" name="cat" value="video" ng-model="rightSelect" ng-change="rightEmployeeList('video')"> &nbsp;&nbsp; Both&nbsp;
                                                <input type="radio" name="cat" value="both" ng-model="rightSelect" ng-change="rightEmployeeList('bothChatVideo')">

                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="col-lg-3">Password*</label>
                                            <div class="col-lg-9">
                                                <span>
                                                    <input type="text" ng-model="empPass" class="bcontrol-label m-bot15">
                                                </span>
                                            </div>
                                        </div>
                                    <div class="form-group ">
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn btn-info" ng-click="careatorEmp(userName,empId, empEmail, rightSelect)">Upload</button>
                                        </div>
                                    </div>
                                </div>

                                <div ng-switch-when="csv">
                                    <div class="form-group ">
                                        <label class="col-lg-3">Upload User Details*</label>
                                        <div class="col-lg-9">
                                            <span>
                                                <input type="file" style="width: 166px;font-size: 10px;" class="bcontrol-label btn btn-warning m-bot15" name="myImage" value="Upload"
                                                    image-with-preview file-model="careatorEmp" ng-model="image" accept="csv"
                                                    ng-required="true">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                            <div class="col-lg-12">
                                                <button type="submit" class="btn btn-info" ng-click="uploadCareatorEmp(careatorEmp)">Upload</button>
                                            </div>
                                        </div>
                                </div>
                               
                            </div>


                        </form>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>