<div ng-controller="createUsersCtrl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-user"></i>
                        <span>&nbspCREATE USER</span>
                    </div>

                    <div class="panel-body bio-graph-info" style="padding: 15px;">
                            <p> *All the fields are mandatory to fill.</p>
                        <form class="form-horizontal" role="form" enctype="multipart/form-data">
                            <div class="form-group ">
                                <label class="col-lg-3">User Insert Type*</label>
                                <div class="col-lg-9">
                                    <span>
                                            Create User Manually&nbsp;
                                        <input type="radio" name="cat" value="enterValue" ng-model="userInsertType" ng-change="rightEmployeeList('chat')"> &nbsp;&nbsp; Upload User&nbsp;
                                        <input type="radio" name="cat" value="csv" ng-model="userInsertType" ng-change="rightEmployeeList('video')">
                                    </span>
                                </div>
                            </div>
                            <div ng-switch="userInsertType">
                                <div ng-switch-when="enterValue">
                                    <div class="form-group ">
                                        <label class="col-lg-3">User First Name*:</label>
                                        <div class="col-lg-9">
                                            <span>
                                                <input type="text" ng-model="firstName" class="form-control">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="col-lg-3">User Second Name*:</label>
                                        <div class="col-lg-9">
                                            <span>
                                                <input type="text" ng-model="lastName" class="form-control">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="col-lg-3">Employee ID/Number*:</label>
                                        <div class="col-lg-9">
                                            <span>
                                                <input type="text" ng-model="empId" class="form-control">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <label class="col-lg-3">Designation*:</label>
                                        <div class="col-lg-9">
                                            <span>
                                                <input type="text" ng-model="Designation" class="form-control">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3">Email ID*:</label>
                                        <div class="col-lg-9">
                                            <span>
                                                <input type="email" ng-model="empEmail" class="form-control">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <label class="col-lg-3">Accessibility Permission*:</label>
                                        <div class="col-lg-9">
                                            <span>
                                                Chat&nbsp;
                                                <input type="radio" name="cat" value="chat" ng-model="rightSelect" ng-change="rightEmployeeList('chat')"> &nbsp;&nbsp; Video&nbsp;
                                                <input type="radio" name="cat" value="video" ng-model="rightSelect" ng-change="rightEmployeeList('video')"> &nbsp;&nbsp; Both&nbsp;
                                                <input type="radio" name="cat" value="both" ng-model="rightSelect" ng-change="rightEmployeeList('bothChatVideo')">

                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-lg-3">Password*</label>
                                        <div class="col-lg-9">
                                            <span>
                                                <input type="text" ng-model="empPass" class="form-control">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn btn-info" ng-click="careatorEmp(firstName, lastName,empId, empEmail, empPass,Designation,rightSelect)">Upload</button>
                                        </div>
                                    </div>
                                </div>

                                <div ng-switch-when="csv">
                                    <div class="form-group ">
                                        <label class="col-lg-3">Upload User List (Only csv format supported)</label>
                                        <div class="col-lg-9">
                                            <span>
                                                <input type="file" style="width: 166px;font-size: 10px;" class="bcontrol-label btn btn-warning m-bot15" name="myImage" value="Upload"
                                                    image-with-preview file-model="careatorEmp" ng-model="image" accept="csv"
                                                    ng-required="true">
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group ">
                                        <div class="col-lg-12">
                                            <button type="submit" class="btn btn-info" ng-click="uploadCareatorEmp(careatorEmp)">Upload</button>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </form>
                    </div>
                </section>
            </div>
        </section>
    </section>

</div>