<div ng-controller="groupListCtrl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-users"></i>
                        <span>&nbspGROUP LIST</span>
                    </div>
                    <div class="card mb-3">

                        <!-- <div class="3">
                                <i class="fas fa-table"></i>
                                USER LIST</div> -->
                        <div class="card-body">
                            <div class="form-group has-feedback" style="margin: 5px;width: 300px;">
                                <input id="composeText" type="text" class="form-control" ng-model="search" name="searchText" placeholder="Search People">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-bordered" width="100%" cellspacing="0">
                                    <thead style="background: aliceblue;">
                                        <tr>
                                            <th>#</th>
                                            <th ng-click="sort('groupName')">Group-name
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='groupName'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th ng-click="sort('admin.name')">Admin
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='admin.name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th>Members</th>
                                            <th ng-click="sort('status')">Status
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="emp in groupList |filter:search |orderBy:sortKey:reverse |itemsPerPage:5">
                                            <td>
                                                {{$index+1}}.
                                            </td>
                                            <td>
                                                {{emp.groupName}}
                                            </td>
                                            <td>
                                                {{emp.admin.name}}
                                            </td>

                                            <td>
                                                <div style="background: beige;" ng-repeat="name in emp.groupMembers">{{name.name}}</div>
                                            </td>
                                            <td ng-if="emp.status=='inactive' ||emp.status== null">
                                                Inactive
                                            </td>
                                            <td ng-if="emp.status=='active'">
                                                Active
                                            </td>
                                            <td>
                                                <button class="btn btn-primary fa fa-user-plus" ng-if="emp.status=='inactive' || emp.status== null " ng-click="statusChange(emp._id, 'active')">&nbsp;Activate</button>
                                                <button class="btn btn-warning fa fa-user-times" ng-if="emp.status=='active'" ng-click="statusChange(emp._id, 'inactive')">&nbsp;Deactivate</button>
                                                <button class="btn btn-danger fa fa-trash" ng-click="deleteGroup(emp._id)">&nbsp;Delete</button>
                                                <button class="btn btn-info fa fa-pencil-square-o" ng-click="editGroup($index)">&nbsp;Edit</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>