<div ng-controller="profileCtrl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-user-circle"></i>
                        <span style="color:white;">&nbspProfile</span>
                    </div>

                    <div class="panel-body bio-graph-info" style="padding: 15px; margin: 0px !important;">
                        <div class="row" style="background: #2196f33b;">

                            <div class="col-md-6" style="padding: 10px;">
                                <div align="center">
                                    <img alt="User Pic" style="max-width: 200px;" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                                        id="profile-image1" class="img-circle img-responsive">

                                    <input id="profile-image-upload" class="hidden" type="file">
                                    <div style="color:#999;cursor: pointer;" ng-click="profilpic()">click here to change profile image</div>

                                </div>


                            </div>
                            <div class="col-sm-4">
                                <h2 style="color:#00b1b1;">{{userData.userName}}</h2>

                                <span>
                                    <p>Software Engg.</p>
                                </span>
                            </div>



                        </div>

                        <br>
                        <div class="form-group">
                            <label class="col-lg-2 control-label">School Logo</label>
                            <div class="col-lg-6">
                                <input type="file" id="fileInput" class="btnCont btnCont-uploadColor post_uploadFile" name="logo" value="Upload" onchange="angular.element(this).scope().uploadFile(this.files[0])"
                                    ng-click="fileUploadClick('profile_picPath')" accept="image/jpeg,image/png">
                                <div class="cropArea">
                                    <img-crop image="myImage.originalImage" result-image="myImage.croppedImage" result-blob="myImage.resBlob" area-type="rectangle"
                                        area-min-size="100" area-init-size="100" result-image-format="png" result-image-size="100"
                                        aspect-ratio="1" init-max-area="false" allow-crop-resize-on-corners="false">
                                    </img-crop>
                                </div>
                                <div>Cropped Image:</div>
                                <div>
                                    <img ng-src="{{myImage.croppedImage}}" />
                                </div>
                                <button ng-click="schoolLogoStorage()">Upload</button>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <table class=" table table-hover">
                                <tr>
                                    <td>
                                        <div style="float: right;"> Name :</div>

                                    </td>
                                    <td style="color:#00b1b1;">
                                        {{userData.userName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="float: right;">
                                            Email : </div>

                                    </td>
                                    <td style="color:#00b1b1;">
                                        {{userData.email}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="float: right;">
                                            Employee Id : </div>

                                    </td>
                                    <td style="color:#00b1b1;">
                                        {{userData.empId}}
                                    </td>
                                </tr>

                                <tr ng-if="userData.videoRights=='yes' && userData.chatRights=='yes'">
                                    <td>
                                        <div style="float: right;">
                                            Acess : </div>
                                    </td>
                                    <td style="color:#00b1b1;">
                                        Chat , Video
                                    </td>
                                </tr>
                                <tr ng-if="userData.videoRights=='yes' && userData.chatRights=='no'">
                                    <td>
                                        <div style="float: right;">
                                            Acess : </div>
                                    </td>
                                    <td style="color:#00b1b1;">
                                        Video
                                    </td>
                                </tr>
                                <tr ng-if="userData.videoRights=='no' && userData.chatRights=='yes'">
                                    <td>
                                        <div style="float: right;">
                                            Acess : </div>
                                    </td>
                                    <td style="color:#00b1b1;">
                                        Chat
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div style="float: right;">
                                            Group : </div>

                                    </td>
                                    <td style="color:#00b1b1;">
                                        <span ng-repeat="group in allGroup" style="background: wheat;
                                        width: max-content;
                                        padding: 3px;
                                        border-radius: 5px;
                                        margin-right: 5px;">
                                            {{group.groupName}}
                                        </span>
                                    </td>
                                </tr>
                                <!-- <tr>
                                    <td>
                                        <div style="float: right;">
                                            Can Connect with : </div>

                                    </td>
                                    <td style="color:#00b1b1;">
                                        {{userData.restrictedTo}}
                                    </td>
                                </tr> -->

                            </table>
                        </div>







                    </div>



                </section>
            </div>
        </section>
    </section>
    <style>
        .cropArea {
            background: #E4E4E4;
            overflow: hidden;
            width: 500px;
            height: 350px;
        }
    </style>

</div>