<div ng-controller="usersListCtrl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-user"></i>
                        <span>&nbspUSER LIST</span>
                    </div>
                    <div class="card mb-3">

                        <!-- <div class="3">
                            <i class="fas fa-table"></i>
                            USER LIST</div> -->
                        <div class="card-body">
                            <form class="form-inline">
                                <div class="form-group">
                                    <!-- <label>Search</label> -->
                                    <input id="composeText" type="text" class="form-control" ng-model="search" name="searchText" placeholder="Search People">
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table class="table table-bordered" width="100%" cellspacing="0">



                                    <thead style="background: aliceblue;">
                                        <tr>
                                            <th> #</th>

                                            <th ng-click="sort('name')">Username
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th ng-click="sort('email')">Email
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th>Chat</th>
                                            <th>Video</th>
                                            <th ng-click="sort('status')">Status
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th>Action</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="emp in allemployee | filter:search |orderBy:sortKey:reverse |itemsPerPage:5">
                                            <td>
                                                {{$index+1}}.
                                            </td>
                                            <td>
                                                {{ emp.name }}
                                            </td>
                                            <td>
                                                {{emp.email}}
                                            </td>
                                            <td>
                                                <i ng-if="emp.chatRights=='yes'" class="fa fa-check" style="color: green"></i>
                                                <i ng-if="emp.chatRights=='no'" class="fa fa-times" style="color: red"></i>
                                            </td>
                                            <td>
                                                <i ng-if="emp.videoRights=='yes'" class="fa fa-check" style="color: green"></i>
                                                <i ng-if="emp.videoRights=='no'" class="fa fa-times" style="color: red"></i>
                                            </td>
                                            <td ng-if="emp.status=='inactive'">
                                                Inactive

                                            </td>
                                            <td ng-if="emp.status=='active'">
                                                Active

                                            </td>
                                            <td>
                                                <button class="btn btn-primary fa fa-user-plus" ng-if="emp.status=='inactive'" ng-click="statusChange(emp._id, 'active', $index)">&nbsp;Activate</button>
                                                <button class="btn btn-warning fa fa-user-times" ng-if="emp.status=='active'" ng-click="statusChange(emp._id, 'inactive', $index)">&nbsp;Deactivate</button>
                                                <button class="btn btn-danger fa fa-trash" ng-click="deleteUser(emp._id)">&nbsp;Delete</button>
                                                <button class="btn btn-info fa fa-pencil-square-o" ng-click="editUser($index)">&nbsp;Edit</button>
                                                <button class="btn btn-info fa fa-envelope" ng-click="seeChat(emp._id)">&nbsp;Chat</button>
                                                <button class="btn btn-info fa fa-user" ng-click="resetLoginFlag(emp._id)">&nbsp;Reset</button>

                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                            </dir-pagination-controls>
                        </div>


                    </div>
                </section>
            </div>
        </section>

    </section>
    <button data-toggle="modal" data-target="#deleteConfirmation" id="deleteConfirmationButton" data-backdrop="static" data-keyboard="false"
        style="display:none"></button>

    <div class="modal fade" id="deleteConfirmation" role="dialog">
        <div class="modal-dialog">
            <center>
                <form>
                    <div class="modal-content" style="color:#777;max-width:350px; border-radius: 8px;">
                        <div class="modal-header" style="padding-top: 15px;background-image: linear-gradient(to bottom, #383c3f 0%, #202224 100%);">
                            <img style="width: 45px;margin-top: -15px;margin-left: -190px;" src="/home/img/fav.png" />
                            <span class="modal-title" style="font-weight: 200;">Confirmation !!</span>
                        </div>
                        <div class="modal-body">
                            <label id="notify_msg_confirm_content" style="color:black;font-size: 20px;">Are you sure you want to delete the user?</label>
                        </div>
                        <div class="modal-footer" style="padding-top: 15px;background-image: linear-gradient(to bottom, #202224 0%, #383c3f 100%);">
                            <button type="button" style="background-color: #29b6bd;color:#f1f1f1" class="btn" data-dismiss="modal">No</button>
                            <button type="button" style="background-color: #29b6bd;color:#f1f1f1" class="btn" ng-click="userDelete()" data-dismiss="modal">Yes</button>
                        </div>
                    </div>
                </form>
            </center>
        </div>
    </div>
    <button data-toggle="modal" data-target="#ResetConfirmation" id="ResetConfirmationButton" data-backdrop="static" data-keyboard="false"
        style="display:none"></button>

    <div class="modal fade" id="ResetConfirmation" role="dialog">
        <div class="modal-dialog">
            <center>
                <form>
                    <div class="modal-content" style="color:#777;max-width:350px; border-radius: 8px;">
                        <div class="modal-header" style="padding-top: 15px;background-image: linear-gradient(to bottom, #383c3f 0%, #202224 100%);">
                            <img style="width: 45px;margin-top: -15px;margin-left: -190px;" src="/home/img/fav.png" />
                            <span class="modal-title" style="font-weight: 200;">Confirmation !!</span>
                        </div>
                        <div class="modal-body">
                            <label id="notify_msg_confirm_content" style="color:black;font-size: 20px;">Are you sure to Reset User ?</label>
                        </div>
                        <div class="modal-footer" style="padding-top: 15px;background-image: linear-gradient(to bottom, #202224 0%, #383c3f 100%);">
                            <button type="button" style="background-color: #29b6bd;color:#f1f1f1" class="btn" data-dismiss="modal">No</button>
                            <button type="button" style="background-color: #29b6bd;color:#f1f1f1" class="btn" ng-click="userReset()" data-dismiss="modal">Yes</button>
                        </div>
                    </div>
                </form>
            </center>
        </div>
    </div>


</div>