<div ng-controller="usersListCtrl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-user"></i>
                        <span>&nbspUSER LIST</span>
                    </div>
                    <div class="card mb-3">

                        <!-- <div class="3">
                            <i class="fas fa-table"></i>
                            USER LIST</div> -->
                        <div class="card-body">
                            <form class="form-inline">
                                <div class="form-group">
                                    <!-- <label>Search</label> -->
                                    <input id="composeText" type="text" class="form-control" ng-model="search" name="searchText" placeholder="Search People">
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table class="table table-bordered" width="100%" cellspacing="0">



                                    <thead style="background: aliceblue;">
                                        <tr>
                                            <th> #</th>

                                            <th ng-click="sort('name')">Username
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th ng-click="sort('email')">Email
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th>Chat</th>
                                            <th>Video</th>
                                            <th ng-click="sort('status')">Status
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='status'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th>Action</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="emp in allemployee | filter:search |orderBy:sortKey:reverse |itemsPerPage:5">
                                            <td>
                                                {{$index+1}}.
                                            </td>
                                            <td>
                                                {{ emp.name }}
                                            </td>
                                            <td>
                                                {{emp.email}}
                                            </td>
                                            <td>
                                                <i ng-if="emp.chatRights=='yes'" class="fa fa-check" style="color: green"></i>
                                                <i ng-if="emp.chatRights=='no'" class="fa fa-times" style="color: red"></i>
                                            </td>
                                            <td>
                                                <i ng-if="emp.videoRights=='yes'" class="fa fa-check" style="color: green"></i>
                                                <i ng-if="emp.videoRights=='no'" class="fa fa-times" style="color: red"></i>
                                            </td>
                                            <td ng-if="emp.status=='inactive'">
                                                Inactive

                                            </td>
                                            <td ng-if="emp.status=='active'">
                                                Active
                                            </td>
                                            <td>
                                                <button class="btn btn-primary fa fa-user-plus" ng-if="emp.status=='inactive'" ng-click="statusChange(emp._id, 'active', $index)">&nbsp;Activate</button>
                                                <button class="btn btn-warning fa fa-user-times" ng-if="emp.status=='active'" ng-click="statusChange(emp._id, 'inactive', $index)">&nbsp;Deactivate</button>
                                                <button class="btn btn-danger fa fa-trash" ng-click="deleteUser(emp._id)">&nbsp;Delete</button>
                                                <button class="btn btn-info fa fa-pencil-square-o" ng-click="editUser(emp._id)">&nbsp;Edit</button>
                                                <button class="btn btn-info fa fa-envelope" ng-click="seeChat(emp._id)">&nbsp;Chat</button>
                                                <button class="btn btn-info fa fa-user" ng-click="resetLoginFlag(emp._id)">&nbsp;Reset</button>

                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>