<div ng-controller="userLoginDetailsCtrl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-user"></i>
                        <span>&nbspUSER LIST</span>
                    </div>
                    <div class="card mb-3">

                        <!-- <div class="3">
                                <i class="fas fa-table"></i>
                                USER LIST</div> -->
                        <div class="card-body">
                            <form class="form-inline">
                                <div class="form-group">
                                    <!-- <label>Search</label> -->
                                    <input id="composeText" type="text" class="form-control" ng-model="search" name="searchText" placeholder="Search People">
                                </div>
                            </form>
                            <div class="table-responsive">
                                <table class="table table-bordered" width="100%" cellspacing="0">

                                    <thead style="background: aliceblue;">
                                        <tr>
                                            <th> #</th>
                                            <th ng-click="sort('name')">Username
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='name'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th ng-click="sort('email')">Email
                                                <span class="glyphicon sort-icon" ng-show="sortKey=='email'" ng-class="{'glyphicon-chevron-up':reverse,'glyphicon-chevron-down':!reverse}"></span>
                                            </th>
                                            <th>Login</th>
                                            <th>Login Date</th>
                                            <th>Logout</th>
                                            <th>Logout Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr dir-paginate="emp in allemployeeLoginDetails | filter:search |orderBy:sortKey:reverse |itemsPerPage:5">
                                            <td>
                                                {{$index+1}}.
                                            </td>
                                            <td>
                                                {{ emp.userName }}
                                            </td>
                                            <td>
                                                {{emp.email}}
                                            </td>
                                            <td>
                                                <i ng-if="emp.login" class="fa fa-check" style="color: green"></i>
                                                <i ng-if="emp.login == 'false'" class="fa fa-times" style="color: red"></i>
                                            </td>
                                            <td>
                                                <p ng-if="emp.loginDate!=undefined">{{emp.loginDate | date: 'MMM d, y h:mm:ss a'}}</p>
                                                <p ng-if="emp.loginDate==undefined">null</p>
                                            </td>
                                            <td>
                                                <i ng-if="emp.logout" class="fa fa-check" style="color: green"></i>
                                                <i ng-if="emp.logout==false" class="fa fa-times" style="color: red"></i>
                                            </td>
                                            <td>
                                                <p ng-if="emp.logoutDate!=undefined">{{emp.logoutDate | date: 'MMM d, y h:mm:ss a'}}</p>
                                                <p ng-if="emp.logoutDate==undefined">null</p>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true">
                            </dir-pagination-controls>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>