<div class="modal-header">
        <i class="fa fa-check-circle">&nbsp&nbsp
            <b>&nbsp{{message}}</b>
        </i>
    
    </div>
    
    <style>
        .modal {
            top: 100px !important;
        }
    
        .modal-header {
            border-radius: 5px !important;
            background: rgb(130, 172, 45) !important;
            text-shadow: 0 0 0 0 !important;
            width: 400px;
            font-size: 15px !important;
            height: 50px;
    
        }
    
        .modal-content {
            background: rgba(255, 255, 255, 0) !important;
            border: none !important;
    
    
    
        }
    
        .modal-dialog {
            border-radius: 10px !important;
             -webkit-animation: fadeinout 5s linear forwards;
            animation: fadeinout 5s linear forwards;
        }
    
        @-webkit-keyframes fadeinout {
            0%,
            100% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
        }
    
        @keyframes fadeinout {
            0%,
            100% {
                opacity: 0;
            }
            50% {
                opacity: 1;
            }
        }
    </style>