<div class="modal-header loginpopUp_header">
    <button type="button" class="close" ng-click="$close()">&times;</button>
</div>
<div class="modal-body">
    <table>
        <thead>
            <tr>
                <th>
                    <h3>Schedule on &nbsp</h3>
                </th>
                <th>
                    <h3 style="color:coral">:&nbsp{{ eventDetails.startsAt | date }}</h3>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>
                    <h3>Title &nbsp</h3>
                </th>
                <th>
                    <h3 style="color:coral">:&nbsp
                        <input style="margin-top:10px;" type="text" ng-model="eventDetails.title">
                    </h3>
                </th>
            </tr>
            <tr>
                <th>
                    <h3>
                        Timing &nbsp
                    </h3>
                </th>
                <th>
                    <h3 style="color:coral">:&nbsp
                        <!-- <input style="margin-top:10px; border:none;" type="time" ng-model="eventDetails.startsAt" readonly> to
                        <input style="margin-top:10px; border:none;" type="time" ng-model="eventDetails.endsAt"> -->
                        {{ eventDetails.startsAt | date:'h:mm a' }} To {{ eventDetails.endsAt | date:'h:mm a' }}
                    </h3>
                </th>
            </tr>


        </tbody>
    </table>




    <!-- <div uib-timepicker ng-model="eventDetails.startsAt" hour-step="1" minute-step="10" show-meridian="true">
        </div>
        &nbspTo&nbsp
        <div uib-timepicker ng-model="eventDetails.endsAt" hour-step="1" minute-step="10" show-meridian="true">
        </div> -->


</div>

<div class="modal-body loginpopUp_body">
    <table>
        <thead>
            <tr>
                <div class="form-group">
                    <label for="comment">Message:</label>
                    <textarea class="form-control" rows="5" id="comment" ng-model="eventDetails.reason"></textarea>
                </div>
            </tr>
        </thead>
    </table>

</div>
<div class="modal-footer loginpopUp_footer">
    <button class="btn btn-default loginpopUp_footerBtn" type="button" ng-click="$close()">Close</button>
    <button class="btn btn-primary" style="width: 80px;" data-dismiss="modal" ng-click="save(eventDetails.startsAt| date:'M/d/yy',eventDetails.startsAt| date:'h:mm a', eventDetails.endsAt| date:'h:mm a', eventDetails.startsAt, eventDetails.endsAt, eventDetails.startsAt | date:'M/d/yy h:mm a', eventDetails.endsAt | date:'M/d/yy h:mm a', eventDetails.title, eventDetails.reason)">
        Save
    </button>
    <!-- <button type="submit" class="btn btn-default loginpopUp_footerBtn" ng-click="specOffSub(speOff_uploadForm, speOffTitle, speOffMsg, file.upload)">Upload</button> -->
</div>