<div class="modal-header loginpopUp_header">
    <h3 class="modal-title loginpopUp_headerTitle">Event Details</h3>
    <button type="button" class="close" ng-click="$close()">&times;</button>
</div>

<div class="modal-body loginpopUp_body">
</div>
<div class="modal-footer loginpopUp_footer">
    <button class="btn btn-default loginpopUp_footerBtn" type="button" ng-click="$close()">Close</button>
    <!-- <button type="submit" class="btn btn-default loginpopUp_footerBtn" ng-click="specOffSub(speOff_uploadForm, speOffTitle, speOffMsg, file.upload)">Upload</button> -->
</div>