<div class="modal-header loginpopUp_header">
    <h3 class="modal-title loginpopUp_headerTitle">Event Details</h3>
    <button type="button" class="close" ng-click="$close()">&times;</button>
</div>

<div class="modal-body loginpopUp_body">
    <label>Student Name</label><br>
    <label style="color:green">{{eventDetails.studentName}}</label>
    <label>Student Id</label><br>
    <label style="color:green">{{eventDetails.studendtId}}</label>
    <label>Title</label><br>
    <label style="color:green">{{eventDetails.title}}</label>
    <label>Message</label><br>
    <label style="color:green">{{eventDetails.reason}}</label>
    <label>Date</label><br>
    <label style="color:green">{{eventDetails.startsAt | date:'M/d/yy'}}</label>
    <label>Start Time</label><br>
    <label style="color:green">{{eventDetails.startsAt |  date:'h:mm a'}}</label>
    <label>End Time</label><br>
    <label style="color:green">{{eventDetails.endsAt |  date:'h:mm a'}}</label>
</div>
<div class="modal-footer loginpopUp_footer">
    <button class="btn btn-default loginpopUp_footerBtn" type="button" ng-click="$close()">Close</button>
    <!-- <button type="submit" class="btn btn-default loginpopUp_footerBtn" ng-click="specOffSub(speOff_uploadForm, speOffTitle, speOffMsg, file.upload)">Upload</button> -->
</div>