<div div class="modal-header loginpopUp_header">
    <button type="button" class="close" data-dismiss="modal" ng-click="$close()" aria-hidden="true">&times;</button>
    <h4 class="modal-title">Event Details</h4>
</div>
<div class="modal-body">
    <header class="panel-heading">
        Sender Details
    </header>
    <div class="row form-group">
        <label class="control-label col-lg-3">Name

        </label>
        <div class="col-lg-3">
            <p style="color:green">{{eventDetails.senderName}}</p>
        </div>

        <label class="control-label col-lg-3">Id

        </label>
        <div class="col-lg-3">
            <p style="color:green">{{eventDetails.senderId}}</p>
        </div>

        <label class="control-label col-lg-3">Created On
        </label>
        <div class="col-lg-3">
            <p style="color:green">Apr 17 2018</p>
        </div>

        <label class="control-label col-lg-3">Phone</label>


        <div class="col-lg-3">
            <p style="color:green">{{eventDetails.senderMN}}</p>
        </div>
        <label class="control-label col-lg-3">Title</label>


        <div class="col-lg-3">
            <p style="color:green">{{eventDetails.title}}</p>
        </div>
        <label class="control-label col-lg-3">Message</label>


        <div class="col-lg-3">
            <p style="color:green">{{eventDetails.reason}}</p>
        </div>
        <label class="control-label col-lg-3">Date</label>


        <div class="col-lg-3">
            <p style="color:green">{{eventDetails.startsAt | date:'M/d/yy'}}</p>
        </div>
        <label class="control-label col-lg-3">Time</label>


        <div class="col-lg-3">
            <p style="color:green">{{eventDetails.startsAt | date:'h:mm a'}}-{{eventDetails.endsAt | date:'h:mm a'}}</p>
        </div>
    </div>
    <header class="panel-heading">
        Receiver Details
    </header>
    <div class="form-group">
        <label class="control-label col-lg-3">Name
        </label>
        <div class="col-lg-3">
            <p style="color:green">{{eventDetails.receiverName}}</p>
        </div>
        <label class="control-label col-lg-3">Id

        </label>
        <div class="col-lg-3">
            <p style="color:green">{{eventDetails.receiverId}}</p>
        </div>
        <label class="control-label col-lg-3">Phone

        </label>
        <div class="col-lg-3">
            <p style="color:green">{{eventDetails.receiverMN}}</p>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-default loginpopUp_footerBtn" type="button" ng-click="$close()">Close</button>
</div>