<div class="modal-header" style="background-color: darkturquoise;     border-bottom: 0px;">
  <h4 class="modal-title" style="margin-left: 2px;">Login</h4>
  <button ng-click="$close()" class="btn-default fa fa-close" style="margin-top: -20px;   float: right;  border-color: white;
                  border-radius: 25%;" aria-hidden="true"  data-dismiss="modal"></button>
                
</div>
<div class="modal-body">
  <p>Please select your login type</p>
  <div style="background:darkturquoise;
                /* border: 1px solid white; */
                border-radius: 5px;
                width: 50%;
                padding: 3px;">
    <input type="radio" ng-model="loginType" value="teacher" checked="checked"> Teacher &nbsp&nbsp

    <input type="radio" ng-model="loginType" value="studParent"> Parent
  </div>

  <hr>

  <!-- <label class="switch">
                        <input type="checkbox" checked>
                        <span class="slider round"></span>
                      </label> -->
  <input style="
                          background:  #ddd;
                          border-radius: inherit;
                          height: 50px;
                          border: #ddd;" type="email" class="form-control" placeholder="Email" ng-model="email">

  <br>
  <input style="
                          background:  #ddd;
                          border-radius: inherit;
                          height: 50px;
                          border: #ddd;" type="password" ng-model="Password" class="form-control" placeholder="Password">

</div>
<div class="modal-footer" style="border-top:0px; padding: 15px;">

  <button id="crdsubmit" type="button" style="background-color: #29b6bd;color:#f1f1f1; width: 100%; height:50px;" class="btn"
    ng-click="logVC(loginType, email, Password)" data-dismiss="modal">Submit</button>

</div>
<!-- <p style="font-size:12px;" class="message">Not registered?
  <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#regVC">Register Here</a>
</p> -->