<div class="viewReport">
    <div class="modal-body" ng-show="typeMessage=='error'">
      <div class="isa_error">
        <i class="fa fa-times-circle" style="color: #D8000C;"></i>
        <span style="font-size: 17px;font-family: cursive;font-weight:bold;margin-left: 8px;">{{messages}}</span>
        <a class="boxclose" id="boxclose"></a>
      </div>
  
    </div>
    <!--success-->
    <div class="modal-body" ng-show="typeMessage=='success'">
      <div class="isa_success" >
        <i class="fa fa-check" style="color: #4F8A10;"></i>
         <span style="font-size: 17px;font-family: cursive;font-weight:bold;margin-left: 8px;">{{messages}}</span>
         <a class="boxclose" id="boxclose"></a>
      </div>
      
    </div>
    <!--info-->
     <div class="modal-body" ng-show="typeMessage=='info'">
      <div class="isa_info">
      <i class="fa fa-info-circle" style="color: #00529B;"></i>
       <span style="font-size: 17px;font-family: cursive;font-weight:bold;margin-left: 8px;">{{messages}}</span>
       
      <a class="boxclose" id="boxclose"></a>
  </div>
    </div>
        
  </div>