<div div class="modal-header loginpopUp_header">
    <h4 class="modal-title">Message</h4>
    <button type="button" class="close" data-dismiss="modal" ng-click="$close()" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">

        <table class="table table-sm">
            <tr style="font-size: 12px;color: black;font-family: sans-serif;">
    
                <td> Subject:
                    <span style="font-family: sans-serif;">
                        <b>{{eventDetails.title}}</b>
                    </span>
                </td>
                <td>
                    <div>
                        <b>{{eventDetails.startsAt | date:'dd MMM yyyy'}}</b>
                    </div>
                </td>
            </tr>
        </table>
        <table class="table table-sm" style="min-height: 100px;
        background: darkseagreen;
        border-radius: 10px;">
            <tr>
                <td style="width: 300px;">
                    <p style="color:black; font-family:sans-serif; font-size: 12px;">{{eventDetails.reason}}</p>
                </td>
            </tr>
        </table>
    
        <table class="table table-sm" ng-if="viewType=='outgoing'">
            <tr ng-if="eventDetails.messageType=='wholeClass'">
                <td>
                    Receiver Detail
                    <div style="color:black" ng-repeat="emailId in eventDetails.receiverEmail">{{emailId}} </div>
                </td>
            </tr>
            <tr style="font-size: 12px;color: black;font-family: sans-serif;" ng-if="eventDetails.messageType!='wholeClass'">
                <td>
                    Receiver Detail
                    <br>
                    <div style="color:black">
                        <b>{{eventDetails.receiverName}}
                            <br> {{eventDetails.receiverMN}}</b>
                    </div>
                </td>
            </tr>
        </table>
        <table class="table table-sm" ng-if="viewType=='incoming'">
            <tr ng-if="eventDetails.messageType=='wholeClass'">
                <td>
                    Sender Detail
                    <div style="color:black" ng-repeat="emailId in eventDetails.receiverEmail">{{emailId}} </div>
                </td>
            </tr>
            <tr style="font-size: 12px;color: black;font-family: sans-serif;" ng-if="eventDetails.messageType!='wholeClass'">
                <td>
                    Sender Detail
                    <br>
                    <div style="color:black">
                        <b>{{eventDetails.senderName}}
                            <br> {{eventDetails.senderMN}}</b>
                    </div>
                </td>
            </tr>
        </table>
    </div>
<div class="modal-footer">
    <button class="btn btn-default loginpopUp_footerBtn" type="button" ng-click="$close()">Close</button>
</div>