<div style="margin-left:5%;margin-right:5%" ng-controller="calendarCtrl as vm">
<link href="https://unpkg.com/bootstrap@3/dist/css/bootstrap.css" rel="stylesheet">
  <!-- <a href="" id="linkToShare"></a> -->
  <!-- <div id='calendar' style="margin-top:10%;"></div> -->
  <h2 class="text-center" style="margin-top:95px;">{{ vm.calendarTitle }}</h2>
  <hr>
  <div class="row" ng-if="userLoginType=='admin' || userLoginType=='teacher' || userLoginType=='studParent'">

    <br>
    <!-- on-event-click="eventClicked(calendarEvent)" -->
    <!-- <strong ng-show="vm.lastDateClicked">You clicked on this day: {{ vm.lastDateClicked | date:'medium' }}</strong> -->

    <div class="col-md-6 text-center" style="background:#e5caa74d;">
      <!-- <mwl-calendar events="vm.events" view="vm.calendarView" view-title="vm.calendarTitle" view-date="vm.viewDate" on-event-click="vm.eventClicked(calendarEvent)"
        on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
        cell-is-open="vm.cellIsOpen" day-view-start="09:00" day-view-end="16:00" day-view-split="20" cell-modifier="vm.modifyCell(calendarCell)"
        cell-auto-open-disabled="true" on-timespan-click="vm.timespanClicked(calendarDate , calendarCell)" ng-click="vm.timeClick(calendarEvent)">
      </mwl-calendar> -->
      <style type="text/css">
        .cal-day-hour-part-time strong.ng-hide {
          display: block !important;
        }

        .cal-day-hour-part-time {
          background-color: skyblue;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .day-event {
          width: 90% !important;
        }

        .cal-day-open {
          background: #ff7777;
        }
      </style>
      <b>
        <h2 ng-if="calendarOwner!='Your'">{{calendarOwner}} Calendar</h2>
        <h2 ng-if="calendarOwner=='Your'">{{calendarOwner}} Calendar <i>Only for Reading</i></h2>
      </b>
      <!-- <mwl-calendar events="vm.events" view="vm.calendarView" view-title="vm.calendarTitle" view-date="vm.viewDate" on-event-click="vm.eventClicked(calendarEvent)"
      on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
      cell-is-open="vm.cellIsOpen" day-view-start="09:00" day-view-end="15:00" day-view-split="15" cell-modifier="vm.modifyCell(calendarCell)"
      cell-auto-open-disabled="true" on-timespan-click="vm.timespanClicked(calendarDate)" on-date-range-select="vm.rangeSelected(calendarRangeStartDate, calendarRangeEndDate)" >
    </mwl-calendar> -->
      <mwl-calendar ng-if="calendarOwner=='Your'" events="vm.events" view="vm.calendarView" view-title="vm.calendarTitle" view-date="vm.viewDate"
        on-event-click="vm.eventClicked(calendarEvent)" on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
        cell-is-open="vm.cellIsOpen" day-view-start="09:00" day-view-end="15:00" day-view-split="15" cell-modifier="vm.modifyCell(calendarCell)"
        cell-auto-open-disabled="true" ng-click="vm.timeClick(calendarEvent)">
      </mwl-calendar>
      <mwl-calendar ng-if="calendarOwner!='Your'" events="vm.events" view="vm.calendarView" view-title="vm.calendarTitle" view-date="vm.viewDate"
        on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
        cell-is-open="vm.cellIsOpen" day-view-start="09:00" day-view-end="15:00" day-view-split="15" cell-modifier="vm.modifyCell(calendarCell)"
        cell-auto-open-disabled="true" on-date-range-select="vm.rangeSelected(calendarRangeStartDate, calendarRangeEndDate)">
      </mwl-calendar>
    </div>

    <div class="col-md-6 text-center">
      <h3 class="text-center">Select Time</h2>
        <div style="background:#e5caa74d;border-top-left-radius: 30px; border-bottom-right-radius: 30px;padding: 1%;">
          <div style=" border:1px solid rgb(173, 173, 173); border-top-left-radius: 30px; border-bottom-right-radius: 30px;padding: 5%;">
            <div class="btn-group">
              <button class="btn btn-primary" mwl-date-modifier date="vm.viewDate" decrement="vm.calendarView" ng-click="vm.cellIsOpen = false">
                Previous
              </button>
              <button class="btn btn-default" mwl-date-modifier date="vm.viewDate" set-to-today ng-click="vm.cellIsOpen = false">
                Today
              </button>
              <button class="btn btn-primary" mwl-date-modifier date="vm.viewDate" increment="vm.calendarView" ng-click="vm.cellIsOpen = false">
                Next
              </button>
            </div>

            <hr>

            <div class="btn-group ">
              <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
              <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
              <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
              <!-- <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label> -->
              <label class="btn btn-primary" ng-model="vm.calendarView" ng-click="vm.cellIsOpen = false">Day</label>
            </div>
          </div>
        </div>
        <h3 ng-if="userLoginType=='teacher'" class="text-center">Select and Get Student Calendar</h2>
          <h3 ng-if="userLoginType=='studParent'" class="text-center">Select and Get Teacher Calendar</h2>
            <div style="background:#e5caa74d;border-top-left-radius: 30px; border-bottom-right-radius: 30px;padding: 1%;">
              <div style=" border:1px solid rgb(173, 173, 173); border-top-left-radius: 30px; border-bottom-right-radius: 30px;padding: 5%;">
                <form name="getStudentCal">
                  <select ng-if="userLoginType=='teacher'" class="btn btn-primary" placeholder="select" ng-model="cssSelect" ng-change="getStudListForCS(cssSelect)"
                    ng-options="css as css.class+ '-' + css.section + '-' + css.subject for css in teacherData[0].css">
                    <option value="" disabled selected>Class</option>
                  </select>
                  <select ng-if="userLoginType=='teacher'" class="btn btn-primary" placeholder="select" ng-model="csSelect" ng-change="getStudentCalendar(csSelect)"
                    ng-options="cs as cs.name + '-' + cs.studId for cs in studList">
                    <option value="" disabled selected>Student</option>
                  </select>
                  <select ng-if="userLoginType=='studParent'" class="btn btn-primary" placeholder="select" ng-model="cssSelect" ng-change="getTeacherCalendar(cssSelect)"
                    ng-options="cs as cs.name + '-' + cs.teacherId+'-'+cs.subject for cs in teacherList">
                    <option value="" disabled selected>Teacher</option>
                  </select>
                  <button class="btn btn-primary" ng-if="calendarOwner!='Your'" ng-click="eventGet()">My Calendar</button>
                  <button class="btn btn-primary" ng-if="calendarOwner=='Your' && userLoginType=='studParent' && teacherPersonalData[0].teacherName != null"
                    ng-click="getSTCalendar()">{{teacherPersonalData[0].teacherName}} Calendar</button>
                  <button class="btn btn-primary" ng-if="calendarOwner=='Your' && userLoginType=='teacher' && studentPersonalData[0].studName != null" ng-click="getSSCalendar()">{{studentPersonalData[0].studName}} Calendar</button>
                </form>
              </div>
            </div>
    </div>
    <br>
    <br>
    <br>
    <div class="col-md-12 col-sm-12 col-lg-12">
      <br>
      <br>
      <br>
      <h3 id="event-editor">
        View events
        <!-- <button class="btn btn-primary pull-right" ng-click="vm.addEvent()">
          Add new
        </button> -->

      </h3>
      <hr>
      <table class="table table-bordered">

        <thead style="background-color:#a09484;">
          <tr>
            <th>Sr.no</th>
            <th>Event Name</th>
            <th>Timing</th>
            <th>Conference</th>
            <th>Edit</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="event in vm.events track by $index" style="background:#e5caa74d;">
            <td>{{$index+1}}.</td>
            <td>
              <input type="text" class="form-control" ng-model="event.title" ng-click="eventDetailClick($index)">

            </td>

            <td>
              <p class="input-group">
                <input type="text" style="margin-bottom: -4px;" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="event.startsAt"
                  is-open="event.startOpen" close-text="Close">
                <span class="input-group-btn">
                  <button type="button" style="margin-top: 0px;height: 33px;" class="btn btn-default" ng-click="vm.toggle($event, 'startOpen', event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
              <div class="row" style="padding:2%">

                <div uib-timepicker ng-model="event.startsAt" hour-step="1" minute-step="20" show-meridian="true">
                </div>
                &nbspTo&nbsp
                <div uib-timepicker ng-model="event.endsAt" hour-step="1" minute-step="20" show-meridian="true">
                </div>
              </div>


            </td>
            <td>
              <a href="{{event.url}}">
                <button class="btn btn-primary" ng-if="event.url" style="width:80px;">
                  Start
                </button>
              </a>
            </td>
            <td>
              <button ng-if="!event.url" class="btn btn-primary" style="width: 80px;" data-target="#event" data-toggle="modal" ng-click="save(event.startsAt| date:'M/d/yy',event.startsAt| date:'h:mm a', event.endsAt| date:'h:mm a', event.startsAt, event.endsAt, event.startsAt | date:'M/d/yy h:mm a', event.endsAt | date:'M/d/yy h:mm a', event.title)">
                Save
              </button>

              <button ng-if="event.url" class="btn btn-danger" style="width: 80px;" ng-click="deleteEvent(event.id, $index)">
                Delete
              </button>
              <button data-target="#event" id="crdbuttn" style="display:none" data-backdrop="static" data-keyboard="false" data-toggle="modal"
                ng-click="login()">Event</button>
              <div class="modal fade" id="event" role="dialog">
                <div class="modal-dialog">
                  <center>

                    <div class="modal-content" style="color:#777;max-width:350px;">
                      <div class="modal-header" style="background-color: gold;">

                        <h4 class="modal-title">Please Enter Details</h4>
                      </div>
                      <div class="modal-body">
                        <input type="text" ng-model="studName" class="form-control" placeholder="Student Name">
                        <br>
                        <input type="text" ng-model="studId" class="form-control" placeholder="Student Id">
                        <br>
                        <input type="email" ng-model="pEmail" id="eventEmails" class="form-control" placeholder="Enter EmailId">
                        <br>
                        <textarea ng-model="eventReason" class="form-control" placeholder="Reason for Event"></textarea>

                      </div>
                      <div class="modal-footer" style="border-top:0px;background-color: #f5f5f5;padding: 10px;">
                        <button id="crdsubmit" type="button" style="background-color: #29b6bd;color:#f1f1f1" class="btn" ng-click="eventSend(eventReason,studName, studId, event.color.primary)"
                          data-dismiss="modal">Submit</button>
                      </div>
                    </div>
                  </center>
                </div>
              </div>
            </td>
          </tr>
        </tbody>

      </table>
      <!-- ##### Start Event Detail  ##### -->
      <!-- <button data-target="#eventDet" id="eDetail" style="display:none" data-backdrop="static" data-keyboard="false" data-toggle="modal">Event</button>
        <div class="modal fade" id="eventDet" role="dialog">
          <div class="modal-dialog">
            <center>
              <div class="modal-content" style="color:#777;max-width:350px;">
                <div class="modal-header" style="background-color: gold;">
                  <h4 class="modal-title">Event Details</h4>
                </div>
                <div class="modal-body">
                  <label>Student Name</label>
                  <br>
                  <label>{{evtData.studentName}}</label>
                  <label>Student Id</label>
                  <br>
                  <label>{{evtData.studendtId}}</label>
                  <label>Title</label>
                  <br>
                  <label>{{evtData.title}}</label>
                  <label>Message</label>
                  <br>
                  <label>{{evtData.reason}}</label>
                  <label>Date</label>
                  <br>
                  <label>{{evtData.startsAt | date:'M/d/yy'}}</label>
                  <label>Start Time</label>
                  <br>
                  <label>{{evtData.startsAt | date:'h:mm a'}}</label>
                  <label>End Time</label>
                  <br>
                  <label>{{evtData.endsAt | date:'h:mm a'}}</label>
                </div>
                <div class="modal-footer" style="border-top:0px;background-color: #f5f5f5;padding: 10px;">
                  <button type="button" class="close" data-dismiss="modal">Close</button>
                </div>
              </div>
            </center>
          </div>
        </div> -->
      <!-- ##### End Event Detail  ##### -->
    </div>
  </div>
  </main>