<html>

<head>
  <title>Video Conference</title>
  <script src="/js/socket.io-1.4.5.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="/bower_components/angular/angular.min.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="vcApp.js"></script>
  <script src="vcAppCtrl.js"></script>


  <script src="/common/httpFactory.js"></script>
  <script src="/common/socketFactory.js"></script>
  <script src="/common/sessionAuthFactory.js"></script>
  <script src="/bower_components/moment/min/moment.min.js"></script>
  <link rel="stylesheet" href="/bower_components/angular-bootstrap-calendar/dist/css/angular-bootstrap-calendar.min.css">
  <script src="/bower_components/angular-bootstrap-calendar/dist/js/angular-bootstrap-calendar-tpls.js"></script>
  <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="/bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="/controllers/calendarCtrl.js"></script>
  <script src="/home/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/home/lib/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/chatZone.css" />
  <link href="/home/lib/animate/animate.min.css" rel="stylesheet">
  <link href="/home/css/style.css" rel="stylesheet">
  <script src="/js/clientmain.js"></script>
  <script src="/home/lib/wow/wow.min.js"></script>
  <script src="/home/lib/easing/easing.min.js"></script>
</head>

<body>


  <div ng-app="vcApp" ng-controller="calendarCtrl as vm">

    <header id="header" style="background: rgba(52, 59, 64, 0.9);padding: 20px; height: 72px;transition: all 0.5s;">
      <div class="container">

        <div id="logo" class="pull-left">
          <span>
            <img style="float:left;" src="/home/img/icon.png" />
            <h1 style="color:azure;float:left;">{{title}}</h1>
            </img>
          </span>
        </div>

        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active">
              <a href="/">Home</a>
            </li>
            <li>
              <a href="#portfolio">Conference</a>
            </li>

            <li id="fdb" style="display:none">
              <a href="#feedback">Feedback</a>
            </li>

            <li>
              <a href="#contact">Contact Us</a>
            </li>
            <li>
              <a href="#">Logout</a>
            </li>


          </ul>
        </nav>

      </div>
    </header>
    <div ui-view>

      <!-- <div id='calendar' style="margin-top:10%;"></div> -->

      <h2 class="text-center" style="margin-top:10%;">{{ vm.calendarTitle }}</h2>

      <div class="row">

        <div class="col-md-6 text-center">
          <div class="btn-group">

            <button class="btn btn-primary" mwl-date-modifier date="vm.viewDate" decrement="vm.calendarView" ng-click="vm.cellIsOpen = false">
              Previous
            </button>
            <button class="btn btn-default" mwl-date-modifier date="vm.viewDate" set-to-today ng-click="vm.cellIsOpen = false">
              Today
            </button>
            <button class="btn btn-primary" mwl-date-modifier date="vm.viewDate" increment="vm.calendarView" ng-click="vm.cellIsOpen = false">
              Next
            </button>
          </div>
        </div>

        <br class="visible-xs visible-sm">

        <div class="col-md-6 text-center">
          <div class="btn-group">
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
            <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
          </div>
        </div>

      </div>

      <br>
      <!-- on-event-click="eventClicked(calendarEvent)" -->
      <mwl-calendar events="vm.events" view="vm.calendarView" view-title="vm.calendarTitle" view-date="vm.viewDate" on-event-click="vm.eventClicked(calendarEvent)"
        on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
        cell-is-open="vm.cellIsOpen" day-view-start="06:00" day-view-end="22:59" day-view-split="30" cell-modifier="vm.modifyCell(calendarCell)"
        cell-auto-open-disabled="true" on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
      </mwl-calendar>

      <br>
      <br>
      <br>

      <h3 id="event-editor">
        Edit events
        <button class="btn btn-primary pull-right" ng-click="vm.addEvent()">
          Add new
        </button>
        <div class="clearfix"></div>
      </h3>

      <table class="table table-bordered">

        <thead>
          <tr>
            <th>Title</th>
            <th>Primary color</th>
            <th>Secondary color</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th>Remove</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="event in vm.events track by $index">

           
            <td>
              <input type="text" class="form-control" ng-model="event.title">
            </td>
            <td>
              <input class="form-control" colorpicker type="text" ng-model="event.color.primary">
            </td>
            <td>
              <input class="form-control" colorpicker type="text" ng-model="event.color.secondary">
            </td>
            <td>
              <p class="input-group" style="max-width: 250px">
                <input type="text" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="event.startsAt" is-open="event.startOpen"
                  close-text="Close">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="vm.toggle($event, 'startOpen', event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>-              <div uib-timepicker ng-model="event.startsAt" hour-step="1" minute-step="15" show-meridian="true">
              </div>
            </td>
            <td>
              <p class="input-group" style="max-width: 250px">
                <input type="text" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="event.endsAt" is-open="event.endOpen"
                  close-text="Close">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="vm.toggle($event, 'endOpen', event)">
                    <i class="glyphicon glyphicon-calendar"></i>
                  </button>
                </span>
              </p>
              <div uib-timepicker ng-model="event.endsAt" hour-step="1" minute-step="15" show-meridian="true">
              </div>
            </td>
            <td>
              <button class="btn btn-danger" data-target="#event" data-toggle="modal" ng-click="save(event.startsAt, event.endsAt)">
                Save
              </button>
              <button class="btn btn-danger" ng-click="vm.events.splice($index, 1)">
                Delete
              </button>
              <button data-target="#event" id="crdbuttn" style="display:none" data-backdrop="static" data-keyboard="false" data-toggle="modal"
              ng-click="login()">Login</button>
            <div class="modal fade" id="event" role="dialog">
              <div class="modal-dialog">
                <center>
                  <!-- Modal content-->
                  <div class="modal-content" style="color:#777;max-width:350px;">
                    <div class="modal-header" style="background-color: gold;">
                      <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
                      <h4 class="modal-title">Please Enter Details</h4>
                    </div>
                    <div class="modal-body">

                      <input type="text" ng-model="studName" class="form-control" placeholder="Student Name">
                      <br>
                      <input type="text" ng-model="studId" class="form-control" placeholder="Student Id">
                      <br>
                      <input type="email" ng-model="pEmail" class="form-control" placeholder="Enter EmailId">
                      <br>
                      <textarea ng-model="eventReason" class="form-control" placeholder="Reason for Event"></textarea>

                    </div>
                    <div class="modal-footer" style="border-top:0px;background-color: #f5f5f5;padding: 10px;">
                      <button id="crdsubmit" type="button" style="background-color: #29b6bd;color:#f1f1f1" class="btn" ng-click="eventSend(eventReason,studName, studId, pEmail,  event.startsAt, event.endsAt ,event.startsAt | date:'M/d/yy h:mm a', event.endsAt | date:'M/d/yy h:mm a', event.color.primary)"
                        data-dismiss="modal">Submit</button>
                     
                    </div>
                  </div>
                </center>
              </div>
            </div>
            </td>

          </tr>
        </tbody>

      </table>

    </div>



  </div>

</body>

</html>