<div style="margin-top: 85px;" ng-controller="studentInsertCtrl">
    <div class="container">
        <h2>Student Data Insert</h2>

        <form>
            <input type="text" ng-model="schoolName" placeholder="Enter school Name">
            <br>
            <br>
            <input type="text" ng-model="studId" placeholder="Enter Student id">
            <br>
            <br>
            <input type="text" ng-model="studName" placeholder="Enter Student Name">
            <br>
            <br>
            <input type="email" ng-model="parentName" placeholder="Enter parent/guardian Name">
            <br>
            <br>
            <input type="email" ng-model="parentEmail" placeholder="Enter parent/guardian Email">
            <br>
            <br>
            <input type="text" ng-model="mobileNum" placeholder="Enter parent/guardian mobile number">
            <br>
            <br>
            <div ng-repeat="x in css">
                <input type="text" ng-model="x.class" placeholder="Enter Class">
                <br>
                <br>
                <input type="text" ng-model="x.section" placeholder="Enter Section">
                <br>
                <br>
            </div>
          
            <input type="password" ng-model="pswd" placeholder="Enter password">
            <br>
            <br>

            <button ng-click="saveStudent()">Submit</button>
        </form>

    </div>
</div>