<!-- <html>
    <head>
        <title>User Authentication</title>
    </head> -->
<div style="margin-top: 85px;" ng-controller="userAuthCtrl">




  <div class="container">
    <h2>Teacher List</h2>

    <table class="table table-bordered">
      <thead>
        <tr style="background: darkturquoise;">
          <th>Userame</th>
          <th>Email</th>
          <th>Status</th>
          <th>Activation</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="ud in userData">

          <td ng-if="ud.status=='active'" style="background-color:aliceblue;">{{ud.userName}}</td>
          <td ng-if="ud.status=='inactive'" style="background-color:tomato;">{{ud.userName}}</td>
          <td ng-if="ud.status=='active'" style="background-color:aliceblue;">{{ud.email}}</td>
          <td ng-if="ud.status=='inactive'" style="background-color:tomato;">{{ud.email}}</td>
          <td ng-if="ud.status=='active'" style="background-color:aliceblue;">{{ud.status}}</td>
          <td ng-if="ud.status=='inactive'" style="background-color:tomato;">{{ud.status}}</td>
      
          <td style="background-color:aliceblue;">
            <button class="btn" ng-if="ud.status=='active'"   ng-click="updateUserStatus(ud._id,'inactive',$index)" style="width: 70px;">Dectivate</button>
            <button class="btn" ng-if="ud.status=='inactive'"   ng-click="updateUserStatus(ud._id,'active',$index)" style="width: 70px;">Activate</button>
          </td>
          <td  style="background-color:aliceblue;">
              <button class="btn" ng-click="deleteUser(ud._id, $index)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
<!-- </html> -->