<div style="margin-top: 85px;" ng-controller="userAuthCtrl">
  <div class="container" ng-if="userLoginType=='admin'">

    <h2>Teacher Time Table</h2>
    <!-- ##### Start the Teacher List ##### -->
    <table class="table table-bordered">

      <thead>
        <tr style="background: darkturquoise;">
          <th>Timeing</th>

          <th>09:00-09:45</th>
          <th>9:45-10:30</th>
          <th>10:30-11:15</th>
          <th>11:15-12:00</th>
          <th>01:00-01:45</th>
          <th>01:45-02:30</th>
          <th>02:30-03:15</th>
          <th>03:15-04:00</th>

        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Monday</td>
          <td ng-repeat="mtt in getUserData.timeTable[0].Monday">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
        </tr>
        <tr>
          <td>Tuesday</td>
          <td ng-repeat="mtt in getUserData.timeTable[1].Tues">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
        </tr>
        <tr>
          <td>Wednesday</td>
          <td ng-repeat="mtt in getUserData.timeTable[2].Wed">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
        </tr>
        <tr>
          <td>Thursday</td>
          <td ng-repeat="mtt in getUserData.timeTable[3].Thurs">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
        </tr>
        <tr>
          <td>Friday</td>
          <td ng-repeat="mtt in getUserData.timeTable[4].Fri">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
        </tr>
        <tr>
          <td>Saturday</td>
          <td ng-repeat="mtt in getUserData.timeTable[5].Sat">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
        </tr>
      </tbody>

    </table>





    <h2>Teacher List</h2>
    <!-- ##### Start the Teacher List ##### -->
    <table class="table table-bordered">

      <thead>
        <tr style="background: darkturquoise;">
          <th>Sr.no</th>
          <th>Teacher Name</th>
          <th>Teacher Id</th>
          <th>Email</th>
          <th>Mobile Number</th>
          <th>Status</th>
          <th>Activation</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="ud in userData">
          <td style="background-color:aliceblue;">{{$index+1}}.</td>
          <td style="background-color:aliceblue;">
            <button type="button" class="btn-info " ng-click="timesTable($index)">{{ud.teacherName}}</button>
          </td>
          <td style="background-color:aliceblue;">{{ud.teacherId}}</td>
          <td style="background-color:aliceblue;">{{ud.teacherEmail}}</td>
          <td style="background-color:aliceblue;">{{ud.mobileNum}}</td>
          <td ng-if="ud.status=='active'" style="background-color:aliceblue;">{{ud.status}}</td>
          <td ng-if="ud.status=='inactive'" style="background-color:tomato;">{{ud.status}}</td>
          <td style="background-color:aliceblue;">
            <button class="btn" ng-if="ud.status=='active'" ng-click="updateUserStatus(ud._id,'inactive',$index)" style="width: 70px;">Dectivate</button>
            <button class="btn" ng-if="ud.status=='inactive'" ng-click="updateUserStatus(ud._id,'active',$index)" style="width: 70px;">Activate</button>
          </td>
          <td style="background-color:aliceblue;">
            <button class="btn" ng-click="deleteUser(ud._id, $index)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- ##### Start the Teacher List ##### -->


    <h2>Student List</h2>

    <!-- ##### Start the Student List ##### -->
    <table class="table table-bordered">

      <thead>
        <tr style="background: darkturquoise;">
          <th>Sr.no</th>
          <th>Student Name</th>
          <th>Student Id</th>
          <th>Parent Name</th>
          <th>Parent Email</th>
          <th>Status</th>
          <th>Activation</th>
          <th>Delete</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="sd in studData">
          <td style="background-color:aliceblue;">{{$index+1}}.</td>
          <td style="background-color:aliceblue;">
            <button type="button" class="btn-info " data-toggle="modal" data-target="#myModal">{{sd.studName}}</button>
            <!-- Modal -->
          </td>
          <td style="background-color:aliceblue;">{{sd.studId}}</td>
          <td style="background-color:aliceblue;">{{sd.parentName}}</td>
          <td style="background-color:aliceblue;">{{sd.parentEmail}}</td>
          <td ng-if="sd.status=='active'" style="background-color:aliceblue;">{{sd.status}}</td>
          <td ng-if="sd.status=='inactive'" style="background-color:tomato;">{{sd.status}}</td>
          <td style="background-color:aliceblue;">
            <button class="btn" ng-if="sd.status=='active'" ng-click="updateStudStatus(sd._id,'inactive',$index)" style="width: 70px;">Dectivate</button>
            <button class="btn" ng-if="sd.status=='inactive'" ng-click="updateStudStatus(sd._id,'active',$index)" style="width: 70px;">Activate</button>
          </td>
          <td style="background-color:aliceblue;">
            <button class="btn" ng-click="deleteStud(sd._id, $index)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- ##### End the Student List ##### -->
  </div>
</div>
<!-- </html> -->