<div ng-controller="adminCreateCtl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading" style="background: #3a4a58">
                        <i class="fa fa-user-circle"></i>
                        <span style="color:white;">&nbspCREATE ADMIN</span>
                    </div>
            
                    <div class="panel-body bio-graph-info" style="padding: 1px;">
                        <div style="margin:20px !important;">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">School Name</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="f-name" placeholder="" ng-model="schoolName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">School Registration Number</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="url" placeholder="" ng-model="schoolRegNumber">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Admin First Name</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="f-name" placeholder=" " ng-model="firstName">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Admin Last Name</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="l-name" placeholder=" " ng-model="lastName">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Date of Registration</label>
                                    <div class="col-lg-6">
                                        <input type="date" class="form-control" id="b-day" placeholder="" ng-model="dor">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Email</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="email" placeholder="" ng-model="email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Mobile</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="mobile" placeholder=" " ng-model="mobNumber">
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="col-lg-2 control-label">Address</label>
                                    <div class="col-lg-6">
                                        <textarea name="" id="" class="form-control" ng-model="address"></textarea>

                                    </div>
                                </div>
                                <div class="form-group ">

                                    <label class="col-lg-2 control-label">Street Name</label>
                                    <div class="col-lg-6">
                                        <input name="" id="" class="form-control" ng-model="streetName">
                                    </div>
                                    <label class="col-lg-2 control-label">City</label>
                                    <div class="col-lg-6">
                                        <input name="" id="" class="form-control" ng-model="city" />
                                    </div>
                                    <label class="col-lg-2 control-label">State</label>
                                    <div class="col-lg-6">
                                        <input name="" id="" class="form-control" ng-model="State" />
                                    </div>
                                    <label class="col-lg-2 control-label">Pin Code</label>
                                    <div class="col-lg-6">
                                        <input name="" id="" class="form-control" ng-model="pinCode">
                                    </div>
                                    <label class="col-lg-2 control-label">Country</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="c-name" placeholder="" ng-model="country">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Password</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="mobile" placeholder=" " ng-model="pswd">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="reset" class="btn btn-primary" ng-click="adminCreate()">Save</button>
                                        <button type="reset" class="btn btn-danger">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>