<div ng-controller="allAdminCtl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-user-circle"></i>
                        <span style="color:white;">&nbspALL ADMIN</span>
                    </div>
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Admin Name</th>
                                <!-- <th>Email</th> -->
                                <th>Phone Number</th>
                                <th>Status</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ad in organizationList">
                                <td style="background-color:white;">{{$index+1}}.</td>
                                <td style="background-color:white;">{{ad.firstName + " " + ad.lastName}}</td>
                                <!-- <td style="background-color:white;">{{ad.email}}</td> -->
                                <td style="background-color:white;">{{ad.mobNumber}}</td>
                                <td style="background-color:white; color: red" ng-if="ad.status=='inactive'">Inactive</td>
                                <td style="background-color:white; color: green" ng-if="ad.status=='active'">Active</td>
                                <td style="background-color:white;">
                                    <button class="btn btn-danger" ng-if="ad.status=='active'" ng-click="updateAdminStatus(ad._id,'inactive',$index)">Dectivate</button>
                                    <button class="btn btn-info" ng-if="ad.status=='inactive'" ng-click="updateAdminStatus(ad._id,'active',$index)">Activate</button>
                                    <button class="btn btn-warning" ng-click="viewUser(ad._id, 'teacher')">View</button>
                                    <!-- <button class="btn btn-danger" ng-click="deleteStud(ad._id, $index)">Delete</button> -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </section>

            </div>
        </section>
    </section>
</div>