<div ng-controller="allSchoolCtl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <div class="panel-content" style="padding: 1px;">
                    <section class="panel">
                            <div class="panel-heading">
                                    <i class="fa fa-user-circle"></i>
                                    <span style="color:white;">&nbspSCHOOL LIST</span>
                                </div>
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Registration Number</th>
                                    <th>School Name</th>
                                    <!-- <th>Email</th>
                                    <th>Phone Number</th> -->
                                    <th>Status</th>

                                    <th>Action</th>
                                   
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sd in allSchool">
                                   <td style="background-color:white;">{{$index+1}}</td>
                                   <td style="background-color:white;">{{sd.schoolRegNumber}}</td>
                                   <td style="background-color:white;">{{sd.schoolName}}</td>
                                   <!-- <td style="background-color:white;">{{sd.email}}</td>
                                   <td style="background-color:white;">{{sd.mobNumber}}</td> -->
                                    <td style="color:green;background-color:white;" ng-if="sd.status=='active'" >Active</td>
                                    <td style="color:red;background-color:white;" ng-if="sd.status=='inactive'" >Inactive</td>
                                   <td style="background-color:white;">
                                        <button class="btn btn-danger" ng-if="sd.status=='active'" ng-click="updateSchoolStatus(sd._id,'inactive',$index)">Deactivate</button>
                                        <button class="btn btn-info" ng-if="sd.status=='inactive'" ng-click="updateSchoolStatus(sd._id,'active',$index)">Activate</button>
                                
                                        <button class="btn btn-warning" ng-click="viewUser(sd._id, 'school')">View</button>
                               
                                        <!-- <button class="btn btn-danger" ng-click="deleteStud(sd._id, $index)">Delete</button> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </section>
                </div>

            </div>
        </section>
    </section>
</div>