<div ng-controller="allUserCtl">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <div class="form-group">
                    <center>
                        <select class="btn btn-warning m-bot15" placeholder="select" ng-model="selectedSchool" ng-options="sl as sl for sl in schoolList"
                            ng-change="schoolUserData(selectedSchool)">
                            <option value="" disabled selected>Select School</option>
                        </select>
                    </center>
                </div>
                <section class="panel">
                    <div class="form-group">
                        <div class="panel-heading">
                            <i class="fa fa-user-circle"></i>
                            <span style="color:white;">&nbspADMIN</span>
                        </div>
                        <table class="table table-sm">
                            <thead class="panel-heading">
                                <tr>
                                    <th>#</th>

                                    <th>Admin Name</th>
                                    <!-- <th>Email</th> -->
                                    <th>Phone Number</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                    <!-- <th>View</th>
                                        <th>Delete</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="ad in teacherData" ng-if="ad.loginType=='admin'">
                                    <td style="background-color:white;">{{$index+1}}.</td>
                                    <td style="background-color:white;">{{ad.firstName + " " + ad.lastName}}</td>
                                    <!-- <td style="background-color:white;">{{ad.email}}</td> -->
                                    <td style="background-color:white;">{{ad.mobNumber}}</td>
                                    <td style=" background-color:white; color:red;" ng-if="ad.status=='inactive'">Inactive</td>
                                    <td style=" background-color:white; color:green;" ng-if="ad.status=='active'">Active</td>
                                    <td style="background-color:white;">
                                        <button class="btn btn-danger" ng-if="ad.status=='active'" ng-click="updateAdminStatus(ad._id,'inactive',$index)">Deactivate</button>
                                        <button class="btn btn-info" ng-if="ad.status=='inactive'" ng-click="updateAdminStatus(ad._id,'active',$index)">Activate</button>

                                        <button class="btn btn-warning" ng-click="viewUser(ad._id, 'teacher')">View</button>

                                        <!-- <button class="btn btn-danger" ng-click="deleteStud(ad._id, $index)">Delete</button> -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="panel">
                    <div class="form-group">
                        <div class="panel-heading">
                            <i class="fa fa-user-circle"></i>
                            <span style="color:white;">&nbspTEACHER</span>
                        </div>
                        <table class="table table-sm">
                            <thead class="panel-heading">
                                <tr>
                                    <th>#</th>
                                    <th>Teacher Id</th>
                                    <th>Teacher Name</th>
                                    <!-- <th>Email</th> -->
                                    <th>Mobile Number</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="td in teacherData" ng-if="td.loginType=='teacher'">
                                    <td style="background-color:white;">{{$index+1}}.</td>
                                    <td style="background-color:white;">{{td.schoolId}}</td>
                                    <td style="background-color:white;">{{td.firstName + " " + td.lastName}}
                                        <!-- <a class="btn-info" ng-click="tableForTimes($index)">{{td.firstName + " " + td.lastName}}</a> -->
                                    </td>
                                    <!-- <td style="background-color:white;">{{td.email}}</td> -->
                                    <td style="background-color:white;">{{td.mobNumber}}</td>
                                    <td style=" background-color:white; color:red;" ng-if="td.status=='inactive'">Inactive</td>
                                    <td style=" background-color:white; color:green;" ng-if="td.status=='active'">Active</td>
                                    <td style="background-color:white;">
                                        <button class="btn btn-warning" ng-click="viewUser(td._id, 'teacher')">View</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="panel">
                    <div class="form-group">
                        <div class="panel-heading" style="background: #3a4a58;">
                            <i class="fa fa-user-circle"></i>
                            <span style="color:white;">&nbsp;STUDENT</span>
                        </div>
                        <table class="table table-sm">
                            <thead class="panel-heading">
                                <tr>
                                    <th>#</th>
                                    <th>Student Id</th>
                                    <th>Student Name</th>
                                    <th>Class</th>
                                    <th>Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="sd in studentData">
                                    <td style="background-color:white;">{{$index+1}}.</td>
                                    <td style="background-color:white;">{{sd.schoolId}}</td>
                                    <td style="background-color:white;">
                                        {{sd.firstName + " " + sd.lastName}}
                                    </td>
                                    <td style="background-color:white;">{{sd.cs[0].class}}-{{sd.cs[0].section}}</td>
                                 
                                    <td style=" background-color:white; color:red;" ng-if="sd.status=='inactive'">Inactive</td>
                                    <td style=" background-color:white; color:green;" ng-if="sd.status=='active'">Active</td>
                                    <td style="background-color:white;">
                                        <button class="btn btn-warning" ng-click="viewUser(sd._id,'studParent')">View</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </section>

    </section>
</div>