<div ng-controller="attendanceViewCtl">
    <style type="text/css">
        /* mwl-calendar .cal-month-day {
              max-height: 80px !important;
              height: 80px !important;
            } */

        mwl-calendar span[data-cal-date] {
            color: black;
        }

        .cal-row-head {
            background: wheat;
        }

        mwl-calendar .cal-month-box [class*=cal-cell],
        mwl-calendar .cal-year-box [class*=span] {
            max-height: 80px !important;
            min-height: 40px !important;
        }

        mwl-calendar span[data-cal-date] {
            font-weight: 400;
            opacity: .5;
            margin-top: 5px;
            margin-right: 5px;
        }

        mwl-calendar .cal-month-day {
            max-height: 80px !important;
            height: 60px !important;
        }

        mwl-calendar .event {
            width: 8px;
            height: 8px;
        }

        .cal-day-hour-part-time strong.ng-hide {
            display: block !important;
        }

        .cal-day-hour-part-time {
            background-color: skyblue;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .cal-day-open {
            background: #ff7777;
        }
    </style>
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                    <div class="panel-content" style="padding: 1px;">
                            <section class="panel">
        
                                <div class="panel-heading">
                                    <i class="fa fa-clipboard"></i>
                                    <span style="color:white;">&nbspATTENDENCE REPORT</span>
                                </div>
               
                  
                    <div class="panel-body bio-graph-info" style="padding: 1px;">
                            <div style="margin:20px !important;">

                            <div ng-option="userData.loginType=='teacher'" style="height: 40px; margin-left: 20px !important;margin-right: 20px !important;">
                                <select class="btn btn-warning" ng-if="userLoginType=='teacher'" placeholder="select" ng-model="cssSelect" ng-change="getStudListForCS(cssSelect)"
                                    ng-options="css as css.class+ '-' + css.section + '-' + css.subject for css in teacherData[0].css">
                                    <option value="" disabled selected>Class</option>
                                </select>

                                <select class="btn" ng-if="userLoginType=='teacher'" placeholder="select" ng-model="csSelect" ng-change="getStudentAttendance(csSelect)"
                                    ng-options="cs as cs.name + '-' + cs.studId for cs in studList">
                                    <option value="" disabled selected>Student</option>
                                </select>
                                <div style="float: right;">
                                    <span style="color:#1b7fe3;font-size:20px;">&#8226 &nbsp</span>
                                    <i style="color:black">Present</i>&nbsp&nbsp&nbsp
                                    <span style="color:red;font-size:20px;">&#8226 &nbsp</span>
                                    <i style="color:black">Absent</i>
                                </div>
                            </div>
                            <div class="panel-heading" style="height: 50px;">
                                <div class="panel-actions">

                                    <div style="float:left !important; position: absolute;
                                      left: 0;">
                                        <label class="btn uib-btn-radio" mwl-date-modifier date="viewDate" decrement="calendarView" ng-click="cellIsOpen = false">
                                            << </label>
                                                <label class="btn btn-default" mwl-date-modifier date="viewDate" set-to-today ng-click="cellIsOpen = false">
                                                    Today
                                                </label>
                                                <label class="btn uib-btn-radio" mwl-date-modifier date="viewDate" increment="calendarView" ng-click="cellIsOpen = false">
                                                    >>
                                                </label>
                                    </div>
                                    <div style="position: absolute !important;
                                  right: 43%;">
                                        <!-- <h2 >
                                        <strong>{{ calendarTitle }}({{calendarOwner}})</strong>
                                    </h2> -->
                                        <h2>
                                            <strong>{{ calendarTitle }}</strong>
                                        </h2>
                                    </div>

                                    <div style="float:right; position: absolute;
                                    right: 0;">
                                        <label class="btn btn-info" ng-model="calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
                                        <label class="btn btn-info" ng-model="calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
                                    </div>
                                </div>

                            </div>

                            <div class="panel-body">
                                <!-- Widget content -->
                                <mwl-calendar events="events" view-title="calendarTitle" view="calendarView" view-date="viewDate">
                                </mwl-calendar>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>