<div ng-controller="changePasswordCtl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-user-circle"></i>
                        <span style="color:white;">&nbspCHANGE PASSWORD</span>
                    </div>

                    <div class="panel-body bio-graph-info" style="padding: 1px;">
                        <div style="margin:20px !important;">
                            <form class="form-horizontal" role="form">
                                <video id="videoPlayer" autoplay='true'  controls>
                                    <source  type="video/mp4"> Your browser does not support the video tag.
                                </video>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Enter Your Current Password</label>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" placeholder="Enter Current Password" ng-model="currentPswd" ng-blur="currentPswdCheck()">
                                        <br>
                                        <span ng-if="validationStatus == true" style="color:green">{{validationMsg}}</span>
                                        <span ng-if="validationStatus == false" style="color:red">{{validationMsg}}</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Enter Your New Password</label>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control" placeholder="Enter New Password" ng-model="newPswd">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="reset" class="btn btn-primary" ng-click="passwordChange()">Save</button>
                                        <button type="reset" class="btn btn-danger">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </section>
        <script>
            const VP = document.getElementById('videoPlayer')
            const VPToggle = document.getElementById('toggleButton')
        
            VPToggle.addEventListener('click', function () {
                if (VP.paused) VP.play()
                else VP.pause()
            })
        </script>
    </section>
</div>