<div ng-controller="dashboardPersonalDetailController">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-user-circle"></i>
                        <span style="color:white;">&nbspPROFILE</span>
                        <notification displayType="{{notificationType}}" message="{{notification}}"></notification>
                    </div>
                    <div class="row" style="margin:20px!important; background: #ffc107; padding: 10px;" ng-if="loginType!='vc4allAdmin'">
                        <div class="col-lg-3" ng-if="loginType=='admin'">
                            <center>

                                <img style="max-height:150px; margin-left: 20px;" src="{{userData[0].logoPath}}">
                                <!-- <img style="max-height:150px; margin-left: 20px;" src=logo.png> -->
                            </center>

                        </div>
                        <div class="col-lg-3" ng-if="loginType!='admin'">
                            <center>

                                <img style="max-height:150px; margin-left: 20px;" src="{{schoolLogoPath}}">
                                <!-- <img style="max-height:150px; margin-left: 20px;" src=logo.png> -->
                            </center>

                        </div>
                        <div class="col-lg-9">
                            <center style="font-size: 60px; margin: 25px;"> {{userData[0].schoolName}}</center>
                        </div>
                    </div>
                    <div class="panel-body bio-graph-info" style="padding: 1px;">
                        <div class="row" style="margin:20px!important;" ng-if="loginType!='vc4allAdmin'">


                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                                ng-if="loginType=='studParent'">
                                <table class="table table-sm">

                                    <tr>
                                        <td style="color:  lightcoral;font-size: 20px;font-family: -webkit-pictograph;">
                                            STUDENT
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <img style="max-width:100px;" src="{{userData[0].profilePic_path}}">
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Student Name</b>
                                        </td>
                                        <td>{{userData[0].firstName +" "+ userData[0].lastName}}</td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">ID</b>
                                        </td>
                                        <td> {{userData[0].schoolId}}</td>
                                    </tr>

                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Class</b>
                                        </td>
                                        <td>
                                            <span ng-repeat="cs in userData[0].cs">{{cs.class}}-{{cs.section}}</span>
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">D.O.B</b>
                                        </td>
                                        <td>
                                            {{userData[0].dob | date:' d MMM yyyy'}}
                                        </td>
                                    </tr>
                                    <!-- <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">D.O.Joining</b>
                                        </td>
                                        <td>
                                            {{userData[0].doj | date:' d MMM yyyy'}}
                                        </td>
                                    </tr> -->


                                </table>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                                ng-if="loginType=='studParent'">

                                <table class="table table-sm">

                                    <tr>
                                        <td style="color:  lightcoral;font-size: 20px;font-family: -webkit-pictograph;">
                                            FATHER
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <img style="max-width:100px;" src="{{userData[0].father_profilePic_path}}">
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Father Name</b>
                                        </td>
                                        <td> {{userData[0].parentName}}</td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Father Email</b>
                                        </td>
                                        <td> {{userData[0].parentEmail}}</td>
                                    </tr>

                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Father Phone</b>
                                        </td>
                                        <td> {{userData[0].mobileNum}}</td>
                                    </tr>


                                </table>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                                ng-if="loginType=='studParent'">
                                <table class="table table-sm">

                                    <tr>
                                        <td style="color:  lightcoral;font-size: 20px;font-family:-webkit-pictograph;">
                                            MOTHER
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <img style="max-width:100px;" src="{{userData[0].mother_profilePic_path}}">

                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Mother Name</b>
                                        </td>
                                        <td> {{userData[0].motherName}}</td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Mother Email</b>
                                        </td>
                                        <td> {{userData[0].motherEmail}}</td>
                                    </tr>

                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Mother Phone</b>
                                        </td>
                                        <td> {{userData[0].mobileNum}}</td>
                                    </tr>


                                </table>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                                ng-if="loginType=='teacher'">
                                <table class="table table-sm">

                                    <tr>
                                        <td style="color:  lightcoral;font-size: 20px;font-family: -webkit-pictograph;">
                                            TEACHER
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <img style="max-width:100px;" src="{{userData[0].profilePic_path}}">
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Name</b>
                                        </td>
                                        <td>{{userData[0].firstName +" "+ userData[0].lastName}}</td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">ID</b>
                                        </td>
                                        <td> {{userData[0].schoolId}}</td>
                                    </tr>

                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Mobile Number</b>

                                        </td>
                                        <td>
                                            {{userData[0].mobNumber}}
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">E-Mail</b>

                                        </td>
                                        <td>
                                            {{userData[0].email}}
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">D.O.B</b>
                                        </td>
                                        <td>
                                            {{userData[0].dob | date:' d MMM yyyy'}}
                                        </td>
                                    </tr>
                                    <!-- <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">D.O.Joining</b>
                                        </td>
                                        <td>
                                            {{userData[0].doj | date:' d MMM yyyy'}}
                                        </td>
                                    </tr> -->

                                </table>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                                ng-if="loginType=='teacher'">
                                <table class="table table-sm">

                                    <tr>
                                        <td style="color:  lightcoral;font-size: 20px;font-family: -webkit-pictograph;">
                                            CLASSES
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>Class</td>
                                        <td>Section</td>
                                        <td>Subject</td>
                                    </tr>



                                    <tr style="background: sandybrown;" ng-repeat="css in userData[0].css">
                                        <td>{{css.class}}</td>
                                        <td>{{css.section}}</td>
                                        <td>{{css.subject}}</td>
                                    </tr>
                                </table>

                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                                ng-if="loginType=='admin'">
                                <table class="table table-sm">
                                    <tr>
                                        <td style="color:  lightcoral;font-size: 20px;font-family: -webkit-pictograph;">
                                            ADMINISTRATOR
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img style="max-width:100px;" src="{{userData[0].profilePic_path}}">
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Name</b>
                                        </td>
                                        <td>{{userData[0].firstName +" "+ userData[0].lastName}}</td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Mobile Number</b>

                                        </td>
                                        <td>
                                            {{userData[0].mobNumber}}
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">E-Mail</b>
                                        </td>
                                        <td>
                                            {{userData[0].email}}
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="row" style="margin:20px!important;" ng-if="loginType=='vc4allAdmin'">
                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                <table class="table table-responshive table-sm">

                                    <tr>
                                        <td style="color:  lightcoral;font-size: 20px;font-family: -webkit-pictograph;">
                                            VC4ALL ADMIN
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <img style="max-width:100px;" src="{{userData[0].profilePic_path}}">
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Name</b>
                                        </td>
                                        <td>{{userData[0].firstName +" "+ userData[0].lastName}}</td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Mobile Number</b>

                                        </td>
                                        <td>
                                            9066367679
                                        </td>
                                        <!-- <td>
                                            {{userData[0].mobNumber}}
                                        </td> -->
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">E-Mail</b>

                                        </td>
                                        <td>
                                            {{userData[0].email}}
                                        </td>
                                    </tr>
                                </table>
                            </div>


                        </div>
                        <div style="margin: 20px !important;" class="row">
                            <div class="fa fa-pencil-square btn btn-warning">
                                <a href="#!/dashboard/editDetails">&nbsp Edit Details</a>
                            </div>
                        </div>
                </section>

                </div>


        </section>
    </section>

    </div>