<div ng-controller="dashboardController">
        <!-- <link rel="stylesheet" href="././dashboard_Lib/css/style.css" />
        <link rel="stylesheet" href="././dashboard_Lib/css/style-responsive.css" />
        <link rel="stylesheet" href="././dashboard_Lib/css/elegant-icons-style.css" /> -->
    <!-- <div id="loadings"></div> -->
    <!-- container section start -->
    <section id="container" class="">
        <header class="header dark-bg">
            <div class="toggle-nav">
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom">
                    <i class="icon_menu" ng-click="iconMenuClick()"></i>
                </div>
            </div>
            <span>
                <img ng-click="homeClick()" style="float:left;width: 63px;margin-top: 5px" src="././home/img/fav.png" />
                <a ng-click="homeClick()" class="logo" style="font-weight: 500; letter-spacing: -2.3px;font-family: 'Allerta Stencil';">VC4ALL</a>
            </span>
            <div class="top-nav notification-row">
                <ul class="nav pull-right top-menu">

                    <li class="dropdown">
                        <span ng-if="hour <'12' && min<='59' && sec<='59' && hour >='0'" class="username"> &nbspGood Morning&nbsp{{userName}}</span>
                        <span ng-if="hour >='12' && hour < '17'" class="username"> Good Afternoon&nbsp{{userName}}</span>
                        <span ng-if="hour >='17' && min<='59' && sec<='59' && hour <='23'" class="username">Good Evening&nbsp{{userName}}</span>
                        <br>
                        <span class="username" style="color: white;">
                            {{clock | date:' d MMM yyyy h:mm a'}}</span>
                    </li>
                </ul>
            </div>
        </header>

        <!-- <header id="header">
            <div class="container">
              <div id="logo" class="pull-left">
                <span>
                  <img style="float:left;" src="././home/img/fav.png" />
                  <a href="/" id="mm" style="font-size: 33px;
                  letter-spacing: -2.3px;
              font-weight: 500;
              font-family: 'Allerta Stencil';
              color: #a8cf44 !important;
              float: left;
              margin-top: 4px;
              text-transform: uppercase;">
                    <span>
                      <span id="vc">VC4ALL</span>
                    </span>
                  </a>
                </span>
              </div>
              <nav id="nav-menu-container">
                <ul class="nav-menu">
                  <li ng-if="userData.loginType" id="dashboard" style="display:block;">
                    <a href="#!dashboard/personalDetail">DASHBOARD
                    </a>
                  </li>
                  <li>
                    <a href="#services">FEATURES</a>
                  </li>
                  <li>
                    <a href="#contact">ABOUT US</a>
                  </li>
                  <li ng-if="!userData.loginType">
                    <a href="#" data-target="#crdntl" data-toggle="modal">LOGIN</a>
                  </li>
                  <li ng-if="userData.loginType">
                    <a href="#!dashboard/logout">LOGOUT</a>
                  </li>
    
                </ul>
              </nav>
    
            </div>
          </header> -->

        <!-- <img   class="kklklk" src="robot.gif" style="margin-top: 81px; background: #a8d043ab; z-index: 1000; width: 100px;">-->
        <!-- <div id="grline"  class="moving" style="position: fixed;
          height: 5px;
          left: 0;
          top: 59px;
          right: 0;
          z-index: 1000;
         ">
        </div> -->
        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse">
                <!-- sidebar menu start-->
                <ul class="sidebar-menu" ng-hide="sideBarMenu">
                    <li id="alink">
                        <a ng-click="homeClick()" class="home">
                            <i class="fa fa-home">
                                <span>&nbspHOME</span>
                            </i>
                        </a>
                    </li>
                    <li>
                        <a href="#!/dashboard/personalDetail">
                            <i class="fa fa-user-circle">
                                <span>&nbspPROFILE</span>
                            </i>
                        </a>
                    </li>
                    <li class="sub-menu" ng-if="loginType == 'teacher' || loginType == 'studParent'">
                        <a ng-click="eventClick('comm_subMenu')">
                            <i class="fa fa-globe">
                                <span>&nbspCOMMUNICATION</span>
                            </i>
                            <span ng-if="comm_subMenu==true" class="menu-arrow arrow_carrot-right"></span>
                            <span ng-if="comm_subMenu==false" class="menu-arrow arrow_carrot-down"></span>
                        </a>
                        <ul ng-hide="comm_subMenu">
                            <li>
                                <a class="" href="#!/dashboard/eventShedule">SCHEDULE MEETING</a>
                            </li>
                            <li>
                                <a class="" href="#!/dashboard/quickMsg">QUICK MESSAGE</a>
                            </li>
                        </ul>
                    </li>
                    <!-- ##### Start teacher/student Event  ##### -->
                    <li class="sub-menu" ng-if="loginType == 'teacher' || loginType == 'studParent'">
                        <a ng-click="eventClick('events_subMenu')">
                            <i class="fa fa-calendar">
                                <span>&nbspEVENTS</span>
                            </i>
                            <i ng-if="numberOfNotif_event>0" class="fa fa-circle llkk" style="font-size:10px"></i>

                            <span ng-if="events_subMenu==true" class="menu-arrow arrow_carrot-right"></span>
                            <span ng-if="events_subMenu==false" class="menu-arrow arrow_carrot-down"></span>
                        </a>
                        <ul ng-hide="events_subMenu">
                            <li>
                                <a class="" href="#!/dashboard/upcomingEvent">UPCOMING &nbsp
                                    <span style="    margin-right: 10px;
                                    color: yellowgreen;
                                    font-family: sans-serif;
                                    float: right;" ng-if="numberOfNotif_event>0">({{numberOfNotif_event}})</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="#!/dashboard/history">HISTORY</a>
                            </li>
                        </ul>
                    </li>
                    <!-- ##### Start teacher/student Event  ##### -->
                    <!-- ##### Start teacher/student Quick Message  ##### -->
                    <li class="sub-menu" ng-if="loginType == 'teacher' || loginType == 'studParent'">
                        <a ng-click="eventClick('quickMsg_subMenu')">
                            <i class="fa fa-envelope">
                                <span>&nbspMESSAGE</span>
                            </i>
                            <i class="fa fa-circle llkk" style="font-size:10px" ng-if="numberOfNotif_quickMsg>0"></i>
                            <span ng-if="quickMsg_subMenu==true" class="menu-arrow arrow_carrot-right"></span>
                            <span ng-if="quickMsg_subMenu==false" class="menu-arrow arrow_carrot-down"></span>
                        </a>
                        <ul ng-hide="quickMsg_subMenu">
                            <li>
                                <a class="" href="#!/dashboard/incomingMsg">INBOX &nbsp
                                    <span style="    margin-right: 10px;
                                    color: yellowgreen;
                                    font-family: sans-serif;
                                    float: right;" ng-if="numberOfNotif_quickMsg>0">({{numberOfNotif_quickMsg}})</span>
                                </a>
                            </li>
                            <li>
                                <a class="" href="#!/dashboard/outgoingMsg">OUTBOX</a>
                            </li>
                        </ul>
                    </li>
                    <!-- ##### Start teacher/student Quick Message  ##### -->
                    <!-- ##### Start teacher/student Acdemic  ##### -->
                    <li class="sub-menu" ng-if="loginType=='teacher' || loginType=='studParent'">
                        <a ng-click="eventClick('academic_subMenu')">
                            <i class="fa fa-clipboard">
                                <span>&nbspACADEMIC</span>
                            </i>
                            <span ng-if="academic_subMenu==true" class="menu-arrow arrow_carrot-right"></span>
                            <span ng-if="academic_subMenu==false" class="menu-arrow arrow_carrot-down"></span>
                        </a>
                        <ul ng-hide="academic_subMenu">
                            <li>
                                <a class="" href="#!/dashboard/attendanceView">ATTENDANCE</a>
                            </li>
                            <li>
                                <a class="" href="#!/dashboard/markView">RESULT</a>
                            </li>
                            <li>
                                <a class="" href="#!/dashboard/feeView">FEE</a>
                            </li>
                        </ul>
                    </li>
                    <!-- ##### End teacher/student Acdemic  ##### -->
                    <!-- ##### Start teacher/student  Setting  ##### -->
                    <li class="sub-menu" ng-if="loginType=='teacher' || loginType=='studParent'">
                        <a ng-click="eventClick('setting_subMenu')">
                            <i class="fa fa-cog">
                                <span>&nbspSETTINGS</span>

                            </i>

                            <span ng-if="setting_subMenu==true" class="menu-arrow arrow_carrot-right"></span>
                            <span ng-if="setting_subMenu==false" class="menu-arrow arrow_carrot-down"></span>
                        </a>
                        <ul ng-hide="setting_subMenu">
                            <li>
                                <a class="" href="#!/dashboard/passwordChange">CHANGE PASSWORD</a>
                            </li>
                            <!-- <li>
                                <a class="" href="#!/dashboard/comingSoon">ACCOUNT SETTINGS</a>
                            </li> -->
                        </ul>
                    </li>
                    <!-- ##### Start teacher/student  Setting  ##### -->
                    <!-- ##### Start school admin Acdemic  ##### -->
                    <li class="sub-menu" ng-if="loginType=='admin'">
                        <a ng-click="eventClick('academic_subMenu')">
                            <i class="fa fa-clipboard">
                                <span>&nbspACADEMIC</span>
                            </i>
                            <span ng-if="academic_subMenu==true" class="menu-arrow arrow_carrot-right"></span>
                            <span ng-if="academic_subMenu==false" class="menu-arrow arrow_carrot-down"></span>
                        </a>
                        <ul ng-hide="academic_subMenu">
                            <li>
                                <a class="" href="#!/dashboard/reportsUpload">UPLOAD</a>
                            </li>
                            <li>
                                <a class="" href="#!/dashboard/reportsUpdate">UPDATE</a>
                            </li>
                        </ul>
                    </li>
                    <!-- ##### End school admin Acdemic  ##### -->
                    <!-- ##### Start school admin Setting  ##### -->
                    <li class="sub-menu" ng-if="loginType=='admin'">
                        <a ng-click="eventClick('setting_subMenu')">
                            <i class="fa fa-cog">
                                <span>&nbspSETTINGS</span>
                            </i>

                            <span ng-if="setting_subMenu==true" class="menu-arrow arrow_carrot-right"></span>
                            <span ng-if="setting_subMenu==false" class="menu-arrow arrow_carrot-down"></span>
                        </a>
                        <ul ng-hide="setting_subMenu">
                            <li>
                                <a class="" href="#!/dashboard/passwordChange">CHANGE PASSWORD</a>
                            </li>
                            <!-- <li>
                                <a class="" href="#!/dashboard/comingSoon">ACCOUNT SETTINGS</a>
                            </li> -->
                            <li ng-if="loginType=='admin'">
                                <a class="" href="#!/dashboard/userAuth">AUTHENTICATION</a>
                            </li>
                        </ul>
                    </li>
                    <!-- ##### End school admin Setting  ##### -->
                    <!-- ##### Start VC4ALL admin Setting  ##### -->
                    <li class="sub-menu" ng-if="loginType=='vc4allAdmin'">
                        <a ng-click="eventClick('setting_subMenu')">
                            <i class="fa fa-cog">
                                <span>&nbspSETTINGS</span>
                            </i>
                            <span ng-if="setting_subMenu==true" class="menu-arrow arrow_carrot-right"></span>
                            <span ng-if="setting_subMenu==false" class="menu-arrow arrow_carrot-down"></span>
                        </a>
                        <ul ng-hide="setting_subMenu">
                            <li>
                                <a class="" href="#!/dashboard/passwordChange">CHANGE PASSWORD</a>
                            </li>
                            <!-- <li>
                                <a class="" href="#!/dashboard/comingSoon">ACCOUNT SETTINGS</a>
                            </li> -->

                            <li>
                                <a class="" href="#!/dashboard/allUser">ALL USER</a>
                            </li>
                            <li>
                                <a class="" href="#!/dashboard/allAdmin">ALL ADMIN</a>
                            </li>
                            <li>
                                <a class="" href="#!/dashboard/allSchool">ALL SCHOOL</a>
                            </li>

                            <li>
                                <a class="" href="#!/dashboard/adminCreate">CREATE ADMIN</a>
                            </li>
                        </ul>
                    </li>
                    <li id="analink" ng-if="loginType=='vc4allAdmin'">
                        <a href="#!/dashboard/analytics" class="home">
                            <i class="fa fa-line-chart">
                                <span>&nbspANALYTICS</span>
                            </i>
                        </a>
                    </li>
                    <li id="analink">
                        <a href="#!/dashboard/captureImg" class="home">
                            <i class="fa fa-line-chart">
                                <span>&nbspCAPTURE IMAGE</span>
                            </i>
                        </a>
                    </li>
                    <!-- ##### End VC4ALL admin Setting  ##### -->
                    <li>
                        <a href="#" ng-click="logOut()">
                            <i class="fa fa-sign-out">
                                <span>&nbspLOGOUT</span>
                            </i>
                        </a>
                    </li>
                </ul>
                <!-- sidebar menu end-->
            </div>
        </aside>
        <!--sidebar end-->
        <div ui-view class="user-body">
        </div>
        <!--main content end-->
    </section>
    <script src="././dashboard_Lib/js/jquery.js"></script>
    <script src="././dashboard_Lib/js/bootstrap.min.js"></script>
    <script src="././dashboard_Lib/js/jquery.nicescroll.js"></script>
    <script src="././dashboard_Lib/js/jquery.scrollTo.min.js"></script>
    <script src="././dashboard_Lib/js/scripts.js"></script>

</div>