<div ng-controller="dashboardEditController">

    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-user-circle"></i>
                        <span style="color:white;">&nbspEDIT DETAILS</span>
                    </div>
                    <div class="panel-body bio-graph-info" style="padding: 1px;">
                        <div style="margin:20px !important;">
                            <div class="form-group" ng-if="loginType=='studParent'">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>
                                                Student
                                            </th>
                                            <th>
                                                Father
                                            </th>
                                            <th>
                                                Mother
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <img id="blah" src="#" style="max-width:100px;" src="{{userData[0].profilePic_path}}">
                                            </td>
                                            <td>
                                                <img id="blah" src="#" style="max-width:100px;" src="{{userData[0].father_profilePic_path}}">
                                            </td>
                                            <td>
                                                <img id="blah" src="#" style="max-width:100px;" src="{{userData[0].mother_profilePic_path}}">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="file" id="imgInp" class="" name="myImage" value="Upload" file-model="file.upload" ng-model="image" accept="image/jpeg,image/png"
                                                    ng-click="fileUploadClick('student')">
                                            </td>
                                            <td>
                                                <input type="file" id="imgInp" class="" name="myImage" value="Upload" file-model="file.upload" ng-model="image" accept="image/jpeg,image/png"
                                                    ng-click="fileUploadClick('father')">
                                            </td>
                                            <td>
                                                <input type="file" id="imgInp" class="" name="myImage" value="Upload" file-model="file.upload" ng-model="image" accept="image/jpeg,image/png"
                                                    ng-click="fileUploadClick('mother')">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group" ng-if="loginType!='studParent'">
                                <table class="table table-sm">
                                    <tbody>
                                        <tr>
                                            <td>
                                                Profile Image&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Cropped Image
                                            </td>
                                            <td>
                                               
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <img style="max-width:100px;" src="{{userData[0].profilePic_path}}">
                                                <img style="max-width:100px;" ng-src="{{myImage.croppedImage}}" />
                                            </td>
                                           
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="cropArea">
                                                    <img-crop image="myImage.originalImage" result-image="myImage.croppedImage" result-blob="myImage.resBlob" area-type="rectangle"
                                                        area-min-size="100" area-init-size="100" result-image-format="png" result-image-size="100"
                                                        aspect-ratio="0.75" init-max-area="false" allow-crop-resize-on-corners="false">
                                                    </img-crop>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="file" id="fileInput" class="btnCont btnCont-uploadColor post_uploadFile" name="logo" value="Upload" onchange="angular.element(this).scope().uploadFile(this.files[0])"
                                                    ng-click="fileUploadClick('profile_picPath')" accept="image/jpeg,image/png">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button type="submit" class="btn btn-primary" ng-click="schoolLogoStorage()">Save</button>
                                    <button type="reset" class="btn btn-danger">Cancel</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>