<div ng-controller="feeViewCtl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-clipboard fa-2x"></i>
                        <span style="color:white;">&nbspFee Details</span>
                    </div>
                    <div class="panel-body bio-graph-info" style="padding: 1px;">
                        <div ng-option="userData.loginType=='teacher'" style="margin:20px !important;">
                            <div class="form-group ">
                                <select class="btn btn-warning" ng-if="userLoginType=='teacher'" placeholder="select" ng-model="cssSelect" ng-change="getStudListForCS(cssSelect)"
                                    ng-options="css as css.class+ '-' + css.section + '-' + css.subject for css in teacherData[0].css">
                                    <option value="" disabled selected>Class</option>
                                </select>
                            </div>
                            <div class="form-group ">
                                <select class="btn" ng-if="userLoginType=='teacher'" placeholder="select" ng-model="csSelect" ng-change="getStudentMarks(csSelect)"
                                    ng-options="cs as cs.name + '-' + cs.studId for cs in studList">
                                    <option value="" disabled selected>Student</option>
                                </select>
                            </div>
                            <!-- <div class="form-group ">
                                <select class="btn" placeholder="select" ng-model="mSelect" ng-options="m as m.testType for m in mark">
                                    <option class="btn btn-warning" value="" disabled selected>View Result By Type</option>
                                </select>
                            </div> -->
                            <div class="form-group" ng-repeat="allfee in fee">
                                <table class="table table-bordered table-sm" ng-if="allfee.details.length>0" ng-repeat="al in allfee.details">
                                    <thead>
                                        <tr>
                                            <th ng-if="allfee.feeType=='BF'" style="color: black">
                                                <i class="fa fa-cab"></i>&nbsp;Bus Fee</th>
                                            <th ng-if="allfee.feeType=='MF'" style="color: black">
                                                <i class="fa fa-cutlery"></i>&nbsp;Mess Fee</th>
                                            <th ng-if="allfee.feeType=='AF'" style="color: black">
                                                <i class="fa fa-graduation-cap"></i>&nbsp; Aducation Fee</th>
                                            <th ng-if="allfee.feeType=='Other'" style="color: black">
                                                <i class="fa fa-archive"></i>&nbsp;Other Fee</th>

                                        </tr>
                                    </thead>
                                    <tbody style="background:lightgray">
                                        <tr>
                                            <th>PAY TYPE</th>
                                            <th>TOTAL FEE</th>
                                            <th>FEE PAID</th>
                                            <th>PAID ON</th>
                                            <th>DUE AMOUNT</th>
                                            <th>DUE DATE</th>
                                        </tr>
                                        <tr>
                                            <td>{{al.paymentOption}}</td>
                                            <td>{{al.totalAmount}}</td>
                                            <td>{{al.amountPaid}}</td>
                                            <td>{{al.PaidDate}}</td>
                                            <td>{{al.dueAmout}}</td>
                                            <td>{{al.lastDateToPaid}}</td>
                                        </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>