<div ng-controller="historyController">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-user-circle"></i>
                        <span style="color:white;">&nbspMEETING HISTORY</span>
                    </div>
                    <div class="panel-body bio-graph-info" style="padding: 1px;">
                        <div style="margin:20px !important;">
                            <div class="col-lg-12">

                                <form class="navbar-form">
                                    <input class="form-control" placeholder="Search" type="text">
                                </form>
                                <table class="table   table-sm table-striped table-advance table-hover">
                                    <tbody>
                                        <tr>
                                            <th>
                                                <i class="icon_profile"></i>Title
                                                <i class="arrow_up_alt pull-right"></i>
                                                <i class="arrow_down_alt pull-right"></i>
                                            </th>
                                            <th>
                                                <i class="icon_calendar"></i>Date
                                                <i class="arrow_up_alt pull-right"></i>
                                                <i class="arrow_down_alt pull-right"></i>
                                            </th>
                                            <th>
                                                <i class="icon_mail_alt"></i>Timing
                                                <i class="arrow_up_alt pull-right"></i>
                                                <i class="arrow_down_alt pull-right"></i>
                                            </th>
                                            <th>


                                                <i class="icon_cogs"></i> Action</th>

                                        </tr>
                                       <!-- <tr ng-repeat="event in events  | orderBy:'-startsAt'" ng-if="event.startsAt<todayDate"> -->
                                        <tr ng-repeat="event in events  | orderBy:'-startsAt'">
                                            <td>{{event.title}}</td>
                                            <td>{{event.startsAt | date:'MMM d, y'}}</td>
                                            <td>{{event.startsAt | date:'h:mm a'}}-{{event.endsAt | date:'h:mm a'}}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button class="btn btn-primary" ng-click="viewDetail(event.id)">View</button>
                                                    <a class="btn btn-primary" href="#">
                                                        <i class="icon_plus_alt2"></i>&nbsp;Chat
                                                    </a>
                                                    <a class="btn btn-success" href="#">
                                                        <i class="icon_check_alt2"></i>&nbsp;Video
                                                    </a>
                                                    <a class="btn btn-success" href="#">
                                                        <i class="icon_check_alt2"></i>&nbsp;Summary
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <!-- <tr>
                                <td>Sung Carlson</td>
                                <td>2011-01-10</td>
                                <td>ione.gisela@high.org</td>
                                <td>Robert Lee</td>
                                <td>724-639-4784</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#">
                                            <i class="icon_plus_alt2"></i>
                                        </a>
                                        <a class="btn btn-success" href="#">
                                            <i class="icon_check_alt2"></i>
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon_close_alt2"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Bryon Osborne</td>
                                <td>2006-10-29</td>
                                <td>sol.raleigh@language.edu</td>
                                <td>York</td>
                                <td>180-456-0056</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#">
                                            <i class="icon_plus_alt2"></i>
                                        </a>
                                        <a class="btn btn-success" href="#">
                                            <i class="icon_check_alt2"></i>
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon_close_alt2"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Dalia Marquez</td>
                                <td>2011-12-15</td>
                                <td>angeline.frieda@thick.com</td>
                                <td>Alton</td>
                                <td>690-601-1922</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#">
                                            <i class="icon_plus_alt2"></i>
                                        </a>
                                        <a class="btn btn-success" href="#">
                                            <i class="icon_check_alt2"></i>
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon_close_alt2"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Selina Fitzgerald</td>
                                <td>2003-01-06</td>
                                <td>moshe.mikel@parcelpart.info</td>
                                <td>Waelder</td>
                                <td>922-810-0915</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#">
                                            <i class="icon_plus_alt2"></i>
                                        </a>
                                        <a class="btn btn-success" href="#">
                                            <i class="icon_check_alt2"></i>
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon_close_alt2"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Abraham Avery</td>
                                <td>2006-07-14</td>
                                <td>harvey.jared@pullpump.org</td>
                                <td>Harker Heights</td>
                                <td>511-175-7115</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#">
                                            <i class="icon_plus_alt2"></i>
                                        </a>
                                        <a class="btn btn-success" href="#">
                                            <i class="icon_check_alt2"></i>
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon_close_alt2"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Caren Mcdowell</td>
                                <td>2002-03-29</td>
                                <td>valeria@hookhope.org</td>
                                <td>Blackwell</td>
                                <td>970-147-5550</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#">
                                            <i class="icon_plus_alt2"></i>
                                        </a>
                                        <a class="btn btn-success" href="#">
                                            <i class="icon_check_alt2"></i>
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon_close_alt2"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Owen Bingham</td>
                                <td>2013-04-06</td>
                                <td>thomas.christopher@firstfish.info</td>
                                <td>Rule</td>
                                <td>934-118-6046</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#">
                                            <i class="icon_plus_alt2"></i>
                                        </a>
                                        <a class="btn btn-success" href="#">
                                            <i class="icon_check_alt2"></i>
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon_close_alt2"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Ahmed Dean</td>
                                <td>2008-03-19</td>
                                <td>lakesha.geri.allene@recordred.com</td>
                                <td>Darrouzett</td>
                                <td>338-081-8817</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#">
                                            <i class="icon_plus_alt2"></i>
                                        </a>
                                        <a class="btn btn-success" href="#">
                                            <i class="icon_check_alt2"></i>
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon_close_alt2"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>Mario Norris</td>
                                <td>2010-02-08</td>
                                <td>mildred@hour.info</td>
                                <td>Amarillo</td>
                                <td>945-547-5302</td>
                                <td>
                                    <div class="btn-group">
                                        <a class="btn btn-primary" href="#">
                                            <i class="icon_plus_alt2"></i>
                                        </a>
                                        <a class="btn btn-success" href="#">
                                            <i class="icon_check_alt2"></i>
                                        </a>
                                        <a class="btn btn-danger" href="#">
                                            <i class="icon_close_alt2"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr> -->
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>