<div ng-controller="incomingMsgCtl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-inbox"></i>
                        <span style="color:white;">&nbspINBOX</span>
                    </div>
                    <div class="panel-body bio-graph-info" style="padding: 1px;">
                        <div style="margin:20px !important;">
                            <div class="col-lg-12">
                                <form class="navbar-form">
                                    <input class="form-control" placeholder="Search" type="text">
                                </form>
                                <table class="table   table-sm table-bordered">
                                    <thead style="background: white">
                                        <tr>
                                            <th>
                                                <span>
                                                    <i class="icon_profile"></i>Title</span>
                                            </th>
                                            <th>
                                                <span>
                                                    <i class="icon_calendar"></i> Date</span>
                                            </th>
                                            <th>
                                                <a class="icon_cogs"></a> Action
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody style="background: white" ng-if="loginType=='teacher'">
                                        <tr ng-repeat="event in events" ng-if="(loginType=='teacher' && event.remoteCalendarId && event.remoteCalendarId==userData.id)">


                                            <td ng-if="event.notificationNeed == 'yes'">
                                                <a class="fa fa-envelope"></a>&nbsp;
                                                <b>{{event.title}}</b>
                                            </td>
                                            <td ng-if="event.notificationNeed != 'yes'">
                                                <a class="fa fa-envelope-open-o"></a>&nbsp;{{event.title}}</td>
                                            <td>{{event.startsAt | date:'MMM d, y'}}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button class="btn btn-primary" ng-click="viewDetail($index, event.id, event.userId)">View</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tbody style="background: white" ng-if="loginType=='studParent'">
                                        <tr ng-repeat="event in events" ng-if="(loginType=='studParent' && event.remoteCalendarId && event.remoteCalendarId==userData.id)">

                                            <td ng-if="event.notificationNeed == 'yes'">
                                                <a class="fa fa-envelope"></a>&nbsp;
                                                <b>{{event.title}}</b>
                                            </td>
                                            <td ng-if="event.notificationNeed != 'yes'">
                                                <a class="fa fa-envelope-open-o"></a>&nbsp;{{event.title}}</td>
                                            <td>{{event.startsAt | date:'MMM d, y'}}</td>
                                            <td>
                                                <div class="btn-group">
                                                    <button class="btn btn-primary" ng-click="viewDetail($index, event.id, event.userId)">View</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>