<div ng-controller="markViewWithConfId_Ctl">
        <section id="main-content">
                <section class="wrapper">
                    <div id="profile">
                        <section class="panel">
                                <div class="panel-heading">
                                        <i class="fa fa-user-circle"></i>
                                        <span style="color:white;">&nbspSEE RESULT</span>
                                    </div>
                            <div class="panel-body bio-graph-info" style="padding: 1px;">
                                <div ng-option="userData.loginType=='teacher'" style="margin:20px !important;">
                                    
                                    <div class="form-group ">
                                        <select class="btn" placeholder="select" ng-model="mSelect" ng-options="m as m.testType for m in mark">
                                            <option value="" disabled selected>testType</option>
                                        </select>
                                    </div>
                                    <div class="form-group ">
                                        <table class="table table-bordered table-sm" ng-repeat="sm in mSelect.subjectWithMark">
                                            <thead>
                                                <tr>
                                                    <th style="color: black">Test Date</th>
                                                    <th style="color: black">{{sm.date | date:'DD/MM/YY'}}</th>
                                                </tr>
                                            </thead>
                                            <tbody style="background-color: #ccc;">
                                                <tr>
                                                    <th ng-repeat="(key, value) in sm.mark">{{key}}</th>
                                                </tr>
                                                <tr>
                                                    <td ng-repeat="(key, value) in sm.mark">{{value}}</td>
                                                </tr>
        
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </section>
            </section>
    </div>