<div ng-controller="reportsUploadCtl">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- profile -->
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-upload"></i>
                        <span style="color:white;">&nbspREPORTS UPLOAD</span>
                    </div>
                    <div class="panel-body bio-graph-info" style="padding: 1px;">
                        <div style="margin:20px !important;">
                            <div ng-if="cssList.length==0">
                                <div class="form-group ">
                                    <label class="control-label col-lg-3">Upload Class Detail*</label>
                                </div>
                                <div class="form-group">
                                    <p class="col-lg-offset-2 col-lg-10">
                                        <span>
                                            <input type="file" style="margin-left: -10px;     width: 166px;
                                    font-size: 10px;" class="bcontrol-label btn btn-warning m-bot15" name="myImage" value="Upload"
                                                image-with-preview file-model="classUploadDoc" ng-model="image" accept="csv"
                                                ng-required="true">
                                        </span>
                                    </p>
                                </div>

                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="submit" class="btn btn-info" ng-click="upload_classPeriodsFile(classUploadDoc,'css')">Save</button>
                                    </div>
                                </div>
                            </div>
                            <!-- <div ng-if="timeTable_timing.length==0 && cssList.length!=0">
                                <div class="form-group ">
                                    <label class="control-label col-lg-3">Upload Periods Detail</label>
                                </div>
                                <div class="form-group">
                                    <p class="col-lg-offset-2 col-lg-10">
                                        <span>
                                            <input type="file" style="margin-left: -10px;     width: 166px;
                                    font-size: 10px;" class="bcontrol-label btn btn-warning m-bot15" name="myImage" value="Upload"
                                                image-with-preview file-model="periodsUploadDoc" ng-model="image" accept="csv"
                                                ng-required="true">
                                        </span>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="submit" class="btn btn-info" ng-click="upload_classPeriodsFile(periodsUploadDoc,'periods')">Save</button>
                                    </div>
                                </div>
                            </div> -->
                            <form ng-if="cssList.length!=0" role="form" name="uploadForm" encType="multipart/form-data" novalidate>
                                <div ng-repeat="up in uploadReports">
                                    <div class="form-group">
                                        <label class="control-label col-lg-3">Upload Type*
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-lg-3">
                                            <select class="form-control m-bot15" placeholder="select" ng-model="up.uploadType" ng-options="ut as ut for ut in uploadTypes">
                                                <option value="" disabled selected>Upload Type</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="up.uploadType=='Time Table'">
                                        <label class="control-label col-lg-3">Teacher*
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-lg-3">
                                            <select class="form-control m-bot15" placeholder="select" ng-model="up.tSelect" ng-options="t as t.name +'-'+ t.schoolId for t in teacherList_noTT">
                                                <option value="" disabled selected>Teacher</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="up.uploadType!='Teacher Details' && up.uploadType!='Time Table' && up.uploadType!=''">
                                        <label class="control-label col-lg-3">Class*
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-lg-3">
                                            <select class="form-control m-bot15" placeholder="select" ng-model="up.cSelect" ng-options="c as c.class for c in cssList">
                                                <option value="" disabled selected>Class</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="up.cSelect.class && up.uploadType!='Teacher Details' && up.uploadType!='Time Table' && up.uploadType!=''">
                                        <label class=" control-label col-lg-3">Section*
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-lg-3">
                                            <select class="form-control m-bot15" placeholder="select" ng-model="up.sSelect" ng-options="s as s for s in up.cSelect.section">
                                                <option value="" disabled selected>Section</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="up.uploadType=='Fee'">
                                        <label class="control-label col-lg-3">Fee Type
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-lg-3">
                                            <select class="form-control m-bot15" placeholder="select" ng-model="up.ftSelect" ng-options="ft as ft for ft in feeTypes">
                                                <option value="" disabled selected>Fee Type</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="up.ftSelect=='Other'">
                                        <label class="control-label col-lg-3">Name
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-lg-3">
                                            <input ng-model="up.fee_otherName" placeholder="Enter Name"/>
                                        </div>
                                    </div>
                                
                                    <div class="form-group" ng-if="up.uploadType=='Mark Report'">
                                        <label class="control-label col-lg-3">Type of Test*
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-lg-3">
                                            <select class="form-control m-bot15" placeholder="select" ng-model="up.ttSelect" ng-options="tt as tt for tt in testTypes">
                                                <option value="" disabled selected>Type of Test</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="up.uploadType=='Mark Report'">
                                        <label class="control-label col-lg-3">Test Start Date*
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-lg-3">
                                            <input class="form-control m-bot15" type="date" ng-model="up.testDate" placeholder="Select date of test start" value="date">
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="up.uploadType=='Attendance'">
                                        <label class="control-label col-lg-3">Attendance report*</label>
                                        <div class="col-lg-3">
                                            <select class="form-control m-bot15" placeholder="select" ng-model="up.ttSelect" ng-options="at as at for at in attendanceTypes">
                                                <option value="" disabled selected>Attendance report</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="up.uploadType=='Attendance' && up.ttSelect=='Daily'">
                                        <label class="control-label col-lg-3">Date*</label>
                                        <div class="col-lg-3">
                                            <input type="date" ng-model="up.attDate" />
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="up.uploadType=='Attendance' && up.ttSelect=='Monthly'">
                                        <label class="control-label col-lg-3">Month*</label>
                                        <div class="col-lg-3">
                                            <select class="form-control m-bot15" placeholder="select" ng-model="up.mSelect" ng-options="ml as ml for ml in monthList">
                                                <option value="" disabled selected>Month</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">

                                        <p class="col-lg-offset-2 col-lg-10">
                                            <span>
                                                <input type="file" style="margin-left: -10px;     width: 166px;
                                                font-size: 10px;" class="bcontrol-label btn btn-warning m-bot15" name="myImage"
                                                    value="Upload" image-with-preview file-model="up.uploadDoc" ng-model="image"
                                                    accept="csv" ng-required="true">
                                                <img ng-show="image.src" ng-src="{{image.src}}" tyle="width:40%; margin-top: 2%;" />
                                            </span>
                                        </p>
                                        <!-- <button ng-if="up.uploadType=='Attendance'" type="submit" class="btn btn-warning" ng-click="uploadFile(up.uploadDoc,up.uploadType,up.ttSelect,up.mSelect)">Upload</button> -->
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <!-- <button type="reset" class=" bcontrol-label  btn btn-success"
                                                ng-click="uploadCSVTEST(up.uploadDoc)">CSV TEST</button> -->
                                            <button ng-if="up.uploadType=='Attendance' && up.ttSelect=='Monthly'" type="reset" class=" bcontrol-label  btn btn-success"
                                                ng-click="uploadFile(up.uploadDoc,up.uploadType, up.cSelect.class,up.sSelect, up.ttSelect, up.mSelect)">Save</button>
                                            <button ng-if="up.uploadType=='Attendance' && up.ttSelect=='Daily'" type="reset" class=" bcontrol-label  btn btn-success"
                                                ng-click="uploadFile(up.uploadDoc,up.uploadType, up.cSelect.class, up.sSelect, up.ttSelect, up.attDate | date:'MMM-d')">Save</button>
                                            <button ng-if="up.uploadType=='Student Details'" type="reset" class=" bcontrol-label btn btn-success" ng-click="uploadFile(up.uploadDoc,up.uploadType, up.cSelect.class,up.sSelect)">Save</button>
                                            <button ng-if="up.uploadType=='Teacher Details'" type="reset" class="  bcontrol-label btn btn-success" ng-click="uploadFile(up.uploadDoc,up.uploadType)">Save</button>
                                            <button ng-if="up.uploadType=='Time Table'" type="reset" class=" bcontrol-label  btn btn-success" ng-click="uploadTimeTableFile(up.uploadDoc,up.tSelect)">Save</button>
                                            <button ng-if="up.uploadType=='Mark Report'" type="reset" class="bcontrol-label btn btn-success" ng-click="uploadMarkFile(up.uploadDoc,up.ttSelect,up.testDate| date:'dd-MM-yy',up.cSelect.class,up.sSelect)">Save</button>
                                            <button ng-if="up.uploadType=='Fee'" type="reset" class=" bcontrol-label  btn btn-success" ng-click="uploadFeeFile(up.uploadDoc, up.cSelect.class,up.sSelect, up.ftSelect, up.fee_otherName)">Save</button>
                                            <button type="reset" class="bcontrol-label btn btn-danger">Cancel</button>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>


                </section>
            </div>
        </section>
    </section>
</div>