<div ng-controller="reportsUpdateCtl">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <!-- profile -->
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-upload"></i>
                        <span style="color:white;">&nbspREPORTS UPDATE</span>
                    </div>
                    <div class="panel-body bio-graph-info" style="padding: 1px;">
                        <div style="margin:20px !important;">
                            <div ng-if="cssList.length==0">
                                <div class="form-group ">
                                    <label class="control-label col-lg-3">Upload Class Detail</label>
                                </div>
                                <div class="form-group">
                                    <p class="col-lg-offset-2 col-lg-10">
                                        <span>
                                            <input type="file" style="margin-left: -10px;     width: 166px;
                                    font-size: 10px;" class="bcontrol-label btn btn-warning m-bot15" name="myImage" value="Upload"
                                                image-with-preview file-model="classUploadDoc" ng-model="image" accept="csv"
                                                ng-required="true">
                                        </span>
                                    </p>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button type="submit" class="btn btn-info" ng-click="upload_classPeriodsFile(classUploadDoc,'css')">Save</button>
                                    </div>
                                </div>
                            </div>
                            <form ng-if="cssList.length!=0" role="form" name="uploadForm" encType="multipart/form-data" novalidate>
                                <div ng-repeat="up in uploadReports">
                                    <div class="form-group">
                                        <label class="control-label col-lg-3">Update Type
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-lg-3">
                                            <select class="form-control m-bot15" placeholder="select" ng-model="up.uploadType" ng-options="ut as ut for ut in uploadTypes">
                                                <option value="" disabled selected>Update Type</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="(up.uploadType=='Teacher Details' || up.uploadType=='Time Table') && up.teacherSelect!=''">
                                        <label class="control-label col-lg-3">Teacher
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-lg-3">
                                            <select class="form-control m-bot15" placeholder="select" ng-model="up.teacherSelect" ng-options="t as t.firstName +'-'+ t.schoolId for t in teacherList">
                                                <option value="" disabled selected>Teacher</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="up.uploadType!='Teacher Details' && up.uploadType!='Time Table' && up.uploadType!=''">
                                        <label class="control-label col-lg-3">Class
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-lg-3">
                                            <select class="form-control m-bot15" placeholder="select" ng-model="up.cSelect" ng-options="c as c.class for c in cssList">
                                                <option value="" disabled selected>Class</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="up.cSelect && up.uploadType!='Teacher Details' && up.uploadType!='Time Table' && up.uploadType!=''">
                                        <label class=" control-label col-lg-3">Section
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-lg-3">
                                            <select class="form-control m-bot15" placeholder="select" ng-model="up.subSelect" ng-options="s as s for s in up.cSelect.section"
                                                ng-change="getStudListForCS(up.cSelect, up.subSelect)">
                                                <option value="" disabled selected>Section</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="up.subSelect && up.uploadType!='Teacher Details' && up.uploadType!='Attendance' && up.uploadType!='Time Table' && up.uploadType!='Mark Report' &&up.uploadType!='Fee Report' && up.uploadType!=''">
                                        <label class="control-label col-lg-3">Select Student
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-lg-3">
                                            <select class="btn" placeholder="select" ng-model="up.sSelect" ng-options="cs as cs.name + '-' + cs.studId for cs in studList"
                                                ng-change="studentDetailById(up.sSelect)">
                                                <option value="" disabled selected>Student</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group " ng-if="up.uploadType=='Mark Report'">
                                        <label class="control-label col-lg-3">Type of Test
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-lg-3">
                                            <select class="form-control m-bot15" placeholder="select" ng-model="up.ttSelect" ng-options="tt as tt for tt in testTypes"
                                                ng-change="testDateFetch(up.ttSelect)">
                                                <option value="" disabled selected>Type of Test</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group " ng-if="up.uploadType=='Fee Report'">
                                        <label class="control-label col-lg-3">Fee Type
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-lg-3">
                                            <select class="form-control m-bot15" placeholder="select" ng-model="up.ftSelect" ng-options="ft as ft for ft in feeTypes">
                                                <option value="" disabled selected>Fee Type</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group " ng-if="up.uploadType=='Mark Report' && testStartDate.length>0">
                                        <label class="control-label col-lg-3">Test Start Date
                                            <span class="required">*</span>
                                        </label>
                                        <div class="col-lg-3">
                                            <select class="form-control m-bot15" placeholder="select" ng-model="up.testDate" ng-options="tsd as tsd.date for tsd in testStartDate">
                                                <option value="" disabled selected>Select date of test start</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="up.uploadType=='Attendance'">
                                        <label class="control-label col-lg-3">Attendance report*</label>
                                        <div class="col-lg-3">
                                            <select class="form-control m-bot15" placeholder="select" ng-model="up.atSelect" ng-options="at as at for at in attendanceTypes">
                                                <option value="" disabled selected>Attendance report</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="up.uploadType=='Attendance' && up.atSelect=='Daily'">
                                        <label class="control-label col-lg-3">Date*</label>
                                        <div class="col-lg-3">
                                            <input type="date" ng-model="up.attDate" ng-change="attDailyDate(up.attDate)" />
                                        </div>
                                    </div>
                                    <div class="form-group" ng-if="up.uploadType=='Attendance' && up.atSelect=='Monthly'">
                                        <label class="control-label col-lg-3">Month*</label>
                                        <div class="col-lg-3">
                                            <select class="form-control m-bot15" placeholder="select" ng-model="up.mSelect" ng-options="ml as ml for ml in monthList"
                                                ng-click="att_monthSelected(up.mSelect)">
                                                <option value="" disabled selected>Month</option>
                                            </select>
                                        </div>
                                    </div>

                                    <!-- ####### Started View Before Update  #######-->
                                    <!--##### Start teacher data #####-->
                                    <div ng-if="up.uploadType=='Teacher Details' && up.teacherSelect" class="form-group">
                                        <section class="panel">
                                            <div class="form-group">
                                                <div class="panel-heading">
                                                    <i class="fa fa-user-circle"></i>
                                                    <span style="color:white;">&nbspTEACHER</span>
                                                </div>
                                                <table class="table table-sm">
                                                    <thead class="panel-heading">
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Teacher Id</th>
                                                            <th>Teacher Name</th>
                                                            <th>Email</th>
                                                            <th>Mobile Number</th>
                                                            <th>Status</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="background-color:white;">1</td>
                                                            <td style="background-color:white;">{{up.teacherSelect.schoolId}}</td>
                                                            <td style="background-color:white;">{{up.teacherSelect.firstName + " " + up.teacherSelect.lastName}}
                                                                <!-- <a class="btn-info" ng-click="tableForTimes($index)">{{td.firstName + " " + td.lastName}}</a> -->
                                                            </td>
                                                            <td style="background-color:white;">{{up.teacherSelect.email}}</td>
                                                            <td style="background-color:white;">{{up.teacherSelect.mobNumber}}</td>
                                                            <td style=" background-color:white;">{{up.teacherSelect.status}}</td>

                                                            <td style="background-color:white;">
                                                                <button class="btn btn-warning" ng-click="viewUser(up.teacherSelect._id, 'teacher')">View</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </section>
                                    </div>
                                    <!--##### End teacher data #####-->
                                    <!-- ##### Start Time Table  ##### -->
                                    <div ng-if="up.uploadType=='Time Table' && up.teacherSelect" class="form-group">
                                        <table class="table   table-sm table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>{{up.teacherSelect.firstName+" "+up.teacherSelect.lastName}} Time Table</th>
                                                    <th ng-repeat="tt in up.teacherSelect.timeTable[0].timing">{{tt.startsAt}}-{{tt.endsAt}}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="active">
                                                    <td>Monday</td>
                                                    <td style="background-color:#f5f5f5!important" ng-repeat="mtt in up.teacherSelect.timeTable[0].css.Mon">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
                                                </tr>
                                                <tr class="warning">
                                                    <td>Tuesday</td>
                                                    <td style="background-color:#f5f5f5!important" ng-repeat="mtt in up.teacherSelect.timeTable[0].css.Tue">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
                                                </tr>
                                                <tr class="danger">
                                                    <td>Wednesday</td>
                                                    <td style="background-color:#f5f5f5!important" ng-repeat="mtt in up.teacherSelect.timeTable[0].css.Wed">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
                                                </tr>
                                                <tr class="success">
                                                    <td>Thursday</td>
                                                    <td style="background-color:#f5f5f5!important" ng-repeat="mtt in up.teacherSelect.timeTable[0].css.Thu">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
                                                </tr>
                                                <tr class="active">
                                                    <td>Friday</td>
                                                    <td style="background-color:#f5f5f5!important" ng-repeat="mtt in up.teacherSelect.timeTable[0].css.Fri">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
                                                </tr>
                                                <tr class="warning">
                                                    <td>Saturday</td>
                                                    <td style="background-color:#f5f5f5!important" ng-repeat="mtt in up.teacherSelect.timeTable[0].css.Sat">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
                                                </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                    <!-- #####  End Time Table  ##### -->
                                    <!--##### Start Student data #####-->
                                    <section ng-if="up.uploadType=='Student Details' && up.sSelect" class="panel">
                                        <div class="form-group">
                                            <div class="panel-heading" style="background: #3a4a58;">
                                                <i class="fa fa-user-circle"></i>
                                                <span style="color:white;">&nbsp;STUDENT</span>
                                            </div>
                                            <table class="table table-sm">
                                                <thead class="panel-heading">
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Student Id</th>
                                                        <th>Student Name</th>
                                                        <th>Class</th>
                                                        <th>Section</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="background-color:white;">{{$index+1}}.</td>
                                                        <td style="background-color:white;">{{studentDetail[0].schoolId}}</td>
                                                        <td style="background-color:white;">
                                                            {{studentDetail[0].firstName + " " + studentDetail[0].lastName}}
                                                        </td>
                                                        <td style="background-color:white;">{{studentDetail[0].cs[0].class}}</td>
                                                        <td style="background-color:white;">{{studentDetail[0].cs[0].section}}</td>
                                                        <td style=" background-color:white;">{{studentDetail[0].status}}</td>

                                                        <td style="background-color:white;">
                                                            <button class="btn btn-warning" ng-click="viewUser(studentDetail[0]._id,'studParent')">View</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                    <!--##### End Student data #####-->
                                    <!--##### Start Fee data #####-->
                                    <section ng-if="up.ftSelect && up.uploadType=='Fee Report'" class="panel">
                                        <div class="form-group">
                                            <div class="panel-heading" style="background: #3a4a58;">
                                                <i class="fa fa-user-circle"></i>
                                                <span style="color:white;">&nbsp;Fee List</span>
                                            </div>
                                            <table class="table table-sm">
                                                <tr>
                                                    <th>Student Id</th>
                                                    <th>Student Name</th>
                                                    <th>Payment Option</th>
                                                    <th>Total Amount</th>
                                                    <th>Amount Paid</th>
                                                    <th>Paid Date</th>
                                                    <th>Due Amout</th>
                                                    <th>Due Date</th>
                                                </tr>
                                                <tr ng-repeat="sd in studentList">
                                                    <td style="background-color:white;">{{sd.schoolId}}</td>
                                                    <td style="background-color:white;">
                                                        {{sd.firstName + " " + sd.lastName}}
                                                    </td>
                                                    <!-- <th style="background-color:white;" ng-repeat=" (key, value) in up.testDate.mark">{{value}}</th> -->
                                                    <td style="background-color:white;">
                                                        <div ng-repeat="f in sd.fee">
                                                            <div ng-if="f.feeType==up.ftSelect" ng-repeat="fd in f.details">
                                                                {{fd.paymentOption}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="background-color:white;">
                                                        <div ng-repeat="f in sd.fee">
                                                            <div ng-if="f.feeType==up.ftSelect" ng-repeat="fd in f.details">
                                                                {{fd.totalAmount}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="background-color:white;">
                                                        <div ng-repeat="f in sd.fee">
                                                            <div ng-if="f.feeType==up.ftSelect" ng-repeat="fd in f.details">
                                                                {{fd.amountPaid}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="background-color:white;">
                                                        <div ng-repeat="f in sd.fee">
                                                            <div ng-if="f.feeType==up.ftSelect" ng-repeat="fd in f.details">
                                                                {{fd.PaidDate}}
                                                            </div>
                                                        </div>

                                                    </td>
                                                    <td style="background-color:white;">
                                                        <div ng-repeat="f in sd.fee">
                                                            <div ng-if="f.feeType==up.ftSelect" ng-repeat="fd in f.details">
                                                                {{fd.dueAmout}}
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td style="background-color:white;">
                                                        <div ng-repeat="f in sd.fee">
                                                            <div ng-if="f.feeType==up.ftSelect" ng-repeat="fd in f.details">
                                                                <div>{{fd.lastDateToPaid}}</div>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>

                                            </table>
                                        </div>
                                    </section>
                                    <!--##### End Fee data #####-->
                                    <!--##### Start Mark data #####-->
                                    <section ng-if="up.testDate && up.uploadType=='Mark Report'" class="panel">
                                        <div class="form-group">
                                            <div class="panel-heading" style="background: #3a4a58;">
                                                <i class="fa fa-user-circle"></i>
                                                <span style="color:white;">&nbsp;Mark List</span>
                                            </div>
                                            <table class="table table-sm">
                                                <thead class="panel-heading">
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Student Id</th>
                                                        <th>Student Name</th>
                                                        <th>Subjects with marks</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="sd in studentList">
                                                        <td style="background-color:white;">{{$index+1}}.</td>
                                                        <td style="background-color:white;">{{sd.schoolId}}</td>
                                                        <td style="background-color:white;">
                                                            {{sd.firstName + " " + sd.lastName}}
                                                        </td>
                                                        <!-- <th style="background-color:white;" ng-repeat=" (key, value) in up.testDate.mark">{{value}}</th> -->
                                                        <td style="background-color:white;">
                                                            <div ng-repeat="mark in sd.mark">
                                                                <div ng-if="mark.testType==up.ttSelect" ng-repeat="swm in mark.subjectWithMark">
                                                                    <div ng-if="swm.date==up.testDate.date" style="background: lightgray;" ng-repeat="(key, value) in swm.mark">{{key}}:{{value}}
                                                                        <br>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                    <!--##### End Mark data #####-->
                                    <!--##### Start Daily Attendance data #####-->
                                    <section ng-if="up.uploadType=='Attendance' && up.atSelect=='Daily' && up.attDate" class="panel">
                                        <div class="form-group">
                                            <div class="panel-heading" style="background: #3a4a58;">
                                                <i class="fa fa-user-circle"></i>
                                                <span style="color:white;">&nbsp;Attendance </span>
                                            </div>
                                            <table class="table table-sm">
                                                <thead class="panel-heading">
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Student Id</th>
                                                        <th>Student Name</th>
                                                        <td>
                                                            {{up.attDate | date:'MMM d'}}
                                                        </td>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="sd in studentList">
                                                        <td style="background-color:white;">{{$index+1}}.</td>
                                                        <td style="background-color:white;">{{sd.schoolId}}</td>
                                                        <td style="background-color:white;">
                                                            {{sd.firstName + " " + sd.lastName}}
                                                        </td>
                                                        <td style="background-color:white;" ng-repeat="attendance in sd.attendance" ng-init="mn=up.attDate|date:'MMM'">
                                                            <span style="background-color: green;color: white;margin-right:1%;" ng-if="attendance.month==dailyMonth" ng-repeat="dateAtt in attendance.dateAttendance">
                                                                <span ng-if="dateAtt.date==dailyDate">{{dateAtt.status}}</span>
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                    <!--##### End Daily Attendance data #####-->
                                    <!--##### Start Monthly Attendance data #####-->
                                    <section ng-if="up.uploadType=='Attendance' && up.atSelect=='Monthly' && up.mSelect" class="panel">
                                        <div class="form-group">
                                            <div class="panel-heading" style="background: #3a4a58;">
                                                <i class="fa fa-user-circle"></i>
                                                <span style="color:white;">&nbsp;Attendance List</span>
                                            </div>
                                            <table class="table table-sm">
                                                <thead class="panel-heading">
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Student Id</th>
                                                        <th>Student Name</th>
                                                        <th>Days with attendance</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="sd in studentList">
                                                        <td style="background-color:white;">{{$index+1}}.</td>
                                                        <td style="background-color:white;">{{sd.schoolId}}</td>
                                                        <td style="background-color:white;">
                                                            {{sd.firstName + " " + sd.lastName}}
                                                        </td>
                                                        <td style="background-color:white;">
                                                            <div ng-repeat="attendance in sd.attendance" style="word-wrap: break-word;">
                                                                <span ng-if="attendance.month==up.mSelect" style="border-radius:3px; background: peachpuff; margin: 2px;" ng-repeat="dateAtt in attendance.dateAttendance">{{dateAtt.date}}
                                                                    <span ng-if="dateAtt.status=='A'" style="color: red">{{dateAtt.status}}</span>
                                                                    <span ng-if="dateAtt.status=='L'" style="color: blue">{{dateAtt.status}}</span>
                                                                    <span ng-if="dateAtt.status=='P'" style="color: green">{{dateAtt.status}}</span>
                                                                </span>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </section>
                                    <!--##### End Monthly Attendance data #####-->
                                    <!-- ####### End View Before Update  #######-->
                                    <div class="form-group">
                                        <p class="col-lg-offset-2 col-lg-10">
                                            <span>
                                                <input type="file" style="margin-left: -10px;     width: 166px;
                                                font-size: 10px;" class="bcontrol-label btn btn-warning m-bot15" name="myImage"
                                                    value="Upload" image-with-preview file-model="up.uploadDoc" ng-model="image"
                                                    accept="csv" ng-required="true">
                                                <img ng-show="image.src" ng-src="{{image.src}}" tyle="width:40%; margin-top: 2%;" />
                                            </span>
                                        </p>
                                        <!-- <button ng-if="up.uploadType=='Attendance'" type="submit" class="btn btn-warning" ng-click="uploadFile(up.uploadDoc,up.uploadType,up.ttSelect,up.mSelect)">Upload</button> -->
                                    </div>

                                    <div class="form-group">
                                        <div class="col-lg-offset-2 col-lg-10">
                                            <button ng-if="up.uploadType=='Attendance' && up.atSelect=='Monthly'" type="reset" class=" bcontrol-label  btn btn-success"
                                                ng-click="attendanceUpdate(up.uploadDoc,up.cSelect.class,up.subSelect, up.atSelect, up.mSelect)">Save</button>
                                            <button ng-if="up.uploadType=='Attendance' && up.atSelect=='Daily'" type="reset" class=" bcontrol-label  btn btn-success"
                                                ng-click="attendanceUpdate(up.uploadDoc,up.cSelect.class,up.subSelect, up.atSelect, up.attDate | date:'MMM-d')">Save</button>
                                            <button ng-if="up.uploadType=='Student Details'" type="reset" class=" bcontrol-label btn btn-success" ng-click="teacherUpdate(up.uploadDoc,up.uploadType, studentDetail[0]._id)">Save</button>
                                            <button ng-if="up.uploadType=='Teacher Details'" type="reset" class="  bcontrol-label btn btn-success" ng-click="teacherUpdate(up.uploadDoc,up.uploadType, up.teacherSelect._id)">Save</button>
                                            <button ng-if="up.uploadType=='Time Table'" type="reset" class=" bcontrol-label  btn btn-success" ng-click="timeTableFileupdate(up.uploadDoc,up.teacherSelect._id)">Save</button>
                                            <button ng-if="up.uploadType=='Mark Report'" type="reset" class="bcontrol-label btn btn-success" ng-click="markFileUpdate(up.uploadDoc, up.testDate.date, up.ttSelect, up.cSelect.class,up.subSelect)">Save</button>
                                            <button ng-if="up.uploadType=='Fee Report'" type="reset" class=" bcontrol-label  btn btn-success" ng-click="updateFeeFile(up.uploadDoc, up.ftSelect, up.cSelect.class,up.subSelect)">Save</button>
                                            <button type="reset" class="bcontrol-label btn btn-danger">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>