<div ng-controller="dashboardScheduleCtrl as vm">
  <!-- <link href="https://unpkg.com/bootstrap@3/dist/css/bootstrap.css" rel="stylesheet"> -->
  <style type="text/css">
    /* mwl-calendar .cal-month-day {
      max-height: 80px !important;
      height: 80px !important;
    } */

    mwl-calendar span[data-cal-date] {
      color: black;
    }

    .cal-row-head {
      background: wheat;
    }

    mwl-calendar .badge-important {
      background-color: #2dc99787;
    }



    mwl-calendar .cal-month-box [class*=cal-cell],
    mwl-calendar .cal-year-box [class*=span] {
      max-height: 80px !important;
      min-height: 40px !important;
    }

    mwl-calendar span[data-cal-date] {
      font-weight: 400;
      opacity: .5;
      margin-top: 5px;
      margin-right: 5px;
    }

    mwl-calendar .cal-month-day {
      max-height: 80px !important;
      height: 60px !important;
    }

    mwl-calendar .event {
      width: 8px;
      height: 8px;
    }

    .cal-day-hour-part-time strong.ng-hide {
      display: block !important;
    }

    .cal-day-hour-part-time {
      background-color: skyblue;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .cal-day-open {
      background: #ff7777;
    }
  </style>
  <section id="main-content">
    <section class="wrapper">
      <div id="profile">
        <section class="panel">
          <div class="panel-heading">
            <i class="fa fa-user-circle"></i>
            <span style="color:white;">&nbspSCHEDULE MEETING</span>
          </div>
          <div class="panel-body bio-graph-info" style="padding: 1px;">
            <div style="margin:20px !important;">
              <div class="row" ng-if="userLoginType=='admin' || userLoginType=='teacher' || userLoginType=='studParent'">
                <div class="col-md-9 col-sm-12 col-lg-9 col-xs-12 portlets">
                  <div class="panel panel-default">
                    <div class="panel-heading" style="height: 50px;">
                      <div class="panel-actions">
                        <div style="float:left !important; position: absolute;
                left: 0;">

                          <select class="btn btn-warning" ng-if="userLoginType=='teacher'" placeholder="select" ng-model="cssSelect" ng-change="getStudListForCS(cssSelect)"
                            ng-options="css as css.class+ '-' + css.section for css in teacherData[0].css">
                            <option value="" disabled selected>Class</option>
                          </select>

                          <select class="btn" ng-if="userLoginType=='teacher'" placeholder="select" ng-model="csSelect" ng-change="getStudentCalendar(csSelect)"
                            ng-options="cs as cs.name + '-' + cs.studId for cs in studList">
                            <option value="" disabled selected>Student</option>
                          </select>

                          <select class=" btn btn-warning" ng-if="userLoginType=='studParent'" placeholder="select" ng-model="cssSelect" ng-change="getTeacherCalendar(cssSelect)"
                            ng-options="cs as cs.name + '-' + cs.teacherId+'-'+cs.subject for cs in teacherList">
                            <option value="" disabled selected>Teacher</option>
                          </select>

                        </div>

                        <div style="float:right; position: absolute;
                right: 0;">

                        </div>
                      </div>
                    </div>
                    <div class="panel-heading" style="height: 50px;">
                      <div class="panel-actions">

                        <div style="float:left !important; position: absolute;
                    left: 0;">
                          <label class="btn uib-btn-radio" mwl-date-modifier date="vm.viewDate" decrement="vm.calendarView" ng-click="vm.cellIsOpen = false">
                            << </label>
                              <label class="btn btn-default" mwl-date-modifier date="vm.viewDate" set-to-today ng-click="vm.cellIsOpen = false">
                                Today
                              </label>
                              <label class="btn uib-btn-radio" mwl-date-modifier date="vm.viewDate" increment="vm.calendarView" ng-click="vm.cellIsOpen = false">
                                >>
                              </label>
                        </div>
                        <div style="word-wrap: break-word; position: absolute !important;
                right: 43%;">
                          <h2 ng-if="calendarOwner!='Your'">
                            <strong>{{ vm.calendarTitle }}({{calendarOwner}})</strong>
                          </h2>
                          <h2 ng-if="calendarOwner=='Your'">
                            <strong>{{ vm.calendarTitle }}</strong>
                          </h2>
                        </div>

                        <div style="float:right; position: absolute;
                  right: 0;">
                          <label class="btn btn-info" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
                          <label class="btn btn-info" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
                        </div>
                      </div>
                    </div>
                    <div class="panel-body">
                      <!-- Widget content -->
                      <mwl-calendar events="vm.events" view="vm.calendarView" view-title="vm.calendarTitle" view-date="vm.viewDate" on-event-click="vm.eventClicked(calendarEvent)"
                        on-view-change-click="false" on-timespan-click="vm.timespanClicked(calendarDate)">
                      </mwl-calendar>

                    </div>
                  </div>
                </div>
              </div>
              <!-- ##### Start Time Table  ##### -->
              <div class="modal fade" id="timeTable_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width:auto;">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">{{userData.userName}} Time Table</h4>
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                      <table class="table table-sm table-bordered">
                        <thead>
                          <tr>
                            <th>Timing</th>
                            <th>Subject</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <table>
                                <tr style="background-color:#ccc!important;cursor: pointer;" ng-repeat="tt in teacherPersonalData[0].timeTable[0].timing">
                                  <td>{{tt.startsAt}}-{{tt.endsAt}}</td>
                                </tr>
                              </table>
                            </td>
                            <td>
                              <table>
                                <tr ng-if="selectedDateForEvent=='Mon'" style="background-color:#ccc!important;cursor: pointer;" ng-repeat="mtt in teacherPersonalData[0].timeTable[0].css.Mon"
                                  ng-click="timeTableForEventBook('mon',$index)">
                                  <td>
                                    <button ng-if="mtt.class=='Free'">Schedule</button>
                                    <span ng-if="mtt.class!='Free'">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</span>
                                  </td>
                                </tr>
                                <tr ng-if="selectedDateForEvent=='Tue'" style="background-color:#ccc!important;cursor: pointer;" ng-repeat="mtt in teacherPersonalData[0].timeTable[0].css.Tue"
                                  ng-click="timeTableForEventBook('tue',$index)">
                                  <td>
                                    <button ng-if="mtt.class=='Free'">Schedule</button>
                                    <span ng-if="mtt.class!='Free'">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</span>
                                  </td>
                                </tr>
                                <tr ng-if="selectedDateForEvent=='Wed'" style="background-color:#ccc!important;cursor: pointer;" ng-repeat="mtt in teacherPersonalData[0].timeTable[0].css.Wed"
                                  ng-click="timeTableForEventBook('wed',$index)">
                                  <td>
                                    <button ng-if="mtt.class=='Free'">Schedule</button>
                                    <span ng-if="mtt.class!='Free'">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</span>
                                  </td>
                                </tr>
                                <tr ng-if="selectedDateForEvent=='Thu'" style="background-color:#ccc!important;cursor: pointer;" ng-repeat="mtt in teacherPersonalData[0].timeTable[0].css.Thu"
                                  ng-click="timeTableForEventBook('thu',$index)">
                                  <td>
                                    <button ng-if="mtt.class=='Free'">Schedule</button>
                                    <span ng-if="mtt.class!='Free'">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</span>
                                  </td>
                                </tr>
                                <tr ng-if="selectedDateForEvent=='Fri'" style="background-color:#ccc!important;cursor: pointer;" ng-repeat="mtt in teacherPersonalData[0].timeTable[0].css.Fri"
                                  ng-click="timeTableForEventBook('fri',$index)">
                                  <td>
                                    <button ng-if="mtt.class=='Free'">Schedule</button>
                                    <span ng-if="mtt.class!='Free'">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</span>
                                  </td>
                                </tr>
                                <tr ng-if="selectedDateForEvent=='Sat'" style="background-color:#ccc!important;cursor: pointer;" ng-repeat="mtt in teacherPersonalData[0].timeTable[0].css.Sat"
                                  ng-click="timeTableForEventBook('sat',$index)">
                                  <td>
                                    <button ng-if="mtt.class=='Free'">Schedule</button>
                                    <span ng-if="mtt.class!='Free'">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</span>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <!-- <table class="table table-sm">
                        <thead>
                          <th>Subject</th>
                        </thead>
                        <tbody>
                          <tr ng-if="selectedDateForEvent=='Mon'" style="background-color:#ccc!important;cursor: pointer;" ng-repeat="mtt in teacherPersonalData[0].timeTable[0].css.Mon"
                            ng-click="timeTableForEventBook('mon',$index)">
                            <td>
                              <button class="btn" ng-if="mtt.class=='Free'">Schedule</button>
                              <span ng-if="mtt.class!='Free'">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table> -->


                    </div>
                    <div class="modal-footer">
                      <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                    </div>

                  </div>
                </div>
              </div>
              <!-- #####  End Time Table  ##### -->


              <!-- ##### Start Delete  ##### -->
              <!-- 
              <div class="col-md-12 col-sm-12 col-lg-12">
                <br>
                <br>
                <br>
                <h3 id="event-editor">
                  View events
                </h3>
                <hr>
                <table class="table table-bordered">
                  <thead style="background-color:#a09484;">
                    <tr>
                      <th>Sr.no</th>
                      <th>Event Name</th>
                      <th>Timing</th>
                      <th>Conference</th>
                      <th>Edit</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="event in vm.events track by $index" style="background:#e5caa74d;">
                      <td>{{$index+1}}.</td>
                      <td>
                        <input type="text" class="form-control" ng-model="event.title" ng-click="eventDetailClick($index)">
                      </td>
                      <td>
                        <p class="input-group">
                          <input type="text" style="margin-bottom: -4px;" class="form-control" readonly uib-datepicker-popup="dd MMMM yyyy" ng-model="event.startsAt"
                            is-open="event.startOpen" close-text="Close">
                          <span class="input-group-btn">
                            <button type="button" style="margin-top: 0px;height: 33px;" class="btn btn-default" ng-click="vm.toggle($event, 'startOpen', event)">
                              <i class="glyphicon glyphicon-calendar"></i>
                            </button>
                          </span>
                        </p>
                        <div class="row" style="padding:2%">
                          <div uib-timepicker ng-model="event.startsAt" hour-step="1" minute-step="20" show-meridian="true">
                          </div>
                          &nbspTo&nbsp
                          <div uib-timepicker ng-model="event.endsAt" hour-step="1" minute-step="20" show-meridian="true">
                          </div>
                        </div>
                      </td>
                      <td>
                        <a href="{{event.url}}">
                          <button class="btn btn-primary" ng-if="event.url" style="width:80px;">
                            Start
                          </button>
                        </a>
                      </td>
                      <td>
                        <button ng-if="!event.url" class="btn btn-primary" style="width: 80px;" data-target="#event" data-toggle="modal" ng-click="save(event.startsAt| date:'M/d/yy',event.startsAt| date:'h:mm a', event.endsAt| date:'h:mm a', event.startsAt, event.endsAt, event.startsAt | date:'M/d/yy h:mm a', event.endsAt | date:'M/d/yy h:mm a', event.title)">
                          Save
                        </button>

                        <button ng-if="event.url" class="btn btn-warning" style="width: 80px;" ng-click="deleteEvent(event.id, $index)">
                          Delete
                        </button>
                        <button data-target="#event" id="crdbuttn" style="display:none" data-backdrop="static" data-keyboard="false" data-toggle="modal"
                          ng-click="login()">Event</button>
                        <div class="modal fade" id="event" role="dialog">
                          <div class="modal-dialog">
                            <center>

                              <div class="modal-content" style="color:#777;max-width:350px;">
                                <div class="modal-header" style="background-color: gold;">

                                  <h4 class="modal-title">Please Enter Details</h4>
                                </div>
                                <div class="modal-body">
                                  <input type="text" ng-model="studName" class="form-control" placeholder="Student Name">
                                  <br>
                                  <input type="text" ng-model="studId" class="form-control" placeholder="Student Id">
                                  <br>
                                  <input type="email" ng-model="pEmail" id="eventEmails" class="form-control" placeholder="Enter EmailId">
                                  <br>
                                  <textarea ng-model="eventReason" class="form-control" placeholder="Reason for Event"></textarea>

                                </div>
                                <div class="modal-footer" style="border-top:0px;background-color: #f5f5f5;padding: 10px;">
                                  <button id="crdsubmit" type="button" style="background-color: #29b6bd;color:#f1f1f1" class="btn" ng-click="eventSend(eventReason,studName, studId, event.color.primary)"
                                    data-dismiss="modal">Submit</button>
                                </div>
                              </div>
                            </center>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div> -->
              <!-- ##### End Delete  ##### -->

            </div>
          </div>
        </section>
      </div>
    </section>
  </section>
</div>