<div ng-controller="studentInsertCtrl">
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-clipboard"></i>
                        <span style="color:white;">&nbspCREATE STUDENT</span>
                    </div>
                    <div class="panel-body bio-graph-info" style="padding: 1px;">
                        <div style="margin:20px !important;">
                            <form class="form-validate form-horizontal " id="register_form" method="get" action="">
                                <div class="form-group ">
                                    <label for="fullname" class="control-label col-lg-2">School Name
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-lg-10">
                                        <input class=" form-control" ng-model="schoolName" id="fullname" name="fullname" type="text" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="fullname" class="control-label col-lg-2">Student Name
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-lg-10">
                                        <input class=" form-control" ng-model="studName" id="fullname" name="fullname" type="text" />
                                    </div>
                                </div>

                                <div class="form-group ">
                                    <label for="fullname" class="control-label col-lg-2">Class
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-lg-2">
                                        <select ng-model="class" class="form-control m-bot15">
                                            <option ng-repeat="x in classS">{{x}}</option>

                                        </select>
                                    </div>
                                    <label for="fullname" class="control-label col-lg-2">Section
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-lg-2">
                                        <select ng-model="section" class="form-control m-bot15">
                                            <option ng-repeat="y in sectionS">{{y}}</option>

                                        </select>
                                    </div>
                                </div>


                                <div class="form-group ">
                                    <label for="fullname" class="control-label col-lg-2">Student ID
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-lg-10">
                                        <input class=" form-control" ng-model="studId" id="fullname" name="fullname" type="text" />
                                    </div>
                                </div>



                                <div class="form-group ">
                                    <label for="fullname" class="control-label col-lg-2">Father Name
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-lg-10">
                                        <input class=" form-control" ng-model="parentName" id="fullname" name="fullname" type="text" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="email" class="control-label col-lg-2">Father Email
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-lg-10">
                                        <input class="form-control" ng-model="parentEmail" id="email" name="email" type="email" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="phone" class="control-label col-lg-2"> Father Phone
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-lg-10">
                                        <input class="form-control" ng-model="mobileNum" id="phone" name="phone" type="phone" />
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label for="fullname" class="control-label col-lg-2">Occupation
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-lg-10">
                                        <input class=" form-control" ng-model="focc" id="fullname" name="fullname" type="text" />
                                    </div>
                                </div>


                                <div class="form-group ">
                                    <label for="fullname" class="control-label col-lg-2">Mother Name
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-lg-10">
                                        <input class=" form-control" ng-model="mName" id="fullname" name="fullname" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="control-label col-lg-2">Mother Email
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-lg-10">
                                        <input class="form-control" ng-model="mEmail" id="email" name="email" type="email" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone" class="control-label col-lg-2">Mother Phone
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-lg-10">
                                        <input class="form-control" ng-model="mothermobileNum" id="phone" name="phone" type="phone" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="fullname" class="control-label col-lg-2">Occupation
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-lg-10">
                                        <input class=" form-control" ng-model="mocc" id="fullname" name="fullname" type="text" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="control-label col-lg-2">Password
                                        <span class="required">*</span>
                                    </label>
                                    <div class="col-lg-10">
                                        <input class="form-control" ng-model="pswd" id="password" name="password" type="text" />
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="col-lg-offset-2 col-lg-10">
                                        <button class="btn btn-primary" ng-click="saveStudent()" type="submit">Save</button>
                                        <button class="btn btn-default" type="button">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </section>
</div>