<div ng-controller="userAuthCtrl">
  <section id="main-content">
    <section class="wrapper">
      <div id="profile">
        <section class="panel">
          <div class="form-group">
            <div class="panel-heading">
              <i class="fa fa-user-circle"></i>
              <span style="color:white;">&nbspTEACHER</span>
            </div>

            <table class="table table-sm">
              <thead>
                <tr>
                  <!-- <th>#</th> -->
                  <th>Teacher Id</th>
                  <th>Teacher Name</th>
                  <!-- <th>Email</th> -->
                  <!-- <th>Mobile Number</th> -->
                  <th>Status</th>
                  <th>Action</th>

                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="ud in userData" ng-if="ud.loginType=='teacher'">
                  <!-- <td style="background-color:white;">{{$index+1}}.</td> -->
                  <td style="background-color:white;">{{ud.schoolId}}</td>
                  <td style="background-color:white;">
                    <div style="word-wrap: break-word;">
                      {{ud.firstName + " " + ud.lastName}}
                    </div>
                  </td>
                  <!-- <td style="background-color:white;">
                    <div style="word-wrap: break-word;">{{ud.email}}</div>
                  </td> -->
                  <!-- <td style="background-color:white;">{{ud.mobileNum}}</td> -->
                  <td style=" background-color:white; color:red;" ng-if="ud.status=='inactive'">Inactive</td>
                  <td style=" background-color:white; color:green;" ng-if="ud.status=='active'">Active</td>
                  <td style="background-color:white;">
                    <button class="btn btn-danger" ng-if="ud.status=='active'" ng-click="updateUserStatus(ud._id,'inactive',$index)">Dectivate</button>
                    <button class="btn btn-info" ng-if="ud.status=='inactive'" ng-click="updateUserStatus(ud._id,'active',$index)">Activate</button>
                    <button class="btn btn-warning" class="btn" ng-click="viewUser(ud._id, 'teacher')">View Detail</button>
                    <!-- <button class="btn btn-danger" ng-click="deleteUser(ud._id, $index)">Delete</button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>
        <section class="panel">
          <div class="form-group">
            <div class="panel-heading">
              <i class="fa fa-user-circle"></i>
              <span style="color:white;">&nbspSTUDENT</span>
            </div>
            <table class="table table-sm">
              <thead>
                <tr>
                  <!-- <th>#</th> -->
                  <th>Student Id</th>
                  <th>Student Name</th>
                  <th>Class-Section</th>
                  <!-- <th>Father Email</th>
                  <th>Mother Email</th> -->
                  <th>Status</th>
                  <th>Action</th>

                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="sd in studData">
                  <!-- <td style="background-color:white;">{{$index+1}}.</td> -->
                  <td style="background-color:white;">{{sd.schoolId}}</td>
                  <td style="background-color:white;">
                    <div style="word-wrap: break-word;">
                      {{sd.firstName + " " + sd.lastName}}
                    </div>
                  </td>
                  <td style="background-color:white;">
                    <div style="word-wrap: break-word;">{{sd.cs[0].class +" "+ sd.cs[0].section}}</div>
                  </td>
                  <!-- <td style="background-color:white;">
                    <div style="word-wrap: break-word;">{{sd.parentEmail}}</div>
                  </td>
                  <td style="background-color:white;"><div style="word-wrap: break-word;">{{sd.motherEmail}}</div></td> -->
                  <td style=" background-color:white; color:red;" ng-if="sd.status=='inactive'">Inactive</td>
                  <td style=" background-color:white; color:green;" ng-if="sd.status=='active'">Active</td>
                  <td style="background-color:white;">
                    <button class="btn btn-danger" ng-if="sd.status=='active'" ng-click="updateStudStatus(sd._id,'inactive',$index)">Dectivate</button>
                    <button class="btn btn-info" ng-if="sd.status=='inactive'" ng-click="updateStudStatus(sd._id,'active',$index)">Activate</button>

                    <button class="btn btn-warning" ng-click="viewUser(sd._id,'studParent')">View Detail</button>

                    <!-- <button class="btn btn-danger" ng-click="deleteStud(sd._id, $index)">Delete</button> -->
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </section>

      </div>
    </section>
  </section>
</div>
<!-- </html> -->
<!-- <div class="modal fade" id="myModalt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:auto;">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">{{getUserData.teacherName}} Time Table</h4>
            </div>
            <div class="modal-body">
              <div class="table-responsive" ng-if="getUserData.timeTable[0].Monday">

                <table class="table">

                  <thead>
                    <tr>
                      <th>Timing</th>
                      <th>09:00-09:45</th>
                      <th>9:45-10:30</th>
                      <th>10:30-11:15</th>
                      <th>11:15-12:00</th>
                      <th>01:00-01:45</th>
                      <th>01:45-02:30</th>
                      <th>02:30-03:15</th>
                      <th>03:15-04:00</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="active">
                      <td>Monday</td>
                      <td ng-repeat="mtt in getUserData.timeTable[0].Monday">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
                    </tr>
                    <tr class="warning">
                      <td>Tuesday</td>
                      <td ng-repeat="mtt in getUserData.timeTable[1].Tues">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
                    </tr>
                    <tr class="danger">
                      <td>Wednesday</td>
                      <td ng-repeat="mtt in getUserData.timeTable[2].Wed">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
                    </tr>
                    <tr class="success">
                      <td>Thursday</td>
                      <td ng-repeat="mtt in getUserData.timeTable[3].Thurs">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
                    </tr>
                    <tr class="active">
                      <td>Friday</td>
                      <td ng-repeat="mtt in getUserData.timeTable[4].Fri">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
                    </tr>
                    <tr class="warning">
                      <td>Saturday</td>
                      <td ng-repeat="mtt in getUserData.timeTable[5].Sat">{{mtt.class}}&nbsp{{mtt.section}}&nbsp{{mtt.subject}}</td>
                    </tr>
                  </tbody>

                </table>
              </div>
            </div>
            <div class="modal-footer">
              <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>

          </div>
        </div>
      </div> -->