<div ng-controller="viewEventController">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-user-circle"></i>
                        <span style="color:white;">&nbspEVENT DETAILS</span>
                    </div>
                    <div class="panel-body bio-graph-info" style="padding: 1px;">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <hd>
                                        Sender Details
                                    </hd>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td>
                                        <div style="color:green">{{eventDetails.senderName}} </div>
                                    </td>
                                    <td>
                                        Id
                                    </td>
                                    <td>
                                        <div style="color:green">{{eventDetails.senderId}} </div>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Phone
                                    </td>
                                    <td>
                                        <div style="color:green">{{eventDetails.senderMN}} </div>
                                    </td>
                                    <td>
                                        Title
                                    </td>
                                    <td>
                                        <div style="color:green">{{eventDetails.title}} </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Message
                                    </td>
                                    <td>
                                        <div style="color:green">{{eventDetails.reason}} </div>
                                    </td>
                                    <td>
                                        Timing
                                    </td>
                                    <td>
                                        <div style="color:green">{{eventDetails.startAt | date:'h:mm a'}}-{{eventDetails.endAt | date:'h:mm a'}}
                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                            <thead>
                                <tr>
                                    <th>
                                        Receiver Details
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Name
                                    </td>
                                    <td>
                                        <div style="color:green">{{eventDetails.receiverName}} </div>
                                    </td>
                                    <td>
                                        Id
                                    </td>
                                    <td>
                                        <div style="color:green">{{eventDetails.receiverId}} </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Phone
                                    </td>
                                    <td>
                                        <div style="color:green">{{eventDetails.receiverMN}} </div>
                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                </tr>
                            </tbody>

                            <!-- ng-if only for history -->
                            <thead ng-if="eventDetails.teacher_mom && eventDetails.parent_mom">
                                <tr>
                                    <td>
                                        Minutes of Meeting
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td ng-if="loginType='teacher'">
                                        <div style="color:green">{{eventDetails.teacher_mom}} </div>
                                    </td>
                                    <td ng-if="loginType='studParent'">
                                        <div style="color:green">{{eventDetails.parent_mom}} </div>
                                    </td>

                                </tr>
                            </tbody>
                            <thead>
                                <tr>
                                    <th>
                                        VC Record
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Video Conference
                                    </td>
                                    <td>
                                        <video id="videoPlayer"  controls>
                                            <source type="video/mp4"> Your browser does not support the video tag.
                                        </video>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </section>
    </section>

</div>