<div ng-controller="viewUserController">
    <!--main content start-->
    <section id="main-content">
        <section class="wrapper">
            <div id="profile">
                <section class="panel">
                    <div class="panel-heading">
                        <i class="fa fa-user-circle"></i>
                        <span style="color:white;">&nbspUSER DETAILS</span>
                    </div>
                    <div class="panel-body bio-graph-info" style="padding: 1px;">
                        <div class="row" style="margin:20px!important; background: #ffc107; padding: 10px;" ng-if="loginType!='vc4allAdmin'">
                            <div class="col-lg-3">
                                <center>
                                        <!-- <img style="max-height:150px; margin-left: 20px;" src=logo.png> -->
                                    <img style="max-height:150px;margin-left: 20px;" src="{{userDetail[0].logoPath}}">
                                </center>

                            </div>
                            <div class="col-lg-9">
                                <center style="font-size: 60px; margin: 25px;"> {{userDetail[0].schoolName}}</center>
                            </div>
                        </div>
                        <div class="row" style="margin:20px!important;" ng-if="loginType!='vc4allAdmin'">


                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                                ng-if="loginType=='studParent'">
                                <table class="table table-sm">

                                    <tr>
                                        <td style="color:  lightcoral;font-size: 20px;font-family: -webkit-pictograph;">
                                            STUDENT
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <img style="max-height:150px;" src="child.jpg">
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Student Name</b>
                                        </td>
                                        <td>{{userDetail[0].firstName +" "+ userDetail[0].lastName}}</td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">ID</b>
                                        </td>
                                        <td> {{userDetail[0].schoolId}}</td>
                                    </tr>

                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Class</b>
                                        </td>
                                        <td>
                                            <span ng-repeat="cs in userDetail[0].cs">{{cs.class}}-{{cs.section}}</span>
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">D.O.B</b>
                                        </td>
                                        <td>
                                            {{userDetail[0].dob | date:' d MMM yyyy'}}
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;" ng-if="loginType=='school'">
                                        <td>
                                            <b style="color:teal;">D.O.Joining</b>
                                        </td>
                                        <td>
                                            {{userDetail[0].doj | date:' d MMM yyyy'}}
                                        </td>
                                    </tr>


                                </table>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                                ng-if="loginType=='studParent'">

                                <table class="table table-sm">

                                    <tr>
                                        <td style="color:  lightcoral;font-size: 20px;font-family: -webkit-pictograph;">
                                            FATHER
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <img style="max-height:150px;" src="father.jpg">
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Father Name</b>
                                        </td>
                                        <td> {{userDetail[0].parentName}}</td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Father Email</b>
                                        </td>
                                        <td> {{userDetail[0].parentEmail}}</td>
                                    </tr>

                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Father Phone</b>
                                        </td>
                                        <td> {{userDetail[0].mobileNum}}</td>
                                    </tr>


                                </table>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                                ng-if="loginType=='studParent'">
                                <table class="table table-sm">

                                    <tr>
                                        <td style="color:  lightcoral;font-size: 20px;font-family:-webkit-pictograph;">
                                            MOTHER
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <img style="max-height:150px;" src="mother.jpg">

                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Mother Name</b>
                                        </td>
                                        <td> {{userDetail[0].motherName}}</td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Mother Email</b>
                                        </td>
                                        <td> {{userDetail[0].motherEmail}}</td>
                                    </tr>

                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Mother Phone</b>
                                        </td>
                                        <td> {{userDetail[0].mobileNum}}</td>
                                    </tr>


                                </table>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                                ng-if="loginType=='teacher'">
                                <table class="table table-sm">

                                    <tr>
                                        <td style="color:  lightcoral;font-size: 20px;font-family: -webkit-pictograph;">
                                            TEACHER
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <img style="max-height:150px;" src="child.jpg">
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Name</b>
                                        </td>
                                        <td>{{userDetail[0].firstName +" "+ userDetail[0].lastName}}</td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">ID</b>
                                        </td>
                                        <td> {{userDetail[0].schoolId}}</td>
                                    </tr>

                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Mobile Number</b>

                                        </td>
                                        <td>
                                            {{userDetail[0].mobNumber}}
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">E-Mail</b>

                                        </td>
                                        <td>
                                            {{userDetail[0].email}}
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">D.O.B</b>
                                        </td>
                                        <td>
                                            {{userDetail[0].dob | date:' d MMM yyyy'}}
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;" ng-if="loginType=='school'">
                                        <td>
                                            <b style="color:teal;">D.O.Joining</b>
                                        </td>
                                        <td>
                                            {{userDetail[0].doj | date:' d MMM yyyy'}}
                                        </td>
                                    </tr>

                                </table>
                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                                ng-if="loginType=='teacher'">
                                <table class="table table-sm">

                                    <tr>
                                        <td style="color:  lightcoral;font-size: 20px;font-family: -webkit-pictograph;">
                                            CLASSES
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>Class</td>
                                        <td>Section</td>
                                        <td>Subject</td>
                                    </tr>



                                    <tr style="background: sandybrown;" ng-repeat="css in userDetail[0].css">
                                        <td>{{css.class}}</td>
                                        <td>{{css.section}}</td>
                                        <td>{{css.subject}}</td>
                                    </tr>
                                </table>

                            </div>
                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);"
                                ng-if="loginType=='admin'">
                                <table class="table table-sm">

                                    <tr>
                                        <td style="color:  lightcoral;font-size: 20px;font-family: -webkit-pictograph;">
                                            ADMINISTRATOR
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <img style="max-height:150px;" src="child.jpg">
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Name</b>
                                        </td>
                                        <td>{{userDetail[0].firstName +" "+ userDetail[0].lastName}}</td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Mobile Number</b>

                                        </td>
                                        <td>
                                            {{userDetail[0].mobNumber}}
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">E-Mail</b>

                                        </td>
                                        <td>
                                            {{userDetail[0].email}}
                                        </td>
                                    </tr>

                                    <tr style="background: sandybrown;" ng-if="loginType=='school'">
                                        <td>
                                            <b style="color:teal;">D.O.Joining</b>
                                        </td>
                                        <td>
                                            {{userDetail[0].doj | date:' d MMM yyyy'}}
                                        </td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <div class="row" style="margin:20px!important;" ng-if="loginType=='vc4allAdmin'">
                            <div class="col-md-6 col-lg-4 col-sm-6" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                <table class="table table-responshive table-sm">

                                    <tr>
                                        <td style="color:  lightcoral;font-size: 20px;font-family: -webkit-pictograph;">
                                            VC4ALL ADMIN
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <img style="max-height:150px;" src="child.jpg">
                                        </td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Name</b>
                                        </td>
                                        <td>{{userDetail[0].firstName +" "+ userDetail[0].lastName}}</td>
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">Mobile Number</b>

                                        </td>
                                        <td>
                                            9066367679
                                        </td>
                                        <!-- <td>
                                            {{userDetail[0].mobNumber}}
                                        </td> -->
                                    </tr>
                                    <tr style="background: sandybrown;">
                                        <td>
                                            <b style="color:teal;">E-Mail</b>

                                        </td>
                                        <td>
                                            {{userDetail[0].email}}
                                        </td>
                                    </tr>
                                </table>
                            </div>


                        </div>
                        <!-- <div ng-if="loginType!='school'" class="row" style="margin: 20px !important;">

                            <div class="bio-row">

                                <p>
                                    <span>
                                        <b style="color:teal;">Name</b>
                                    </span> {{userDetail[0].firstName +" "+ userDetail[0].lastName}}</p>
                            </div>

                            <div class="bio-row" ng-if="loginType!='vc4allAdmin'">
                                <p>
                                    <span>
                                        <b style="color:teal;">School Name</b>
                                    </span> {{userDetail[0].schoolName}} </p>
                            </div>

                            <div class="bio-row" ng-if="loginType!='admin' && loginType!='vc4allAdmin'">
                                <p>
                                    <span>
                                        <b style="color:teal;">ID</b>
                                    </span> {{userDetail[0].schoolId}} </p>
                            </div>

                            <div class="bio-row" ng-if="loginType!='vc4allAdmin' && loginType!='studParent'">
                                <p>
                                    <span>
                                        <b style="color:teal;">Mobile Number</b>
                                    </span> {{userDetail[0].mobNumber}} </p>
                            </div> -->

                        <!-- <div class="bio-row" ng-if="loginType=='studParent'">
                                <p>
                                    <span>
                                        <b style="color:teal;">Class</b>

                                    </span>
                                    <span ng-repeat="cs in userDetail[0].cs"> {{cs.class}}/{{cs.section}}</span>
                                </p>
                            </div>

                            <div class="bio-row" ng-if="loginType!='admin'">
                                <p>
                                    <span>
                                        <b style="color:teal;">Date of birth</b>
                                    </span> {{userDetail[0].dob |date:"MMM-d-yyyy"}}</p>
                            </div>
                            <div class="bio-row" ng-if="loginType=='studParent'">
                                <p>
                                    <span>
                                        <b style="color:teal;">Date of Join</b>
                                    </span> {{userDetail[0].doj |date:"MMM-d-yyyy"}}</p>
                            </div>

                            <div class="bio-row" ng-if="loginType!='studParent'">
                                <p>
                                    <span>
                                        <b style="color:teal;">E-Mail</b>
                                    </span> {{userDetail[0].email}}</p>
                            </div>


                            <div class="bio-row" ng-if="loginType=='studParent'">
                                <p>
                                    <span>
                                        <b style="color:teal;">Father Name</b>
                                    </span> {{userDetail[0].parentName}}</p>
                            </div>



                            <div class="bio-row" ng-if="loginType=='studParent'">
                                <p>
                                    <span>
                                        <b style="color:teal;">Father Email</b>
                                    </span> {{userDetail[0].parentEmail}}</p>
                            </div>
                            <div class="bio-row" ng-if="loginType=='studParent'">
                                <p>
                                    <span>
                                        <b style="color:teal;">Father Phone</b>
                                    </span> {{userDetail[0].mobileNum}}</p>
                            </div>
                            <div class="bio-row" ng-if="loginType=='studParent'">
                                <p>
                                    <span>
                                        <b style="color:teal;">Mother Name</b>
                                    </span> {{userDetail[0].motherName}}</p>
                            </div>
                            <div class="bio-row" ng-if="loginType=='studParent'">
                                <p>
                                    <span>
                                        <b style="color:teal;"> Mother Email</b>
                                    </span> {{userDetail[0].motherEmail}}</p>
                            </div>
                            <div class="bio-row" ng-if="loginType=='studParent'">
                                <p>
                                    <span>
                                        <b style="color:teal;">Mother Phone</b>
                                    </span> {{userDetail[0].mobileNum}}</p>
                            </div>



                        </div>
                        <div style="margin: 20px !important;" class="row" ng-if="loginType=='teacher'">
                            <div class=" bio-row">
                                <p>
                                    <span>
                                        <b style="color:teal;">Classes Handle</b>
                                    </span>

                                </p>

                                <table class="table table-sm">
                                    <thead style="background: white;">
                                        <tr>
                                            <th>Class</th>
                                            <th>Section</th>
                                            <th>Subject</th>
                                        </tr>

                                    </thead>
                                    <tbody style="background: white;">
                                        <tr ng-repeat="css in userDetail[0].css">
                                            <td>{{css.class}}</td>
                                            <td>{{css.section}}</td>
                                            <td>{{css.subject}}</td>
                                        </tr>

                                    </tbody>
                                </table>

                            </div>
                        </div> -->
                        <!-- <div ng-if="loginType=='school'" class="row" style="margin: 20px !important;">

                            <img style="max-height:150px;margin-left: 20px;" ng-src={{userDetail[0].logoPath}}>

                        </div> -->
                        <div ng-if="loginType=='school'" class="row" style="margin: 20px !important;">
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b style="color:teal;">School Name</b>
                                    </span> {{userDetail[0].schoolName}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b style="color:teal;">School RegNumber</b>
                                    </span> {{userDetail[0].schoolRegNumber}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b style="color:teal;">Address</b>
                                    </span> {{userDetail[0].address}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b style="color:teal;">Email</b>
                                    </span> {{userDetail[0].email}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b style="color:teal;">Mobile Number</b>
                                    </span> {{userDetail[0].mobNumber}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b style="color:teal;">City</b>
                                    </span> {{userDetail[0].city}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b style="color:teal;">Street Name</b>
                                    </span> {{userDetail[0].streetName}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b style="color:teal;">PinCode</b>
                                    </span> {{userDetail[0].pinCode}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b style="color:teal;">Country</b>
                                    </span> {{userDetail[0].country}}</p>
                            </div>
                            <div class="bio-row">
                                <p>
                                    <span>
                                        <b style="color:teal;">Status</b>
                                    </span> {{userDetail[0].status}}</p>
                            </div>
                            <div class="form-group">
                                <table class="table table-bordered">
                                    <thead style="background: white;">
                                        <tr>
                                            <th>Class</th>
                                            <th>Section</th>
                                            <th>Subject</th>
                                        </tr>
                                    </thead>
                                    <tbody style="background: #ddd;" ng-repeat="css in userDetail[0].css">
                                        <tr>
                                            <td>{{css.class}}</td>
                                            <td>
                                                <span ng-repeat="sec in css.section track by $index">{{sec}}
                                                    <span ng-show="!$last">,</span>&nbsp;</span>
                                            </td>
                                            <td>
                                                <span ng-repeat="sub in css.subject  track by $index">{{sub}}
                                                    <span ng-show="!$last">,</span>&nbsp;</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <!-- <div class="bio-row" ng-repeat="css in userDetail[0].css">
                                <p>
                                    <span>
                                        <b style="color:teal;">Class</b>
                                    </span> {{css.class}}</p>
                                <p>
                                    <span>
                                        <b style="color:teal;">Section</b>
                                    </span>
                                    <span ng-repeat="sec in css.section">{{sec}}</span>
                                </p>
                                <p>
                                    <span>
                                        <b style="color:teal;">Subject</b>
                                    </span>
                                    <span ng-repeat="sub in css.subject">{{sub}}</span>
                                </p>
                            </div> -->
                        </div>
                    </div>
                </section>
            </div>
        </section>
    </section>

</div>