<div class="modal-header loginpopUp_header" style="height: 50px;     background-image: linear-gradient(to bottom, #383c3f 0%, #202224 100%);">
    <span class="modal-title" style="font-weight: 200;">
        <b>&nbsp;Event Details</b>
    </span>
    <button type="button" class="close" data-dismiss="modal" ng-click="$close()">&times;</button>
</div>
<style>
    .btn {
        background: none;
        box-shadow: none;
    }

    .modal-content {
        border-radius: 5px;
        background: white;
    }
</style>
<div class="modal-body">
    <center>
        <table>
            <tr>
                <td>
                    <label style="float:right;">Host&nbsp;&nbsp;:&nbsp;&nbsp;</label>
                </td>
                <td>
                    <lable style="float:left;">
                        <b>{{eventDetails.senderName}}</b>
                    </lable>
                </td>
            </tr>
            <tr>
                <td>
                    <label style="float:right;">Topic&nbsp;&nbsp;:&nbsp;&nbsp;</label>
                </td>
                <td>
                    <lable style="float:left;">
                        <b>{{eventDetails.title}}</b>
                    </lable>
                </td>
            </tr>
            <tr>
                <td>
                    <label style="float:right;">Timing&nbsp;&nbsp;:&nbsp;&nbsp;</label>
                </td>
                <td>
                    <lable style="float:left;">
                        <b>{{eventDetails.startsAt | date:'h:mm a'}}-{{eventDetails.endsAt | date:'h:mm a'}}</b>
                    </lable>
                </td>
            </tr>
            <tr>
                <td>
                    <label style="float:right;">Details&nbsp;&nbsp;:&nbsp;&nbsp;</label>
                </td>
                <td>
                    <lable style="float:left;">
                        <b>{{eventDetails.reason}}</b>
                    </lable>
                </td>
            </tr>
            <tr>
                <td>
                    <label style="float:right;">Participants&nbsp;&nbsp;:&nbsp;&nbsp;</label>
                </td>
                <td>
                    <span style="float:left;">
                        <lable>
                            <b ng-repeat="email in eventDetails.invite">{{email.remoteEmailId}},&nbsp;</b>
                        </lable>
                    </span>
                </td>
            </tr>
        </table>
    </center>






    <!-- ng-if only for history -->
    <!-- <thead ng-if="eventDetails.teacher_mom && eventDetails.parent_mom">
        <tr>
            <td>
                <div class="panel-heading">
                    Minutes of Meeting
                </div>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td ng-if="loginType='teacher'">
                <div style="color:green"><lable><b>{{eventDetails.teacher_mom}}</b></lable> </div>
            </td>
            <td ng-if="loginType='studParent'">
                <div style="color:green"><lable><b>{{eventDetails.parent_mom}}</b></lable> </div>
            </td>

        </tr>
    </tbody> -->
    <!-- <thead ng-if="viewType=='history'">
            <tr>
                <th>
                    <div class="panel-heading">
                        VC Record
                    </div>
                </th>
            </tr>
        </thead>
        <tbody ng-if="viewType=='history'">
            <tr>
                <td>
                    Video Conference
                </td>
                <td>
                    <video id="videoPlayer" autoplay='true' controls>
                        <source src="<lable><b>{{videoSrc}}</b></lable>" type="video/mp4"> Your browser does not support the video tag.
                    </video>
                </td>
            </tr>
        </tbody> -->

</div>
<div class="modal-footer loginpopUp_footer" style="    background-image: linear-gradient(to bottom, #383c3f 0%, #202224 100%);">
    <button class="btn btn-warning loginpopUp_footerBtn" type="button" ng-click="$close()">Close</button>
</div>