<div class="modal-header loginpopUp_header" style="
 background: #8c062a;">
    <button type="button" class="close" ng-click="$close()">&times;</button>
</div>
<div class="modal-body loginpopUp_body" style="color:#8c062a">
    {{message}}
</div>
<div class="modal-footer loginpopUp_footer">
    <button class="btn btn-info loginpopUp_footerBtn" type="button" ng-click="$close()">Ok</button>
    </button>
</div>

<!-- <div class="alert alert-warning fade in">
    <button data-dismiss="alert" class="close close-sm" type="button">
                        <i class="icon-remove"></i>
                    </button>
    <strong>Warning!</strong> {{message}}
  </div> -->